/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
$grid-unit : 20px;

body { 
	background : $medium-white;
	color : $dark-gray;
	font-family : DIN, Helvetica, Arial, sans-serif;
}

header { 
	@include clearfix;
	
	background : $dark-gray;
	color : $medium-white;
	border-top : 1px solid #fff;
	border-bottom : 1px solid $gray;
	
	
	section {
		position:relative;
		border-right : 1px solid #fff;
		border-left : 1px solid $gray;
		
		a {
			display:block;
			padding:$grid-unit;
			font-size : 20px;
			text-decoration:none;
			color : $medium-white;
		}
		
		&.first { 
			border-left-width : 0;
			width : 180px;
			float:left;
			
			a { 
				font-size : 16px;
			}
		}
		
		&.last { 
			border-right-width : 0;
			width:180px;
			float:right;
			
			a { 
				font-size:16px;
				
				.icon { 
					@include icons-sprite(settings); 
					display:block;
					float:right;
					height:18px;
					width:18px;
				}
			}
		}
		
		&.growing-plan { 
			padding : 0 240px;
			a { font-weight : bold; }
		}
	}
}