<h1>Welcome to the community of smart gardens!</h1>

<p>Verify your account by clicking the button below. That'll let us know you own this email address.</p>

<a class="btn" href="<%= verifyUrl %>">Verify your account</a>