extends ../layout

block head

  style
    a.page-link {
      display:block;
      text-decoration:underline;
    }

block content
  section.header
    header
      include ../includes/nav/main

  section#main(role="main", class="main")
    h1 Bitponics' Greatly Powerful Admin Panel
    h2 Be wise and generous.
    
    div
      a.page-link(href='/admin/devices') Manage Devices
      a.page-link(href='/admin/gardens') Manage Gardens
      a.page-link(href='/admin/grow-plans') Manage Grow Plans
      a.page-link(href='/admin/grow-systems') Manage Grow Systems
      a.page-link(href='/admin/plants') Manage Plants
      a.page-link(href='/admin/generate-sample-device-request') Generate device request
      a.page-link(href='/admin/photos') View All Photo Data
      a.page-link(href='/admin/photos?s3=true') View All S3 Photo Data
      a.page-link(href='/admin/photos/upload') Upload a Photo
      

    form(action="/admin/trigger-clearPendingNotifications", method="POST")
      input(type="submit", value="Trigger clearPendingNotifications") 
    
    form(action="/admin/trigger-scanForPhaseChanges", method="POST")
      input(type="submit", value="Trigger scanForPhaseChanges")
    
    form(action="/admin/trigger-checkDeviceConnections", method="POST")
      input(type="submit", value="Trigger checkDeviceConnections")
    
    form(action="/admin/trigger-processNewFTPPhotos", method="POST")
      input(type="submit", value="Trigger processNewFTPPhotos")

    form(action="/admin/trigger-processUnreadEmailPhotos", method="POST")
      input(type="submit", value="Trigger processUnreadEmailPhotos")

    
    
