extends ../layout

block head
  style
    a {
      display:block;text-decoration:underline;
    }

block content
  h1 Admin Panel
  form(action="/admin/trigger_clearPendingNotifications")
    input(type="submit", value="Trigger clearPendingNotifications") 
  form(action="/admin/trigger_scanForPhaseChanges")
    input(type="submit", value="Trigger scanForPhaseChanges")
  div
    a(href='/admin/add-device') Add Device
    a(href='/admin/generate-sample-device-request') Generate device request
    a(href='/admin/photos') View All Photo Data
    a(href='/admin/photos?s3') View All S3 Photo Data
    a(href='/admin/photos/upload') Upload a Photo
  