extends ../layout


block head
  base(href="/account/devices/#{device._id}/calibrate/")
  script 
    bpn.pageData["deviceId"] = !{JSON.stringify(device._id)};

  mixin requirejs("/assets/js/pages/calibrate")


block css 
  style
    button {
      display: block;
    }
    .overlay {
      display:none;
    }

block content
  img.page-spinner.spinner(src="/assets/img/spinner.svg", ng-hide="true")
  div(ng-cloak, ng-controller="bpn.controllers.calibrate.Main")
    div(ng-view)

  div#overlay.overlay

block footer-scripts
  
  script(type="text/ng-template", id="select.html")
    h1 Which probe would you like to calibrate?
    p
      a(class="btn", href="ph") pH
        | <i class="icon-glyph icon-glypharrow" aria-hidden="true"></i>
      a(class="btn", href="ec") EC/TDS
        | <i class="icon-glyph icon-glypharrow" aria-hidden="true"></i>

  script(type="text/ng-template", id="ph-7.html")
    h1 Calibrating your pH probe
    p 
      | Calibrating pH is a 3-step process. You'll calibrate your probe to pH 7, then pH 4, and finally pH 10. And then you'll be all set!

    h2 Step 1
    p We'll start with pH 7. 
    ul
      li Rinse the tip of the probe under tap water. 
      li You should have a bottle labeled "pH 7 Calibration Solution". Pour a small amount of the solution into another small container, just enough to submerse the tip of the probe.
      li Place the probe into the solution, then click the button below. Once you click, the calibrating process will begin, and we'll notifiy you when the step is complete. Calibrating may take several minutes. 
    button(ng-click="showOverlay()") Calibrate ph 7

  script(type="text/ng-template", id="ph-4.html")
    
    h2 Step 2
    p 
      | Great! ph 7 is done, onto pH 4.
    ul 
      li Unscrew the cap on your pH probe. 
      li Rinse the tip of the probe under tap water. 
      li You should have a bottle labeled "pH 4 Calibration Solution". Pour a small amount of the solution into another small container, just enough to submerse the tip of the probe.
      li Place the probe into the solution, then click the button below. Once you click, calibrating may take several minutes. 
    button(ng-click="showOverlay()") Calibrate ph 4

  script(type="text/ng-template", id="ph-10.html")
    h2 Last Step
    p Great! ph 7 and ph 4 are done, onto pH 10.
    ul
      li Rinse the tip of the probe under tap water. 
      li You should have a bottle labeled "pH 10 Calibration Solution". Pour a small amount of the solution into another small container, just enough to submerse the tip of the probe.
      li Place the probe into the solution, then click the button below. Once you click, calibrating may take several minutes. 
    button(ng-click="showOverlay()") Calibrate ph 10

  
  script(type="text/ng-template", id="ph-done.html")
    
      h2 Cool beans! Your pH probe is now calibrated. 
      p If you also have an EC/TDS probe, 
        a(href="ec") click here to start EC calibration. 
        | If not, you can just continue on and check out your latest probe readings on your 
        a(href="/account/devices") devices page 
        | or head over to your 
        a(href="/dashboard") Dashboard
        | .


  script(type="text/ng-template", id="ec-dry.html")
    
    h1 Calibrating your EC probe
    p 
      | Calibrating EC is a 3-step process. You'll calibrate your probe to "dry", then to 3000&#956;S, and finally to 220&#956;S. And then you'll be all set!

    h2 Step 1
    p We'll start with EC-Dry. 
    ul
      li Rinse the tip of the probe under tap water. 
      li Dry off the tip of the probe with a paper towel, then click the "Calibrate EC-Dry" button below.
        | Once you click, the calibrating process will begin, and we'll notifiy you when the step is complete. Calibrating may take several minutes. 
    button(ng-click="showOverlay()") Calibrate EC-Dry


  script(type="text/ng-template", id="ec-hi.html")
    
    h2 Step 2
    p Great! EC-Dry is done, onto EC 3000&#956;S.
    
    ul
      li You should have a bottle labeled "EC 3000&#956;S". Pour a small amount of the solution into another small container, just enough to submerse the tip of the probe.
      li Place the probe into the solution, then click the button below. Once you click, calibrating may take several minutes.
    button(ng-click="showOverlay()") Calibrate EC-3000&#956;S

  
  script(type="text/ng-template", id="ec-lo.html")
    
    h2 Last Step
    p Great! EC-Dry and EC-3000µS are done, onto EC-220&#956;S.
    ul
      li You should have a bottle labeled "EC 220&#956;S". Pour a small amount of the solution into another small container, just enough to submerse the tip of the probe.
      li Place the probe into the solution, then click the button below. Once you click, calibrating may take several minutes.
    button(ng-click="showOverlay()") Calibrate EC-220&#956;S


  script(type="text/ng-template", id="ec-done.html")
    
      h2 Nice, your EC probe is now calibrated. 
      p Now you can check out your latest probe readings on your 
        a(href="/account/devices") devices page 
        | or head over to your 
        a(href="/dashboard") Dashboard
        | .