extends ../layout

block css 
  link(rel='stylesheet', href='/assets/css/pages/calibrate.css')

block content

   h1 Calibrate your pH probe
      ol
        li 
          div 
            | [TBD Directions], then click
            button#calibrate-ph4 Calibrate ph4

        
             

block footer-scripts
  script 
    bpn.pages.calibrate = {
        "deviceId" : !{JSON.stringify(device._id)}
    };
    
  script(src='/socket.io/socket.io.js')
  script(src='/assets/js/pages/calibrate.js')
