extends ../layout

block css

block content

	section.header
		header
			include ../includes/nav/main

	section#main(role="main", class="main")
		h1(class="page-heading separator-bottom") Guides to Hydroponic Gardening
		
		ul
			li
				h2 
					a(href="/guides/water-culture-system") Setting up your water culture system