extends ../layout

block css
  
block content

  section.header
      header
        include ../includes/nav/main

  section#main(role="main", class="main")
    div(id="waterculture", class="content-module middle")
      h1(class="page-heading separator-bottom") Getting Started With Your Water Culture System
      
      p.youtube-embed-wrapper
        iframe(id="ytplayer", type="text/html", src="https://www.youtube.com/embed/78tcY9dmVsg", frameborder="0")


      p A water-culture system is the simplest type of hydroponic system. Its defining feature is that plants sit in an aerated nutrient solution, versus other systems where the nutrient solution is actively pumped over plant roots. They come in all shapes and sizes, and can be used to grow anything from a single large tomato plant to numerous leafy greens. The system we've provided you is a 6-plant system that's perfect for growing all kinds of leafy greens and herbs. And anything else that doesn't grow too large.
      h2#parts(class="page-heading-small separator-bottom") Parts
      // TODO : photograph of each component 
      ul
        li Reservoir
        li Lid
        li Air Pump
        li Airline Tubing
        li Net Cups
        li LECA (Lightweight Expanded Clay Aggregate) pebbles
        li Seed-starting Plugs
      
      h2#starting-seeds(class="page-heading-small separator-bottom") Starting Seeds
      p
        | So, you'll need to have plants to put into your system. You can either buy plants from a nursery or farmer's market and 
        a(href='#transplanting') transplant them
        | , or you can start your own plants from seed. At the simplest level, this means putting seeds into the seed-starting plugs & keeping them moist until they've sprouted and are ready to transplant. Here's a more detailed breakdown:
      ol
        li
          | Get a seed-starting tray ready. It should be some kind of waterproof tray that you can place a clear plastic lid on. Plastic egg cartons actually make great seed-starting trays. Remove all labels & stickers, tear or cut apart the lid from the tray, and wash with soap and water.
        li Moisten seed-starting plugs.
        li
          | Place 3-4 seeds in the center of each plug. Seeds should be planted approximately twice as deep as the seed is wide. For very tiny seeds (like mint), just press the seeds gently into the surface.
        li
          | Place the plugs in the tray and add just enough water to coat the bottom of the tray. You want the plugs to remain moist but not be sopping wet. Place the lid on top of the tray.
        li
          | Now keep the tray in an area that won't get too cold. A great spot is actually on top of the refrigerator; the ambient heat that rises from the back of the fridge will keep the seeds nicely warm.
        li Check the seeds daily. Add water when necessary.
        li
          | Depending on the type of seed, they should sprout within 2-7 days. Once they've sprouted, move the tray to an area that gets plenty of light. A sunny windowsill is great, or you could put it under a CFL bulb or fluorescent tube. Keep the light around 2-4 inches away from the seedlings. Closer than that and you risk burning the seedlings, but much further away and the seedlings will strain to reach the light, resulting in spindly & weak seedlings.
        li
          | Once the seedlings start developing their first 
          a(href='http://www.veggiegardener.com/what-are-a-vegetable-plants-true-leaves/') true leaves
          | , it's time to thin them and transplant them into the water culture system. Choose the single strongest plant per plug. Cut the rest off at the base.
      
      h2#transplanting(class="page-heading-small separator-bottom") Transplanting Plants
      ol
        li
          | If you're transplanting plants that were grown in soil, first rinse the soil off the roots.
        li Rinse the clay pebbles until clear of dust. 
        li Place a single layer of pebbles at the bottom of a net cup. 
        li Place the plant or seed-starting plug in the net cup.
        li
          | Fill the remainder of the net cup with clay pebbles, or up to the level of the first leaves.
      
      h2#putting-it-all-together(class="page-heading-small separator-bottom") Putting It All Together
      p Alright! Now you've got seedlings raring to get into their new home.
      h3(class="page-heading-small") Where to put it?
      p
        | You'll want a place that gets indirect or direct light for most of the day. A sunny window is great, or you grow it under supplemental lights. Leafy greens will do well with at least 12 hours of light a day.
      
      h3(class="page-heading-small") Assembly
      ul
        li Unpack everything. 
        li
          | Connect the air stone to the air pump using the airline tubing. Place the air stone in the bottom of the reservoir, and place the air pump outside the reservoir.
        li Fill the reservoir with water.
        li
          | Plug in the air pump. You should see tiny bubbles being emitted along the length of the air stone. These bubbles oxygenate the water and create a perfect air+water+nutrients environment for your plants' roots.
        li
          | Place the net cups (with plants potted in them) into the circular openings of the lid. Place the lid back onto the reservoir.
        li You are now hydroponically gardening. Yay!
      
      h2#device-setup.page-heading-small.separator-bottom Have a Bitponics device?
      p If you have a Bitponics device you'd like to use with your system, head on over to the 
        a(href="/setup") device setup page
        |  to get connected.

      h2#plant-maintenance(class="page-heading-small separator-bottom") Plant Maintenance
      p
        | Once your plants have their first set of true leaves, it's time to give them some nutrients. Before then, the seedlings get all the energy they need from the stored energy of the seed itself. The kind of nutrients you use will depend on what you're growing, but if you're growing just leafy greens & herbs, you can use a simple all-in-one liquid nutrient.
      p
        | One we've used and have had good results with is 
        a(href='http://www.amazon.com/gp/product/B000E22278/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000E22278&linkCode=as2&tag=bitponics-20')  General Hydroponics FloraNova Grow
        | .
        p
          | With any nutrient, follow the directions on the bottle for how much to use. They're usually in terms of teaspoons per gallon. For reference, the system we provided holds about 4 gallons.


