extends ../layout

block head
  base(href="/profiles/")

  mixin requirejs("/assets/js/pages/profiles/detail")

  script(type="text/ng-template", id="user.html")

block css

block content
  section.header
    header
      include ../includes/nav/main

  section#main(role="main", class="main", ng-controller="bpn.controllers.profiles.Main", ng-cloak)

    h2.page-heading(ng-show="!user") Loading user profile...
    h2.page-heading(ng-show="user") {{user.name.first + ' ' + user.name.last}}'s Profile

    div.separator-top.ng-cloak(ng-show="user")
      h3 {{user.name.first}}'s Gardens!
      div.separator-top
        img.page-spinner.spinner(src="/assets/img/spinner.svg", ng-hide="true")
        ul(
            class="garden-list grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 block-info-set sortlist photos", 
            ng-show="userGardenResults.data.length")
            li(ng-repeat="garden in userGardenResults.data", class="garden-list-item grid-cell grid-cell-animation", style="-webkit-transition-delay:{{$index * 100}}ms")
              div.img-wrapper(bpn-directives-garden-photo-grid)
              div.first
                h3.label {{garden.name}}

              ul(class="plantlist")
                li(ng-show="!garden.growPlan.plants.length")
                  span.value.plant All Plants
                li(ng-repeat="plant in garden.growPlan.plants track by $index | orderBy:name", class="grid-cell")
                  span.value(class="plant") {{plantsById[plant].name}}&nbsp;
              p 
                a(href="/grow-plans/{{garden.growPlan._id}}") {{garden.growPlan.name}} Grow Plan

              p Started {{garden.startDate | friendlyDate:'lowercase'}}

              a.btn(href="/gardens/{{garden._id}}") Dashboard

        div(ng-hide="userGardenResults.data.length")
          a.btn(href="/setup/grow-plan") Set up your first garden!

      div.separator-top
        h3 {{user.name.first}}'s Grow Plans!
        
        ul(ng-cloak, class="grow-plan-list grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 block-info-set sortlist photos separator-top")
          li(ng-repeat="growPlan in userGrowPlanResults | orderBy:'-activeGardenCount'", class="grow-plan-list-item grid-cell", style="")
            div.img-wrapper(bpn-directives-grow-plan-photo-grid)
            div.first
              h3.label {{growPlan.name}}

            ul(class="plantlist")
              li(ng-show="!growPlan.plants.length")
                span.value.plant All Plants
              li(ng-repeat="plant in growPlan.plants track by $index | orderBy:name", class="grid-cell")
                span.value(class="plant") {{plantsById[plant].name}}&nbsp;
            p Used by&nbsp;
              a(href="/grow-plans/{{growPlan._id}}/gardens") {{growPlan.activeGardenCount || 0}} gardens
            p Created by&nbsp;
                a(href="/profiles/{{growPlan.createdBy._id}}") {{growPlan.createdBy | communityMemberName}}
            a.btn(href="/grow-plans/{{growPlan._id}}") Details
        //-ul(class="grid grid--top grid--wrapping grid--gutters grid--full medium-grid--1of3 small-no-flexbox-grid--1of2 medium-no-flexbox-grid--1of3 block-info-set sortlist photos")
          li(ng-repeat="growPlan in userGrowPlanResults | orderBy:'-activeGardenCount'", class="grid-cell grid-cell-animation", style="-webkit-transition-delay:{{$index * 100}}ms")
            div.img-wrapper
              div.icon-glyph.icon-__62_logo_00e36c
            div.first
              div.value {{growPlan.name}}
            p.plants
              ul(class="plantlist small-float")
                li(ng-repeat="plant in growPlan.plants track by $index | orderBy:name", class="grid-cell")
                  span.value(class="plant", ng-repeat="plant2 in sharedDataService.plants | filter:{ _id: plant }") {{plant2.name}}&nbsp;
            p Used by {{growPlan.activeGardenCount}} gardens
            a.btn(href="/grow-plans/{{growPlan._id}}") Details

  block footer-scripts
    script
      bpn.pageData.profileId = "#{profileId}";
      bpn.plants = !{JSON.stringify(plants)};
