if (settings.env == 'local' || settings.env == 'development')
	link(rel='stylesheet', href='/assets/css/libs/resets.css')
	link(rel='stylesheet', href='/assets/css/global/breakpoints.css')
	link(rel='stylesheet', href='/assets/css/global/colors.css')
	link(rel='stylesheet', href='/assets/css/global/effects.css')
	link(rel='stylesheet', href='/assets/css/global/fonts.css')
	link(rel='stylesheet', href='/assets/css/global/icons.css')
	link(rel='stylesheet', href='/assets/css/global/utils.css')
	link(rel='stylesheet', href='/assets/css/helpers.css')
	link(rel='stylesheet', href='/assets/css/forms.css')
	link(rel='stylesheet', href='/assets/css/typography.css')
	link(rel='stylesheet', href='/assets/css/base.css')
	link(rel='stylesheet', href='/assets/css/layout-large.css')
	link(rel='stylesheet', href='/assets/css/layout-medium.css')
else
	link(rel='stylesheet', href='/assets/css/all.css')

block css

script(src='/assets/js/libs/modernizr.js')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

script window.jQuery || document.write('<script src="/assets/js/libs/jquery-1.8.2.min.js"><\/script>')


script
	bpn = {
		pages : {},
		pageData : {}
	};

include mixins