//- if (settings.env == 'local' || settings.env == 'development')
link(rel='stylesheet', href='/assets/css/libs/resets.css')
link(rel='stylesheet', href='/assets/css/base.css')
link(rel='stylesheet', href='/assets/css/forms.css')
link(rel='stylesheet', href='/assets/css/typography.css')
link(rel='stylesheet', href='/assets/css/tablet.css',  media='screen and (min-width: 40em)')
link(rel='stylesheet', href='/assets/css/desktop.css',  media='screen and (min-width: 50em)')
//- else
	link(rel='stylesheet', href='/assets/css/all.css')

block css

script(src='/assets/js/libs/modernizr.js')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

script window.jQuery || document.write('<script src="/assets/js/libs/jquery/jquery-1.7.1.js"><\/script>')


script
	Bitponics = {
		appUrl : '!{appUrl}',
		pages : {}
	};

mixin requirejs(datamain)
	script(src='/assets/js/libs/require.js', data-main=datamain)
	script
		require.config({
			paths: {
				'viewmodels': '/assets/js/shared/viewmodels', 
				'es5shim': '/assets/js/libs/es5-shim.min',
				'steps': '/assets/js/libs/Steps',
				'moment': '/assets/js/libs/moment.min',
				'utils': '/assets/js/shared/utils',
				'scrollto': '/assets/js/libs/jquery/jquery.scrollTo.min',
				'localscroll': '/assets/js/libs/jquery/jquery.localScroll.min',
				'flexslider': '/assets/js/libs/flexslider/jquery.flexslider-min',
				'backstretch': '/assets/js/libs/jquery-backstretch/jquery.backstretch.min'
			}
		});