@import "utils"
vars = json('../../../../public/assets/config/media-queries.json', { hash: true });

/*
 * Define our media query rules
 */
$mq_smaller = vars['$mq_smaller']
$mq_small = vars['$mq_small']
$mq_small_height = vars['$mq_small_height']
$mq_medium = vars['$mq_medium']
$mq_large = vars['$mq_large']
$mq_larger = vars['$mq_larger']
