color-logo-green=#00E36C
color-text-gray=#999999
color-bg-gray=#C1C2C4 //matches footer image background color
color-bg-light-gray=#eaeaea //gray for unfocused input fields, etc.
color-bg-yellow=#f4e800
color-bg-orange=#fac400
color-bg-light-green=#cbffd1
color-border-gray=#d8d8d8




// color-logo-green=#23b500
// color-medium-green=color-medium-green2 //trying to settle on one main green
// color-light-green=#46f121
// color-global-background=#fff
// color-sensor-light=#D2E000
// color-sensor-air=#24d321
// color-sensor-water=#00CBCB
// color-sensor-empty=#999
// color-carrot-green=rgba(67, 240, 32, .5)
// color-warning=#D2E000
// color-phase-seedling=lighten(color-logo-green, 20%)
// color-phase-vegetative=lighten(color-logo-green, 10%)
// color-phase-blooming=darken(color-logo-green, 20%)
// color-phase-fruiting=darken(color-logo-green, 60%)
// color-text-gray=#999b9a
// color-text-gray-sep=lighten(color-text-gray, 50%)
// color-text-gray2=#666666
// color-text-graydark=color-text-gray
// color-bg-gray=#f5f5f5
// color-hot-green=#00E36C
// color-light-green2=#92ED00
// color-medium-green2=#00F717
// color-blue-green=#00F5A3
// color-light-gray=#CBCBCB
// color-light-gray-bg=#C1C2C4
