color-logo-green=#23b500
color-medium-green=#24d321
color-light-green=#46f121
color-global-background=#fff
color-sensor-light=#D2E000
color-sensor-air=#24d321
color-sensor-water=#00CBCB
color-sensor-empty=#999
color-carrot-green=rgba(67, 240, 32, .5)