@font-face {
	font-family: 'Bitponics-Glyphs';
	src:url('../../../../assets/fonts/Bitponics-Glyphs.eot');
	src:url('../../../../assets/fonts/Bitponics-Glyphs.eot?#iefix') format('embedded-opentype'),
		url('../../../../assets/fonts/Bitponics-Glyphs.svg#Bitponics-Glyphs') format('svg'),
		url('../../../../assets/fonts/Bitponics-Glyphs.woff') format('woff'),
		url('../../../../assets/fonts/Bitponics-Glyphs.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Bitponics-Glyphs';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
