med-white=#f5f5f4
dark-gray=#333
gray=#dfdfdf
border-light=#999
base-font-size=16px

create-triangle(dir, size, color)
  height 0
  position absolute
  width 0
  if dir == 'up'
    border-left size solid transparent
    border-right size solid transparent
    border-bottom size solid color
  else if dir == 'down'
	  border-left size solid transparent
  	border-right size solid transparent
	  border-top size solid color
  else if dir == 'left'
    border-right size solid color
    border-top size solid transparent
    border-bottom size solid transparent
  else if dir == 'right'
	  border-left size solid color
	  border-top size solid transparent
  	border-bottom size solid transparent

set-border(color)
  1px solid color

def-border-white()
  set-border(med-white)

def-border-dark-gray()
  set-border(dark-gray)

def-border-gray()
  set-border(gray)

create-repeating-linear-gradient(string-args)
  background-image -webkit-repeating-linear-gradient(string-args)
  background-image -moz-repeating-linear-gradient(string-args)
  background-image -o-repeating-linear-gradient(string-args)
  background-image -ms-repeating-linear-gradient(string-args)
  background-image repeating-linear-gradient(string-args)

// font-size($sizeValue = 1.6)
//   font-size ($sizeValue * 10) px
//   font-size $sizeValue rem

/*
 * Allow for defining breakpoints as variable in one spot.
 *
 * Due to stylus issue: https://github.com/LearnBoost/stylus/issues/1038
 * This is a mixin workaround for using media query variables. Usage:
 *    $_media = media(screen,'and',(min-width $screen-tablet))
 *    @media $_media
 *      .container
 *        max-width 728px
 */
media_definition(args...)
  output = null
  for arg in args
    // check for tuple
    if arg[1]
      push(output,unquote('(%s: %s)' % (arg[0] arg[1])))
    else
      push(output,unquote(arg))

  unquote(s('%s',output))