med-white=#f4f4f4
dark-gray=#333
gray=#dfdfdf

create-triangle(dir, size, color)
  height 0
  position absolute
  width 0
  if dir == 'up'
    border-left size solid transparent
    border-right size solid transparent
    border-bottom size solid color
  else if dir == 'down'
	  border-left size solid transparent
  	border-right size solid transparent
	  border-top size solid color
  else if dir == 'left'
    border-right size solid color
    border-top size solid transparent
    border-bottom size solid transparent
  else if dir == 'right'
	  border-left size solid color
	  border-top size solid transparent
  	border-bottom size solid transparent

set-border(color)
  1px solid color

default-border()
  1px solid med-white

default-gray-border()
  1px solid dark-gray
