med-white=#f5f5f4
dark-gray=#333
gray=#dfdfdf
border-light=#999

base-font-size=16px

create-triangle(dir, size, color)
  height 0
  position absolute
  width 0
  if dir == 'up'
    border-left size solid transparent
    border-right size solid transparent
    border-bottom size solid color
  else if dir == 'down'
	  border-left size solid transparent
  	border-right size solid transparent
	  border-top size solid color
  else if dir == 'left'
    border-right size solid color
    border-top size solid transparent
    border-bottom size solid transparent
  else if dir == 'right'
	  border-left size solid color
	  border-top size solid transparent
  	border-bottom size solid transparent

set-border(color)
  1px solid color

def-border-white()
  set-border(med-white)

def-border-dark-gray()
  set-border(dark-gray)

def-border-gray()
  set-border(gray)

create-repeating-linear-gradient(string-args)
  background-image -webkit-repeating-linear-gradient(string-args)
  background-image -moz-repeating-linear-gradient(string-args)
  background-image -o-repeating-linear-gradient(string-args)
  background-image -ms-repeating-linear-gradient(string-args)
  background-image repeating-linear-gradient(string-args)

// font-size($sizeValue = 1.6)
//   font-size ($sizeValue * 10) px
//   font-size $sizeValue rem