//@import "../../global/utils"
@import "../../helpers"
@import "../../typography"

@keyframes full-circle
  0%, 100% 
    transform : rotate(0deg);
  50%
    transform : rotate(180deg);


.user-page {
  nav {
    //border-top set-border(med-white)
    //color med-white
    ul {
      font-size: 0; //fix whitespace dependent inline-block
      border-bottom set-border(border-light)
      width 100%
      overflow hidden
      li {
        width 16%
        @extends .display-ib
        @extends .text-normalize
        @extends .ellipsis
        height: 100%;

        a {
          @extends .padding-20
          @extends .din-text
          @extends .content-box
          width: 100%;
          border-right set-border(border-light)
          height: 100%;
          span {

          }
        }
      }
      li.first {
        a {
          
        }
      }
      li.last {
        a {
          border 0 none
        }
      }
      li.logo {
        @extends .hide-text
        background url('/assets/img/logo.png') no-repeat 20px 45%
        background-size auto 50%
        width: 22.5%
      }
      li.growing-plan {

        width 43.5%
        a {
          position: relative

        }
        .triangle-down {
          margin 5px 0 0 5px
          right 20px
        }
      }
      li.user {
      }
      li.language {
        width: 13%;
      }
      li.settings {
        width: 4.9999%;
      }
    }
  }
  section {
    header {
      font-size: 0;
      h1, h2 {
        @extends .display-ib
        @extends .text-normalize
      }
      .date, .time {
        @extends .din-text  
        @extends .padding-20
      }
      .date {
        width 80%
        text-align left
      }
      .time{
        width 20%
        text-align right
      }
    }
    ul {
      font-size: 0;
      li {
        width 25%
        @extends .display-ib
        @extends .text-normalize
        @extends .ellipsis
        
        position:relative;

        h2, span {
          @extends .din-text
          text-align center
        }

        section { 
          padding:0 1px;
        }
        section.light {
          .data-graph {
            height: 50px;
          }
        }

      }
    }

    #graph-timeline {
      position absolute
      top 198px
      bottom 200px
      width 100%
      //TODO: get include working for this:
      //create-repeating-linear-gradient("45deg,transparent,transparent 2px,rgba(255, 255, 255, 0.5) 4px,rgba(255, 255, 255, 0.5) 8px")
      background -webkit-repeating-linear-gradient(45deg,transparent,transparent 2px,rgba(255, 255, 255, 0.5) 4px,rgba(255, 255, 255, 0.5) 8px)
      //background: rgba(255, 255, 255, 0.5)
      .progress{
        background #99d264
        height 100%
        width 25%
      }

      #main-data-graph {
        position:absolute;
        width:100%;
        height:50%;
        bottom:0;
      }
    }

    #graph-nav {
      position absolute
      bottom 0
      height 200px
      width 100%
      border-top set-border(#000)

      .photo-stream {
        height 100px
        position relative
        overflow hidden

        ul li {
          width 100px
          height 100px

          img {
            width 100px
            height 100px
            margin 0 1px 0
          }
        }

        .add-photo {
          position:absolute
          right 0
          top 0
          width 100px
          height 100px
          border-left: 2px solid #000
          background:#F5F5F4

          img {
            height 35px
            margin-top 30px
            margin-left 25px
            opacity .85
          }
        }
      } // /.photo-stream

      .notifications {
        border-top: 1px solid #000
        border-bottom: 1px solid #000
        height:100px;
        position: relative

        .arrow-left, .arrow-right {
          height:100px
          width:100px
          float left
          border-right:2px solid #000

          img {
            width 35px
            height 35px
            margin-top:35px
            margin-left:25px
          }
        }

        .arrow-right {
          img {
            margin-left:35px
          }
        }

        .notification {
          height 100%
          overflow:hidden

          .calendar {
            float:left
            width:100px
            height 100%

            img {
              width:35px
              height:35px
              opacity .85
              margin: 30px 0 0 30px
            }
          }
        }

        .text {
          color: #333
          margin-left:100px
          line-height: 100px
        }
      } // /.notification

      .add-log {
        position absolute
        top 0
        right 0
        width 100px
        height 100px
        background: #F5F5F4
        border-left: 2px solid #000

        img {
          width 35px
          margin-top:30px
          margin-left: 30px
          opacity .85
        }
      }
    } // /#graph-nav


  }
}

.triangle-up
  create-triangle('up', 5px, dark-gray)
.triangle-down
  create-triangle('down', 5px, dark-gray)
.triangle-left
  create-triangle('left', 5px, dark-gray)
.triangle-right
  create-triangle('right', 5px, dark-gray)



