extends error

block content
  h1 Error: #{error.message}
  if settings['verbose errors']
    pre= error.stack
  else
    p We seem to have nematodes in our servers. Please pardon the error. Our engineers are automatically emailed every server error, but if you need to get in touch with us, you can do so through
      a(href="/help") our help page
      | .