- pageType = 'app-page'
extends layout

block content
  
	section.header
		header
			include includes/nav/main

	section#main(role="main", class="main error")
		div.content-module.middle
			h2.page-heading Error:
			div.separator-top
				p #{error.message}
				if settings['verbose errors']
					pre= error.stack
				else
					p We've encountered an error in our servers. Please pardon the error. Our engineers are automatically emailed every server error, but if you need to get in touch with us, you can do so through
					a(href="/help") our help page
					| .