extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main")
    h3(class="page-heading nav-section")
      div About
      | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
    div.page-content
      h4.headline-about
        | bitponics is your personal gardening assistant.
      p.blurb
        | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
        | An add-on to any existing hydroponics system. 
        | It simplifies and automates the growing process. 
        | Monitor your garden, control your lights &amp; 
        | pumps &amp; get notified when your plants need 
        | attention. All in real-time and all on the web.

      //- p
      //-   | It's a device and a website that will simplify hydroponic gardening. You tell it about your setup and what plants you're growing, and it provides you with a personalized growing plan that tells you how to achieve the best possible results. Sensors in your garden send readings to your account on the Bitponics website. The website then processes that information and sends notifications back to your device to control things such as pumps and lights. You can track your results and share your experiences with other users, so that we all help each other become better gardeners.</p>
      //- p
      //-   | The device and firmware will be open source, allowing you to adapt the device and use your data however you like. </p>
      //- p
      //-   | The web service will offer a fully-functional free tier that lets you track data for one growing season. And we'll have affordable tiers of service for when you want to track more data.</p>
      //- p
      //-   | How much knowledge is gained every season by gardeners? Each of us are trying out little tweaks to our gardens to see if it'll make our plants happier...imagine if all of a sudden we had an easy way share that with each other in real time. What could we learn by looking at past growing histories, comparing them to current results, and examining how each environmental factor played its part in our plants' health? We think it would be amazing to find out!</p>
      //- p
      //-   | Bitponics is currently in development. We plan on shipping the first batch of devices and having the software beta ready in September. Help support the project by <a href="http://www.kickstarter.com/projects/1498890810/bitponics-your-shortcut-to-a-green-thumb">backing us on Kickstarter!</a></p> 

  section#footer

block footer-scripts
