ul
	li
		| <a href="http://thenounproject.com/noun/cloud/#icon-No6853" target="_blank">Cloud</a> designed by <a href="http://thenounproject.com/pjsmits" target="_blank">Pieter J. Smits</a> from The Noun Project

	li
		| <a href="http://thenounproject.com/noun/camera/#icon-No10417" target="_blank">Camera</a> designed by <a href="http://thenounproject.com/Stephanie Wauters" target="_blank">Stephanie Wauters</a> from The Noun Project