extends layout

block css

block content
  section.header
    header
      include includes/nav/main

  section#main(role="main", class="main")
    div(id="buy", class="content-module middle")
        h3(class="page-heading nav-section")
            | You can now order the Bitponics device.

        h3.sub-heading 

        div(class="page-content")

            //- p You can now order the Bitponics device at a 20% discount. This is a limited run of 50, so don't sleep on it.

            img(src="/assets/img/home/Bitponics_Hssld_H4D_0085.jpg", alt="Bitponics Device")


            div.retail-price
                  span.dollar-sign $
                  span.price-number 499
                  div.additional-text
                        span Retail 
                        span Price


            div.center.preorder-price
                  span.dollar-sign $
                  span.price-number 499
                  div.additional-text
                        span Preorder &nbsp;
                        span Offer

            div(class="center clearfix")
                  div.braintree
                        form(action="/buy/create_transaction", method="POST", id="braintree-payment-form")
                              p
                                    label Card Number
                                    input(type="text", size="20", autocomplete="off", data-encrypted-name="number")
                              p
                                    label CVV
                                    input(type="text", size="4", autocomplete="off", data-encrypted-name="cvv")
                              p
                                    label Expiration (MM/YYYY)
                                    input(class="display-ib", type="text", size="2", name="month")
                                    input(class="display-ib", type="text", size="4", name="year")
                              
                              input(type="submit", id="submit")


block footer-scripts
      script(type="text/javascript", src="https://js.braintreegateway.com/v1/braintree.js")
      script
            // var braintree = Braintree.create("MIIBCgKCAQEAxyutibn74unFRcupjGNamPBKhHKMYZV76bo2z+PIu2cRWpVL24yhmnwWnfUeUpZ5aVRXNN/3k5wEVec5E6uQIVuHD/43xuMYGJBHXUAB2ZnhD1MYXwb13W3xH2DXvFf2oxWbpAoG6SvhQMilXxgLbBl7ag8MpS6nc28HkI+qnnYOGb0Hd3vZQujP9I9kZL5hxjZIXaUr2UoaOAOu/SvNHsuFdIpJXu+pBcvHSZ3l/pvfHa/JAIPiRsTtGalR9xOr83/IjE4HP8jkeh4EqazaZbv8DXMbuzJYCFOzj4+/KI+WZPFY7Fy9GybB1ddTpq23yj2PDTI9ya3JXy88vU/WTQIDAQAB");
            // braintree.onSubmitEncryptForm('braintree-payment-form');
            var ajax_submit = function (e) {
                  form = $('#braintree-payment-form');
                  e.preventDefault();
                  $("#submit").attr("disabled", "disabled");
                  $.post(form.attr('action'), form.serialize(), function (data) {
                        form.parent().replaceWith(data);
                  });
            };
            var braintree = Braintree.create("MIIBCgKCAQEAxyutibn74unFRcupjGNamPBKhHKMYZV76bo2z+PIu2cRWpVL24yhmnwWnfUeUpZ5aVRXNN/3k5wEVec5E6uQIVuHD/43xuMYGJBHXUAB2ZnhD1MYXwb13W3xH2DXvFf2oxWbpAoG6SvhQMilXxgLbBl7ag8MpS6nc28HkI+qnnYOGb0Hd3vZQujP9I9kZL5hxjZIXaUr2UoaOAOu/SvNHsuFdIpJXu+pBcvHSZ3l/pvfHa/JAIPiRsTtGalR9xOr83/IjE4HP8jkeh4EqazaZbv8DXMbuzJYCFOzj4+/KI+WZPFY7Fy9GybB1ddTpq23yj2PDTI9ya3JXy88vU/WTQIDAQAB");
            braintree.onSubmitEncryptForm('braintree-payment-form', ajax_submit);