h1
	| Dashboard 
div 

script
	var socket = io.connect('http://184.73.237.221:3000');
	//var socket = io.connect('http://localhost:3000');
	socket.on('sensor_event', function (data) {
		console.log(data);
	});
	socket.on('message', function(obj){
		if ('buffer' in obj){
			//ignore this
		} 
		else {
			console.log(obj);
		}
	});
	var increment = 0;
	setInterval(function(){
		socket.emit('sensor_event', { timestamp: new Date(), value: increment++});

	}, 5000);