h1
	| bitponics
div#light-sensor-graph





script
	var socket = io.connect('http://184.73.237.221:3000');
	//var socket = io.connect('http://localhost:3000');
	socket.on('sensor_event', function (data) {
		console.log(data);
	});
	
	/*
	socket.on('message', function(obj){
		console.log(obj);
		
	});
	
	var increment = 0;
	setInterval(function(){
		socket.emit('sensor_event', { timestamp: new Date(), value: increment++});

	}, 5000);
	*/
	
	var g = new Dygraph(
		document.getElementById("light-sensor-graph"),  // containing div
		"Date,Temperature" +                // the data series
		"2008-05-07,75" +
		"2008-05-08,70" +
		"2008-05-09,80",
		{ }                                   // the options
		);