extends layout

block content

  section.header
      header
        include /includes/nav/main
                  
  section#main(role="main", class="main")
    div(id="gallery", class="content-module middle")
      h3(class="page-heading nav-section") 
        div Gallery
        | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
      div.page-content



  section#footer

block footer-scripts
