extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main")
    h3(class="page-heading nav-section") 
      div Get Started
      | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
    div.page-content
      p Purchase a bitponics device.

  section#footer

block footer-scripts
