extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main")
    div(id="how-it-works", class="content-module middle")
      h3(class="page-heading nav-section") 
        div How It Works
        | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
      div(class="page-content center-img")
        img(src="/assets/img/home/howitworks.png")

        p
          | Sensors continuously monitor your garden’s environment and accessories are powered directly by the Bitponics Base Station.

        p
          | The Bitponics Base Station connects to your WiFi network and sends real-time sensor readings to the Bitponics Cloud. 
          | The Bitponics Cloud contains your personal Grow Plan, the blueprint for a full season of garden care. 
          | It monitors your sensor readings automatically turns connected accessories on &amp; off, and notifies you when to take action.

        p
          | Manage your garden from any web browser. See real-time sensor data, control your accessories and swap tips with everyone in the Bitponics community.
          


block footer-scripts
