extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main")
    div(id="how-it-works", class="content-module middle")
      h3(class="page-heading nav-section") 
        div How It Works
        | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
      div(class="page-content center-img")
        img(src="/assets/img/home/howitworks.png")

        p
          | Sensors continuously monitor your garden’s environment and accessories are powered directly by the Bitponics Base Station.

        p
          | The Bitponics Base Station connects to your WiFi network and sends real-time sensor readings to the Bitponics Cloud. 
          | The Bitponics Cloud runs your personal Grow Plan, the blueprint for a full season of garden care. 
          | It monitors your sensors, automatically turns connected accessories on &amp; off, and notifies you when to take action.

        p
          | Manage your garden from any web browser. See real-time sensor data, control your accessories and swap tips with everyone in the Bitponics community.

      div#details
        h3(class="page-heading nav-section")
          div Details
          | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
        div(class="page-content")
          
          div.page-content-inner-wrapper
            div.detail-block
              img(src="/assets/img/home/device-side-sensor.png")
              p
                | The Bitponics Base Station comes with the following sensors:
              ul
                li pH
                li Water Temperature
                li Air Temperature
                li Light
                li Humidity
              p 
                | The following sensors are available as separate add-ons:
              ul
                li EC (Electrical Conductivity)
            
            div.detail-block
              img(src="/assets/img/home/device-side-power.png")
              p The Base Station runs on standard 120v power and has 2 controllable power outlets.


block footer-scripts
