extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main", class="main")
    div(id="how-it-works", class="content-module middle")
      h3(class="page-heading nav-section") 
        div How It Works
        | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
      div(class="page-content center-img")
        != CDN('/assets/img/home/howitworks.png', { 'alt': 'How It Works' })

        p
          | You can enter your own sensor readings or connect your own automation device to continuously monitor your garden’s environment. 

        p
          | The Bitponics Cloud runs your personal Grow Plan, crowd-sourced blueprints for full seasons of garden care. 
          | Grow Plan reminders notify you when to take action. And if you have a connected device, the Bitponics Cloud can record real-time sensor readings and automatically turn connected accessories on &amp; off.

        p
          | Manage your garden from any web browser. Track progress over time and swap tips with everyone in the Bitponics community.

      //- div#details
      //-   h3(class="page-heading nav-section")
      //-     div Details
      //-     | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
      //-   div(class="page-content")
          
      //-     div.page-content-inner-wrapper
      //-       div.detail-block
      //-         != CDN('/assets/img/home/device-side-sensor.png', { 'alt': 'Bitponics Base Station Sensor Side View' })
              
      //-         p
      //-           | The Bitponics Base Station comes with the following sensors:
      //-         ul
      //-           li pH
      //-           li Water Temperature
      //-           li Air Temperature
      //-           li Light
      //-           li Humidity
      //-         p 
      //-           | The following sensors are available as separate add-ons:
      //-         ul
      //-           li EC (Electrical Conductivity)
            
      //-       div.detail-block
      //-         != CDN('/assets/img/home/device-side-power.png', { 'alt': 'Bitponics Base Station Power Side View' })
      //-         p The Base Station runs on standard 120v power and has 2 controllable power outlets.


block footer-scripts
