extends layout

block content
  - if (!user || !user.id)
    .stackContent
      header.default-border-b
           h1.stack1of1 
            span.stackContent Not Authenticated

      section.stack1of1 
         div.padding-20
          #signup
            a(href='/signup', style='text-decoration:underline;color:#333') Sign up
          #password-login
            a(href='/login', style='text-decoration:underline;color:#333') Login
          
      // section.stack1of1 
        div.stackContent.padding-20
          h2 Or login using one of the following services:
          div
            #fb-login(style='float: left; margin-left: 5px')
              a(href='/auth/facebook', style='border: 0px')
                img(style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png')
            #google-login(style='float: left; margin-left: 5px')
              a(href='/auth/google', style='border: 0px')
                img(style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/google_64.png')
            
  - else
    .stackContent
      .stack1of1
        h2 Authenticated
        #user-id 
          | Logged in with `user.id` #{user.id}, 'user.email' #{user.email}
        h3
          a(href='/logout', style='text-decoration:underline;color:#333') Logout
