extends layout

block head
  mixin requirejs("/assets/js/pages/index")

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main")
    div(id="home", class="content-module middle")
      //- h1.headline bitponics is your personal gardening assistant.
      div(class="flexslider")
        ul(class="slides")
          li
            h2(class="headline flex-caption")
              | bitponics is your personal gardening assistant.
            img(src="/assets/img/home/Bitponics_Hssld_H4D_0085.jpg")
          //- li
          //-   h2(class="headline flex-caption")
          //-     | the device and firmware will be open source, allowing you to adapt the device and use your data however you like.
          //-   img(src="/assets/img/home/Bitponics_Hssld_H4D_0157.jpg")
          //- li
          //-   h2(class="headline flex-caption")
          //-     | what could we learn by looking at past growing histories, comparing them to current results?
          //-   img(src="/assets/img/home/Bitponics_Hssld_H4D_0158.jpg")
          //- li
          //-   h2(class="headline flex-caption")
          //-     | examine how each environmental factor played its part in your plants' health.
          //-   img(src="/assets/img/home/Bitponics_Hssld_H4D_0159.jpg")
          

block footer-scripts
  - if (user && user._id)
    script
      bpn.user = !{JSON.stringify(user.toPublicJSON())};