extends layout

block content

	section.header
		header
			include /includes/nav/main

	section#main(role="main", class="main")
		div(id="installs", class="content-module middle")
			h3(class="page-heading nav-section") 
				div Custom Installations
				| <i class="icon-glyph icon-logo" aria-hidden="true"></i>
			div(class="page-content center-img clearfix")
				img(src="/assets/img/home/psfk_drawer.jpg")

				p This apartment unit is designed especially for the home. This unit will not only grow microgreens, but also provides a surface to prepare your salad.

				p This system has 8 drawers to grow a variety of greens to prep various microgreen salad or garnish any dish. The butcher block counter top offers more surface area to enjoy as you entertain guests. Designed in collaboration with 
					a(href="http://endrithajno.com/") Endrit Hajno
					| .

				p Special Thanks to 
					a(href="http://productsofdesign.sva.edu/visible-futures-lab-hosts-drone-making-artist/") SVA’s VFL & Products of Design MFA Program
					|, 
					a(href="http://www.thegreenboxhydro.com/") The Green Box
					|,
					| Chris Ilaria Glass,
					| and Abigail Cohen – Project Manager.


block footer-scripts
