extends layout

block content

	section.header
		header
			include /includes/nav/main

	section#main(role="main", class="main")
		div(id="installs", class="content-module middle")
			h3(class="page-heading nav-section") 
				div Custom Installations
				| <i class="icon-glyph icon-logo" aria-hidden="true"></i>
			div(class="page-content center-img clearfix")
				img(src="/assets/img/home/psfk_drawer.jpg")

				p This apartment unit is designed especially for the home. This unit will not only grow microgreens, but also provides a surface to prepare your salad.

				p This system has 8 drawers to grow a variety of greens to prep various microgreen salad or garnish any dish. The butcher block counter top offers more surface area to enjoy as you entertain guests. Designed in collaboration with 
					a(href="http://endrithajno.com/", target="_blank") Endrit Hajno
					| .

				p Special Thanks to 
					a(href="http://productsofdesign.sva.edu/visible-futures-lab-hosts-drone-making-artist/", target="_blank") SVA’s VFL & Products of Design MFA Program
					|, 
					a(href="http://www.thegreenboxhydro.com/", target="_blank") The Green Box
					|,
					| Chris Ilaria Glass,
					| and Abigail Cohen – Project Manager.

			div(class="page-content contact-wrapper")
				div#wufoo-wrapper
					p If you have any questions, just shoot us an email.
					form#wufoo-form.wufoo.topLabel.page(name='wufoo-form', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='novalidate', action='https://bitponics.wufoo.com/forms/m7x4a3/#public')
						ul
							li#foli1.notranslate
								span
								input#Field1.field.text.fn(name='Field1', type='text', value='', size='8', placeholder="Your Name")
							li#foli9.notranslate
								div
								input#Field9.field.text.medium(name='Field9', type='email', spellcheck='false', value='', maxlength='255', required='required', placeholder="Your Email")
							li#foli10.notranslate
								div
								textarea#Field10.field.textarea.medium(name='Field10', spellcheck='true', rows='10', cols='50', onkeyup='', required='required', placeholder="Message")
							li.buttons
								div
								input#saveForm.btTxt.submit(name='saveForm', type='submit', value='Submit')
							li(style="display:none")
								label(for='comment') Do Not Fill This Out
								textarea#comment(name='comment', rows='1', cols='1')
						input#idstamp(type='hidden', name='idstamp', value='xVmCHDgBdsFKJJFeoSp9kQtNvTSwMA8YEVaUrbBSI9M=')

				div#email-sub
					p To stay updated, sign up for our mailing list.
					form(action="http://bitponics.us2.list-manage1.com/subscribe/post?u=68c690cb49ec37200919b6e55&amp;id=9b5ad31a92", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank")
						input(type="email", value="", name="EMAIL", class="subscribe", id="mce-EMAIL", placeholder="Email", required)
						input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe", class="button")


block footer-scripts
