!!! 5
html(class=className+" no-js")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    include includes/head/head-content
    block head

  body
    div(class="page", data-role="page")
        div(class="page-wrapper", data-role="content")
            block content
            
            include includes/footer/main

            block footer-scripts
        
            - if (user && user._id)
              script(type="text/javascript")
                mixpanel.identify("#{user._id}");