extends layout

block head
  mixin requirejs("/assets/js/pages/dashboard")

block css

block content
  section.header
    header
      include includes/nav/main

  section#main(role="main", class="main")
    form(id='login-form', action=formAction, method='POST')
      h2.page-heading Log in
      div.separator-top
        label(for="email") Email
        input(type='email', name="email", autofocus="autofocus")
        label(for="password") Password
        input(type='password', name="password")
        input(type='submit', value='Submit')

block footer-scripts