extends layout

block css

block content
  section.header
    header
      include includes/nav/main

  section#main(role="main", class="main")
    form(id='login-form', action=formAction, method='POST')
      h2.page-heading Log in
      div.separator-top
        if loginErrorMessage
          div.error-message #{loginErrorMessage}
        label(for="email") Email
        input(type='email', name="email", autofocus="autofocus")
        label(for="password") Password
        input(type='password', name="password")
        input(type='submit', value='Submit')

        div
          a(href="/auth/facebook"+formAction.replace('/login', '')) Login with Facebook.
          //- a(href="/auth/facebook") Login with Facebook.

        div
          span Don't have an account?  
          a(href="/signup", class="display-ib") Register
          span .

block footer-scripts
