extends layout

block content

  section#header
      header#logo(role="banner") 
        img(src="/assets/img/leaf-new-green.png", width="15%")
      div#setup.select-block
        h2.main-heading #{title}

  section#main(role="main", class="main")
    div#home.content-module.middle
      form(id='login-form', action=formAction, method='POST')
        label(for="email") Email
        input(type='email', name="email", autofocus="autofocus")
        label(for="password") Password
        input(type='password', name="password")
        input(type='submit', value='Login')

  section#footer
