extends layout

block content
  .stackContent 
    h1.h1 Login

  - if ('undefined' !== typeof errors && errors.length)
    .stackContent 
      ul#errors
        - each error in errors
          li.error= error

  .stackContent
    form(id='login-form', action='/login', method='POST')
      
      #login.stack2of3
        .stackContent
          label(for="email") Email
          input(type='text', name="email")
      #password.stack2of3
        .stackContent
          label(for="password") Password
          input(type='password', name="password")
      #submit
        .stackContent
          input(type='submit', value='Login')
