extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main")
    h3(class="page-heading nav-section") 
      div Press
      | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
    div.page-content
      //- ul
     

      ul.featured-press
        li
          img(src="/assets/img/home/fastco.jpg", alt="Fast Co Icon")
          p &quot;This new system allows you to hook up simple sensors to your hydroponic plants and receive helpful reminders when its time to cares for them.&quot;
          p Ben Schiller
            br
            a(href="http://www.fastcoexist.com/1679905/bitponics-an-internet-connected-hydroponic-home-garden") fastcoexist
        li
          img(src="/assets/img/home/coolhunting.jpg", alt="Cool Hunting Icon")
          p &quot;Whether you can barely keep alive a cactus or you're a serious green thumb looking to monitor a new strain of tomatoes, Bitponics can help.&quot;
          p Karen Day
            br
            a(href="http://www.coolhunting.com/tech/bitponics.php") coolhunting
        li
          img(src="/assets/img/home/pandodaily.jpg", alt="pandodaily Icon")
          p &quot;Gardening is equal parts art and science.&quot;
          p Erin Griffith
            br
            a(href="http://pandodaily.com/2012/06/08/bitponics-automates-gardening-for-brown-thumbed-plant-killers/") pandodaily
        li.last
          img(src="/assets/img/home/treehugger.jpg", alt="treehugger Icon")
          p &quot;Bitponics is a device and website that promises to simplify hydroponic growing for everyone.&quot;
          p Ramon Gonzalez
            br
            a(href="http://www.treehugger.com/lawn-garden/help-kickstart-bitponics-siri-hydroponic-growing.html") treehugger
      
      ul.additional-press
        li 
          p
            a(href="http://inhabitat.com/nyc/bitponics-is-a-real-life-farmville-that-lets-you-to-manage-your-garden-from-the-cloud/") Inhabitat
            a(href="http://www.mnn.com/your-home/organic-farming-gardening/blogs/hydroponics-get-high-tech-with-personal-gardening-assistan") Mother Nature Network
        li 
          p
            a(href="http://ecopreneurist.com/2012/05/31/crowdfunding-platform-bitponics-simplifies-hydroponic-gardening-for-urban-areas/") Ecopreneurist
            a(href="http://www.queensledger.com/view/full_story/18759275/article-Amit-Kumar") Queens Ledger
        //- li 
        //-   a(href="http://www.3rdward.com/blog/2012/6/4/kickstarter-pick-3rd-wards-michael-zick-doherty-takes-green.html") 3rd Ward Blog
        li 
          p
            a(href="http://www.greenlivingguy.com/greenliving/2012/5/30/innovative-hydroponics-automation-system-improves-urban-gard.html") Green Living Guy
            a(href="http://www.trendhunter.com/trends/bitponics-hydrophonic-program") TrendHunter
        li.last
          p
            | Download our complete 
            a(href="/press/bitponics-press-kit.zip") press kit
            | .


block footer-scripts
