extends layout

block content

  section.header
      header
        nav(role="nav")
          ul
            li(class="nav-section first")
              h1(class="logo icon", role="banner")
                div 
                  | Bitponics
                  span &trade;
                | <i class="icon-glyph icon-logo" aria-hidden="true"></i>

            li.nav-section
              ul
                li(class="about", data-name="about") 
                  a(href="/about") About
                li(class="howitworks", data-name="howitworks")
                  a(href="/howitworks") How It Works

            li.nav-section
              ul
                li(class="gallery", data-name="gallery")
                  a(href="/gallery") Gallery
                li(class="press", data-name="press")
                  a(href="/press") Press

            li.nav-section
              ul
                li(class="contact", data-name="contact")
                  a(href="/contact") Contact

            li(class="nav-section last")
              ul
                li(class="buy", data-name="buy")
                  a(href="/buy") Buy

  section#main(role="main")
    //- h2(class="logo icon nav-section", role="banner")
    //-   div 
    //-     | Bitponics
    //-     span &trade;
    //-   | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
    h3(class="page-heading nav-section") 
      div Press
      | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
    div.page-content
      ul
        li 
          | <em>PandoDaily</em><a href="http://pandodaily.com/2012/06/08/bitponics-automates-gardening-for-brown-thumbed-plant-killers/">http://pandodaily.com/2012/06/08/bitponics-automates-gardening-for-brown-thumbed-plant-killers/</a></li>
        li 
          | <em>Inhabitat</em><a href="http://inhabitat.com/nyc/bitponics-is-a-real-life-farmville-that-lets-you-to-manage-your-garden-from-the-cloud/">http://inhabitat.com/nyc/bitponics-is-a-real-life-farmville-that-lets-you-to-manage-your-garden-from-the-cloud/</a></li>
        li 
          | <em>Cool Hunting</em><a href="http://www.coolhunting.com/tech/bitponics.php">http://www.coolhunting.com/tech/bitponics.php</a></li>
        li 
          | <em>Mother Nature Network</em><a href="http://www.mnn.com/your-home/organic-farming-gardening/blogs/hydroponics-get-high-tech-with-personal-gardening-assistan">http://www.mnn.com/your-home/organic-farming-gardening/blogs/hydroponics-get-high-tech-with-personal-gardening-assistan</a></li>
        li 
          | <em>Ecopreneurist</em><a href="http://ecopreneurist.com/2012/05/31/crowdfunding-platform-bitponics-simplifies-hydroponic-gardening-for-urban-areas/">http://ecopreneurist.com/2012/05/31/crowdfunding-platform-bitponics-simplifies-hydroponic-gardening-for-urban-areas/</a></li>
        li 
          | <em>Fast Company</em><a href="http://www.fastcoexist.com/1679905/bitponics-an-internet-connected-hydroponic-home-garden">http://www.fastcoexist.com/1679905/bitponics-an-internet-connected-hydroponic-home-garden</a></li>
        li 
          | <em>Treehugger</em><a href="http://www.treehugger.com/lawn-garden/help-kickstart-bitponics-siri-hydroponic-growing.html">http://www.treehugger.com/lawn-garden/help-kickstart-bitponics-siri-hydroponic-growing.html</a></li>
        li 
          | <em>Queens Ledger</em><a href="http://www.queensledger.com/view/full_story/18759275/article-Amit-Kumar">http://www.queensledger.com/view/full_story/18759275/article-Amit-Kumar</a></li>
        li 
          | <em>3rd Ward Blog</em><a href="http://www.3rdward.com/blog/2012/6/4/kickstarter-pick-3rd-wards-michael-zick-doherty-takes-green.html">http://www.3rdward.com/blog/2012/6/4/kickstarter-pick-3rd-wards-michael-zick-doherty-takes-green.html</a></li>
        li 
          | <em>Green Living Guy</em><a href="http://www.greenlivingguy.com/greenliving/2012/5/30/innovative-hydroponics-automation-system-improves-urban-gard.html">http://www.greenlivingguy.com/greenliving/2012/5/30/innovative-hydroponics-automation-system-improves-urban-gard.html</a></li>
        li 
          | <em>TrendHunter</em><a href="http://www.trendhunter.com/trends/bitponics-hydrophonic-program">http://www.trendhunter.com/trends/bitponics-hydrophonic-program</a></li>


  section#footer

block footer-scripts

  //- script
  //-   Bitponics.user = !{JSON.stringify(user)};
  //-   $('nav ul > li a')

  //- script(src='/assets/js/libs/jquery/jquery.scrollTo.min.js')

