extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main", class="main")
    div(id="pricing", class="content-module middle")
      h3(class="page-heading nav-section") 
        div Pricing
        | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
      div.page-content
        
        div.page-content-inner-wrapper 

          //-p.development-status
            //-| The Base Station will be $499, and further details about web service pricing will be posted soon. 
            
          div.base-station-preorder
            | Bitponics is still in development and will launch early this summer. Pricing details are below.
            br
            | To be notified when preorders are available,
            br
            a(href="#contact", class="btn")
                | Sign up for our mailing list 
                | <i class="icon-glyph icon-glypharrow" aria-hidden="true"></i>


          h2.price-category Base Station
          div.price.base-station-price
            span.price-number 
              span.price-currency $
              | 499
            span.price-type
            //-span.price-per Ships within 1 week
          
          div.clearfix
          
          h2.price-category Bitponics Cloud Web Service
          ul.list-grid-wrapper
            li
              ul.feature-icons.grid-list
                li.first.space
                  span 
                    //
                li
                  div Cloud
                  span 
                    | <i class="icon-glyph-new icon-06_cloud" aria-hidden="true"></i>
                li
                  div Notifications
                  span 
                    | <i class="icon-glyph-new icon-15_notifications" aria-hidden="true"></i>
                li
                  div Photos
                  span 
                    | <i class="icon-glyph-new icon-17_photos" aria-hidden="true"></i>
                li
                  div History
                  span 
                    | <i class="icon-glyph-new icon-21_time" aria-hidden="true"></i>
                li
                  div Privacy
                  span 
                    | <i class="icon-glyph-new icon-13_lock" aria-hidden="true"></i>
                li
                  div Support
                  span 
                    | <i class="icon-glyph-new icon-16_phone" aria-hidden="true"></i>
                li
                  div Team
                  span 
                    | <i class="icon-glyph-new" aria-hidden="true"></i>
                li.last.space
            li
              ul.tier1.grid-list
                li.first
                  h2 
                    span Trial
                li
                  span Automated logging once a day
                li
                  span 
                li.space
                li
                  span 3 months of grow history storage
                li
                  span Garden data is public
                li.space
                li.space
                li.last.price 
                  span.price-number
                    span.price-currency $
                    | 0
                  span.price-type /mo
            li
              ul.tier2.grid-list
                  li.first
                    h2 
                      span Serious 
                      span Grower
                  li
                    span Automated logging every 15 minutes
                  li
                    span Email notifications when your garden needs attention
                  li
                    span Store up to 1000 Photos
                  li
                    span Unlimited grow history storage
                  li
                    span Optionally keep garden data private
                  li.space
                  li.space
                  li.last.price 
                    
                    span.price-number 
                      span.price-currency $
                      | 9
                    span.price-type /mo 
                    span.price-per per garden
            li
              ul.tier3.grid-list
                  li.first
                    h2 
                      span Commercial
                      span Grower
                  li
                    span Automated logging every 5 minutes
                  li
                    span Email &amp; SMS notifications when your garden needs attention
                  li
                    span Store up to 10,000 photos
                  li
                    span Unlimited grow history storage
                  li
                    span Optionally keep garden data private
                  li
                    span Premium Support Services
                  li
                    span Advanced Team Management
                  li.last.price 
                    span.price-number 
                      span.price-currency $
                      | 49
                    span.price-type /mo 
                    span.price-per per garden

          div.center.clearfix
            //-a(href="/get-started", class="btn")
              | Get Started
              | <i class="icon-glyph icon-glypharrow" aria-hidden="true"></i>
            
            | To be notified when preorders are available,
            br
            a(href="#contact", class="btn")
              | Sign up for our mailing list 
              | <i class="icon-glyph icon-glypharrow" aria-hidden="true"></i>
            


  section#footer

block footer-scripts
