extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main")
    h3(class="page-heading nav-section") 
      div Pricing
      | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
    div.page-content
      


      p
        | $per gardenom/05$per gardenom/9$Up to 10,000 photosUp to 1000 photosSupport ServicesPremium om/0all data privateCan optionally keep all data privateCan optionally keep instances are publicGrow plan history storageUnlimited grow history storageUnlimited grow of grow historyStore up to 3 months garden needs attentionnotifications when your Email & SMS needs attentionwhen your garden Email notifications Only in-app5 minutesLogging every 15 minutesLogging every once a dayLogging AgriculturistIndustrial!TrailFreeGrowerSerious      

  section#footer

block footer-scripts
