extends layout

block css

block content
  section.header
    header
      include includes/nav/main

  section#main(role="main", class="main")
    div(id="register", class="content-module middle")
        h3(class="page-heading nav-section") #{header}

        h3.sub-heading !{message}
        - if (typeof link != 'undefined')
            p
                  a(href="#{link}", class="btn") Set up your first garden

        div(class="page-content")

block footer-scripts
      script(type="text/javascript")
            mixpanel.alias("#{user._id}");