extends layout

block content
  
  section#header
      header#logo(role="banner") 
        img(src="/img/leaf-new-green.png", width="15%")

      div#setup.select-block
        h2.main-heading #{title}
        //h3.sub-heading
      div#user.select-block
        - if (!user || !user.id)
          //- h2.main-heading Welcome
          //- h3.sub-heading
          //-   a(href="/signup") Sign up
          //-   <br>
          //-   a(href="/login") Log in
        - else
          h2.main-heading Hi, 
            //- if user.name.full && user.name.full != ''
            //-  | #{user.name.full}
            //- else
            | #{user.email}
          //- h3.sub-heading
          //-     a(href='/logout') Logout

  section#main(role="main")
    div.content-module.middle
      h3.sub-heading #{message}


  section#footer