extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main", class="main")
    div(id="returns", class="returns content-module middle")
      h3(class="page-heading nav-section")
        | Return Policy
      div.page-content

        h4 How do I return an item?
          p If for any reason you're not satisfied with a bitponics product, you can return it for full refund, including shipping and tax. Return shipping costs, however, are the customer's responsibility.
          p Physical products ("Base Station" and accessories) must be returned within 30 days for a refund or replacement. Returns must be in new condition, include all cords and accessories, and in the original packaging.
          p Web service subscriptions may be cancelled at any time and the unused portion of the subscription will be refunded on a pro-rata basis.
          p To return an item, contact us at 
            a(href="mailto:help@bitponics.com") help@bitponics.com
            | .
          
        h4 When can I expect my refund?
        p We will refund you as soon as we verify that the item has been returned and is in acceptable condition.
        p For any questions or concerns regarding a return, please email us at 
          a(href="mailto:help@bitponics.com") help@bitponics.com
          | .