extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main")
    div(id="returns", class="returns content-module middle")
      h3(class="page-heading nav-section")
        | Return Policy
      div.page-content
        p 
          | These are bitponics' ("bitponics", "we" or "our") Standard Return Policies applicable only to products purchased by you directly from the bitponics.com website.
          | Return for refund within: 30 days
        ul 
          li Return for replacement within: 30 days
          li Restocking Fee: Yes
          li This is our Standard Return Policy. Items covered by this policy (those products for which Newegg states "This item may be returned for a replacement or refund within 30 days only") must be returned to Newegg within 30 days of the invoice date for this policy to apply. “Return” constitutes receipt of the product by Newegg, and not the mere issuance of an RMA.
