extends layout

block css 
  link(rel='stylesheet', href='/assets/css/pages/setup.css')

block content

   - if (!( user && user.id))
    header.default-border-b
         h1
          span Not Authenticated

    section.stack1of1 
       div
        #signup
          a(href='/signup?redirect=setup', style='text-decoration:underline;color:#333') Sign up
        #password-login
          a(href='/login?redirect=setup', style='text-decoration:underline;color:#333') Login
          
   - else
      h1 Setting up your Bitponics device
      ol
        li 
          div Plug your device into a power outlet. The "Status" light on the top left should start rapidly blinking yellow, like so:
            div.led-indicator.scan
            | This indicates that it's scanning the available WiFi networks. Once it starts a slower green blinking:
            div.led-indicator.adhoc
            | you're ready for the next step:
        li 
          div Go into your computer's WiFi settings. You should see a new network listed called "BITPONICS". Connect to it.
        li
          div Once you're connected, click 
            a(id="connect-to-device", href="javascript:void(0)", style="color:blue;") Connect to device 
        li#enter-wifi-data
          div Hooray! We've connected to your Bitponics device, and now you're ready to tell it how to connect to your WiFi network. 
            form#wifi-form(action='')
              ul 
                li
                  label(for='wifi-ssid') SSID
                    select#wifi-ssid(name='wifi-ssid')
                li
                  label(for='wifi-pass') PASS
                    input#wifi-pass(name='wifi-pass')
                li
                  button#submit-wifi-form(type='submit') Go
        li#wifi-data-submitted
          p Great! The Bitponics device is now connecting to the&nbsp; 
            span.selectedNetworkSsid
            | network. 
          p Now, disconnect your computer from the BITPONICS Wifi network and reconnect it to&nbsp;  
            span.selectedNetworkSsid
            |.
          p After you're back on the&nbsp; 
            span.selectedNetworkSsid
            | network,
            a(id="submit-device-info", href="javascript:void(0);", style="color:blue;") click here so that we can pair your device to your Bitponics account.
        li#pairing-complete
          p Great, your device is now connected to your account. Let's take a look at the data we're getting:

             

block footer-scripts
  - if (user && user._id)
    script
      Bitponics.currentUser = {
        email: '!{user.email}',
        publicDeviceKey: '!{user.deviceKey.public}',
        privateDeviceKey: '!{user.deviceKey.private}'
      };

  script(src='/assets/js/setup.js')
