extends layout

block css 
  link(rel='stylesheet', href='/assets/css/pages/setup.css')

block content

   h1 Setting up your Bitponics Base Station
      ol
        li 
          div Plug your Base Station into a power outlet. The "Status" light on the top left should start rapidly blinking yellow, like so:
            div.led-indicator.scan
            | This indicates that it's scanning the available WiFi networks. Once it starts a slower green blinking:
            div.led-indicator.adhoc
            | you're ready for the next step:
        li 
          div Go into your computer's WiFi settings. You should see a new network listed called "BITPONICS". Connect to it.
        li
          div Once you're connected, click 
            a(id="connect-to-device", href="javascript:void(0)", style="color:blue;") Connect to Base Station 
        li#enter-wifi-data
          div Hooray! You're connected to your Bitponics Base Station, and now you're ready to tell it how to connect to your WiFi network. 
            form#wifi-form(action='')
              ul 
                li
                  div(style="float:left;width=50%")
                    | Select from the scanned Wifi networks:
                    label(for='wifi-ssid') 
                      select#wifi-ssid(name='wifi-ssid')
                  div(style="width:50%")
                    | Or enter your Wifi network information manually:
                    label(for='wifi-manual-ssid') Network Name:
                      input#wifi-manual-ssid(name='wifi-manual-ssid')  
                    label(for='wifi-manual-security-mode') Security Mode:
                      select#wifi-manual-security-mode(name='wifi-manual-security-mode')
                li
                  label(for='wifi-pass') PASS
                    input#wifi-pass(name='wifi-pass')
                li
                  button#submit-wifi-form(type='submit') Go
        li#wifi-data-submitted
          p Great! The Bitponics device is now connecting to the&nbsp; 
            span.selectedNetworkSsid
            | network. 
          p Now, disconnect your computer from the BITPONICS Wifi network and reconnect it to&nbsp;  
            span.selectedNetworkSsid
            |.
          p After you're back on the  
            span.selectedNetworkSsid
            |  network,
            a(id="submit-device-info", href="javascript:void(0);", style="color:blue;") click here so that we can pair your device to your Bitponics account.
        li#pairing-complete
          p Great, your device is now connected to your account. Let's take a look at the data we're getting:

             

block footer-scripts
  - if (user && user._id)
    script
      bpn.currentUser = {
        email: '!{user.email}',
        publicDeviceKey: '!{availableDeviceKey.public}',
        privateDeviceKey: '!{availableDeviceKey.private}'
      };

  script(src='/assets/js/setup.js')
