extends layout

block css 
  link(rel='stylesheet', href='/assets/css/pages/setup.css')
  //-link(rel='stylesheet', href='/assets/css/libs/steps.css')

block content
  section.header
    header
      include /includes/nav/main
  
  section()#main(role="main", class="main")
    div.content-module.middle
      form(id="setup-form", name="setup", data-ajax="false", novalidate)
        h1.page-heading Setting up your Bitponics Base Station
        div(class="step separator-top")
          ol.list-style
            li
              h4.page-heading-small Power your Base Station
              p 
                | Plug your Base Station into a power outlet. The "Status" light on the top left should start rapidly blinking yellow, like so:
                span.led-indicator.scan
              p
                | This indicates that it's scanning the available WiFi networks. Once it starts a slower green blinking, you're ready for the next step:
                span.led-indicator.adhoc
            li
              h4.page-heading-small Connect to "BITPONICS"
              p Go into your computer's WiFi settings. You should see a new network listed called "BITPONICS". Connect to it.
            li
              h4.page-heading-small Link Base Station
              p Once you're connected, click the button below to link your Base Station.
          div(class="step-footer")
            a(class="btn next-step-btn", id="connect-to-device", href="javascript:void(0);") Connect to Base Station 
            //- a(id="connect-to-device", href="javascript:void(0)", style="color:blue;") Connect to Base Station
        
        div(class="separator-top")
          ol.list-style
            li#enter-wifi-data
              div Hooray! You're connected to your Bitponics Base Station, and now you're ready to tell it how to connect to your WiFi network. 
                div
                  form#wifi-form(action='')
                    ul 
                      li
                        div(style="float:left;width=50%")
                          | Select from the scanned Wifi networks:
                          label(for='wifi-ssid') 
                            select#wifi-ssid(name='wifi-ssid')
                        div(style="width:50%")
                          | Or enter your Wifi network information manually:
                          label(for='wifi-manual-ssid') Network Name:
                            input#wifi-manual-ssid(name='wifi-manual-ssid')  
                          label(for='wifi-manual-security-mode') Security Mode:
                            select#wifi-manual-security-mode(name='wifi-manual-security-mode')
                      li
                        label(for='wifi-pass') PASS
                          input#wifi-pass(name='wifi-pass')
                      li
                        button#submit-wifi-form(type='submit') Go
        
        div(class="separator-top")
          ol.list-style
            li#wifi-data-submitted
              p Great! The Bitponics device is now connecting to the&nbsp; 
                span.selectedNetworkSsid
                | network. 
              p Now, disconnect your computer from the BITPONICS Wifi network and reconnect it to&nbsp;  
                span.selectedNetworkSsid
                |.
              p After you're back on the  
                span.selectedNetworkSsid
                |  network,
                a(id="submit-device-info", href="javascript:void(0);", style="color:blue;") click here so that we can pair your device to your Bitponics account.
            li#pairing-complete
              p Great, your device is now connected to your account. Let's take a look at the data we're getting:

               

block footer-scripts
  - if (user && user._id)
    script
      bpn.currentUser = {
        email: '!{user.email}',
        publicDeviceKey: '!{availableDeviceKey.public}',
        privateDeviceKey: '!{availableDeviceKey.private}'
      };

  script(src='/assets/js/setup.js')
  //-script(src='/assets/js/libs/Steps.js')
