extends layout

block css 
  link(rel='stylesheet', href='/assets/css/pages/setup.css')

block content

   - if (!user)
    .stackContent
      header.default-border-b
           h1.stack1of1 
            span.stackContent Not Authenticated

      section.stack1of1 
         div.padding-20
          #signup
            a(href='/signup?redirect=setup', style='text-decoration:underline;color:#333') Sign up
          #password-login
            a(href='/login?redirect=setup', style='text-decoration:underline;color:#333') Login
            
   - else
    .stackContent
      h1 Setting up your Bitponics device
      ol
        li 
          div Plug your device into a power outlet. The "Status" light on the top left should start rapidly blinking yellow, like so:
            div.led-indicator.scan
            | This indicates that it's scanning the available WiFi networks. Once it starts a slower green blinking:
            div.led-indicator.adhoc
            | you're ready for the next step:
        li 
          div Go into your computer's WiFi settings. You should see a new network listed called "BITPONICS". Connect to it.
        li
          div 

block footer-scripts
  script(src='/assets/js/setup.js')
