extends layout

block head
  mixin requirejs("/assets/js/pages/setup")
  
block css 
  link(rel='stylesheet', href='/assets/css/pages/setup.css')
  //- link(rel='stylesheet', href='/assets/css/libs/steps.css')

block content
  section.header
    header
      include /includes/nav/main
  
  section(ng-cloak="")#main(role="main", class="main")
    div.content-module.middle(ng-controller="bpn.controllers.setup.Main")
      form(id="serial-form", name="setup", data-ajax="false", novalidate, ng-submit="sendSerialToServer()")
        h1.page-heading Setting up your Bitponics Base Station
        
        p
          iframe(id="ytplayer", type="text/html", src="https://www.youtube.com/embed/duIVXx-FtSQ", width="800", height="450", frameborder="0")


        button(ng-show="!getStartedClicked", type='button', class="btn next-step-btn", ng-click="getStarted()") Get Started

        div(ng-show="getStartedClicked && key == undefined", class="separator-top")
          h4.page-heading-small Device Serial
          label(for='wifi-manual-ssid') Enter the serial number from the sticker on the back of your Bitponics device.
          input#serial(autofocus="autofocus", ng-model="serial", name="serial", bpn-directives-uppercase, ui-mask="{{serialMask}}")  
          button(type='submit', class="btn next-step-btn", ng-click="sendSerialToServer()") Send

      div(ng-show="key && !pairingComplete", class="separator-top")
        h4.page-heading-small Your Device Key
        p For the next step, a new browser window will open. You will be asked to copy/paste this key, so keep this window open.
        input#serial.serial(ng-model="key", name="key", readonly, bpn-directives-select-on-click)
        a(href, type='submit', class="btn next-step-btn", ng-click="openWifiPairingPage()") Open the device pairing page.

      div(ng-show="pairingPending && !pairingComplete")
        | Waiting for device pairing to be complete...

      div(ng-show="pairingComplete")
        | Device pairing complete! Now you can check out device status on 
        a(href="/account/devices/{{pairedDeviceId}}") your device page 
        | or 
        a(href="/setup/grow-plan") dive right into setting up a Grow Plan 
        | for your garden.


block footer-scripts
  - if (user && user._id)
    script
      bpn.currentUser = {
        email: '!{user.email}',
        publicDeviceKey: '!{availableDeviceKey.public}',
        privateDeviceKey: '!{availableDeviceKey.private}'
      };
      bpn.pageData['nextUrl'] = '!{nextUrl}'
