extends layout

block content

  section#header
      header#logo(role="banner") 
        img(src="/img/leaf-new-green.png", width="15%")
      div#setup.select-block
        h2.main-heading #{title}

  section#main(role="main")
    div#home.content-module.middle
      form(id="register-form", method="POST", action="/signup")
        label(for="email") Email
        input(id="email", name="email", type="email", autofocus="autofocus") 
        label(for="password") Password
        input(id="password", name="password", type="password") 
        input(type="submit", value="Sign Up")

  section#footer