extends layout

block content
  .stackContent
    h1(class="h1") Sign Up

  - if ('undefined' !== typeof errors && errors.length)
    .stackContent
      ul#errors
        - each error in errors
          li.error= error

  .stackContent
    form(id="register-form", method="POST", action="/signup")
      .stack1of3
      .stack2of3
        .stack1of4
          .stackContent
            label(for="email") Email
        .stack3of4
          .stackContent
            input(id="email", name="email", type="email") 
        .stack1of4
          .stackContent
            label(for="password") Password
        .stack3of4
          .stackContent
            input(id="password", name="password", type="password") 
        .stackContent  
          input(type="submit", value="Sign Up")