extends styleguide-layout

block content
  ul
    li
      section.colors
        h2 Colors
          ul
            li.brand Brand
              h3 Logo
              div.logo.color #7da451
            li.brand Components
              h3 Default Background
              div.defualt-background.color #f5f5f4
    li
      section.layout
        h2 Layouts
          ul
            li.blah Blah
              h3 User Timeline
              div.user-timeline.layout Some layout...
    li
      section.typography
        h2 Typography
          ul
            li.blah Blah
              h3 Headings
              div.headings.typography Some typography stuff...