extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main", class="main")
    div(id="team", class="content-module middle")
      h3(class="page-heading nav-section")
        div Our Team
        | <i class="icon-glyph icon-logo" aria-hidden="true"></i>
      
      div.page-content
      
        div.member
          != CDN('/assets/img/home/amit-kumar.jpg', { 'alt': 'Amit Kumar' })
          h3 Amit Kumar
          p 
            | Amit Kumar has been a software engineer for 8 years and a plant lover for 20. After graduating from UCLA with a degree in Cognitive Science, he brought his knowledge of human information processing to the field of web software development, where he strives to produce products that aren’t just outstanding technically, but are also highly intuitive and a pleasure to use. He’s spent his career working with a variety of technologies in all aspects of software development. From the database to the back-end to the front-end, from .NET to PHP to node.js to HTML5/CSS3/Javascript, he crafts code to produce whatever the customer needs and more. He's delivered solutions for companies including Nike, Verizon, Barnes &amp; Noble and American Express.
          p
            | After getting started with hydroponic gardening more than 3 years ago, Amit realized that combining it with computer automation was the perfect way to make gardening more accessible to everyone. He’s been working ever since to use his engineering skills to connect people with their plants in ways never before possible.
        div.member
          != CDN('/assets/img/home/jack.jpg', { 'alt': 'Jack Bishop' })
          h3 Jack Bishop
          p 
            | Jack Bishop is a software engineer and web enthusiast with a passion for embracing change and building products for the future that he wants to see. For the better part of the last decade he has designed, developed, architected and maintained many popular websites, web applications and native mobile applications. His primary focus and interest has been mobile optimization on the web &mdash; even before we had cool phones, when mobile was treated as a second-class citizen. Clients include Nike, Johnson & Johnson, Tiffany & Co and AdCouncil. Recently he has become an amatuer gardener, running a small hydroponic garden with basil, tomato and pepper plants. He is currently counting down the days until his garden becomes self-aware, remotely controllable and logs data to the cloud.
            
        div.member
          != CDN('/assets/img/home/chris-piuggi.jpg', { 'alt': 'Chris Piuggi' })
          h3 Chris Piuggi
          p 
            | As an educator, he gives lectures and workshops around the world. He has designed and implemented groundbreaking learning platforms for the National Science Foundation and McArthur Foundation; melding digital and physical worlds to teach STEM principles to all ages. As a thinker and craftsman, Chris provides technology consultation and award winning interactive experiences for organizations such as Google, Coca-Cola, AMEX, Nautica and the Lincoln Motor Company. 




block footer-scripts
