meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@bitponics")
//- meta(name="twitter:creator", content="@SarahMaslinNir")
meta(name="twitter:title", content="#{pageTitle}")
meta(name="twitter:description", content="#{pageSummary}")
//- meta(name="twitter:image:src", content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg")
meta(name="twitter:image:src", content="http://www.bitponics.com/assets/img/home/howitworks.png?v=1391295493411")