/**
 * Creates a flyout menu with dialog behavior (closes if user clicks outside)
 * Designed only to be used with ngdialog option of "appendToElement" set to true
 */

.ngdialog-theme-menu

	// &.ngdialog-closing, 
	// &.ngdialog-closing .ngdialog-overlay,
	// &.ngdialog-closing .ngdialog-content,
	// .ngdialog-content	
	// 	-webkit-animation-duration 0
	// 	animation-duration 0

	top .5em
	right -3px
	left auto
	bottom auto
	position absolute


	&.ngdialog-closing .ngdialog-overlay
		animation-duration 0

	.ngdialog-content
		animation-duration 0.2s
	
	&.ngdialog-closing .ngdialog-content
		animation-duration 0.2s
	

	.ngdialog-overlay
		background none
		animation-duration 0.2s

	.ngdialog-content
		width 20em
		background white
		color color-text-gray
		padding 0
		margin 0 3px 10px
		text-align left
		z-index 1
		border 1px solid color-border-gray
		box-shadow 0px 2px 5px 0px color-border-gray


		h2, div, p, a 
			color color-text-gray

		h2
			padding-top .5em
			margin 0 0 .5em
			border-bottom 1px solid color-border-gray

		h2
			padding .5em .6em
			margin 0
			//border-left 5px solid transparent

		ul 
			font-size 1em

		.link-list
			margin .2em 0

			li
				display block
				margin 0
				padding 0

				a
					text-align left
					padding 1em
					display block
					color color-logo-green
					font-size 1em
					line-height 1em
					//box-shadow 0px 2px 3px 0px color-border-gray

				&:last-of-type
					a
						//margin-bottom 1em


	.ngdialog-close
		display none


/**
 * Notifications menu
 */
.ngdialog-theme-menu .ngdialog-content .notifications 
	
	h2
		padding .5em .6em
		margin 0
		border-left 5px solid transparent

	.notifications-list
		.notification
			display block
			margin 0
			padding 0
			border-left 5px solid color-logo-green
			margin-top 5px
			box-shadow 0px 2px 3px 0px color-border-gray

			&:first-of-type
				margin 0

			// &:after
			// 	content ''
			// 	display block
			// 	width 80%
			// 	margin 0 auto
			// 	border-bottom 1px solid color-border-gray

			&.warning
				border-left-color color-bg-orange

			&.checked
				border-left-color color-bg-gray

			.notification-button
				display block
				background none
				padding 0 1em
				border none
				outline none
				text-align left
				border-bottom 1px solid white
				width 100%

			
