/**
 * Creates an overlay on the page
 * Designed only to be used with ngdialog option of "appendToElement" set to true
 */

.ngdialog.ngdialog-theme-overlay,
.ngdialog.ngdialog-theme-overlay-message
	// position absolute
	// top 2em
	// left 5%
	// width 90%

	.ngdialog-overlay
		// background none

	.ngdialog-content
		position absolute
		top 50%
		left 5%
		width 90%
		-webkit-transform translateY(-50%)
		transform translateY(-50%)
		background white
		color color-text-gray
		padding 1em
		text-align center
		z-index 1
		border 1px solid color-border-gray
		box-shadow 0px 2px 5px 0px color-border-gray


		h2, div, p
			color color-text-gray

		h2
			padding-top .5em
			margin 0 0 .5em
			border-bottom 1px solid color-border-gray



	.ngdialog-close
		display none


.ngdialog.ngdialog-theme-overlay-message
	
	.ngdialog-content
		h2, h3, p
			text-align center
			width 100%

		.btn
			margin 0