.header

	.settings 
		position relative
		width 1.2em
		display inline-block
		cursor pointer

		.icon-__71_settings_999999
			top: -.75em;
			position:absolute
			font-size: 1.5em;

		.settings-display 
			display none
			position absolute
			background color-logo-green
			color white

			&.visible
				display block
				top .5em
				right 0
				min-width 12em
				padding 0 1em 1em
				text-align left
				z-index 1

				h2
					margin .5em 0
					border-bottom 1px solid white
				
				li 
					display block
					margin 0
				a
					text-align left
					color white
					margin 0
					line-height 2em

	.notifications-icon
		position relative
		display inline-block
		cursor pointer
		width 1.8em
		//margin 0 .4em

		.icon-glyph
			font-size 1em
			top  -.95em
			margin-left .4em
			position absolute
			width 1.3em
			height 1.3em