@import "../global/breakpoints"

.header

  .notifications-icon, .help-icon, .menu-icon
    position relative
    float left
    cursor pointer
    width 1.4em
    vertical-align middle
    height 1.4em
    margin 0 .25em

  .icon-glyph, .icon-glyph-new
    top 50%
    margin 0
    position absolute
    width 100%
    height 100%
    left 0

  .toggle-menu
    i
      top 0
      width 2em
      left 0

  .app-user
    & > div
      display inline-block
    .user-name
      display none
      float left
      margin 0 .5em

@media $mq_medium
  .header .app-user .user-name
    display block
