.overlay
	// position absolute
	position fixed
	top 5%
	left 5%
	right 5%
	background white
	border 3px solid color-border-gray
	width 90%
	height 90%
	// min-height 720px
	z-index 1050
	overflow scroll
	padding 1em 2em 1em

	&.fade
		//top -5em
		transition opacity 0.1s ease-out
		&.in
			//top 5em

	.close
		position fixed
		top 5%
		right 5%
		cursor pointer
		background white
		color color-text-gray

	.page-heading
		text-align center
		border 0 none!important

	.search
		margin 1em 0 0

	.btn
		margin 1em

	.pagination
		text-align: center;
		clear both
		margin 2em 0 0
		
		li
			@extends .display-ib
			margin 0 .5em

			&.active
				float none
				font-weight bold
				font-size 1.25em

	input[type='radio']:checked + label,
	input[type='checkbox']:checked + label
		color white!important
		background color-logo-green!important

	.overlay-contain
		position relative

		.close
			position absolute
			height 1em
			top 0
			right 0
			padding 0

			i
				height 2em
			margin 0
