block vars
  - pageClassName = 'app-page setup device'

extends ../layout

block head
  base(href="/setup/device/")
  mixin requirejs("/assets/js/pages/setup/device")

  script(type='text/ng-template', id='connect.html')

    div(class="separator-top")
      p 
        | Now, we need to send your device key to your Base Station and tell it how to connect to your Wifi network. 
        | When in setup mode, the Base Station broadcasts a Wifi network named "BitponicsSetup". 
        | By connecting your computer to that network, you're able to send setup information to the device. 
      p We'll walk you through the process below. If you have any issues, you can check out the 
        a(href="/guides/bitponics-open-hardware#faq") device FAQ
        |  or contact us at our 
        a(class="intercom-trigger", href="/help") help page
        | .
      ol.list-style
        li
          h4.page-heading-small Prepare
          p 
            | Make sure the device does not have its power supply plugged in. Plug in all sensors: pH, water temperature, light, and EC if you have it. As part of the bootup process, the device verifies that its probes are working, so you need these plugged in before powering on. The probes don't need to be placed in a reservoir yet; you'll do that once you're ready to set up a garden.
        li
          h4.page-heading-small Power up
          p Plug your your power cord into a power outlet and then into the Base Station (this must be done in this order, or you risk short-circuiting your device). 
          p Your Base Station has a status light located on the front of the device.
          p When you first power up your device, this light will be red, indicating that it's booting up. 
          div.icon_device_led_red
          p
            | Once the light switches to blue, your device has started broadcasting the "BitponicsSetup" network, and you're ready for the next step. 
          div.icon_device_led_blue
        li
          h4.page-heading-small Connect to "BitponicsSetup"
          p Open your computer's WiFi settings. You should see a new network listed called "BitponicsSetup". We've seen this take a couple scans through "Looking for Networks..." to show up, so allow up to 1 minute for it appear in your network list. Connect to it.
        li
          h4.page-heading-small Connect to Base Station
          p Once you're connected, click the button below to connect your Base Station.
      
      div(class="step-footer")
        a(
          ng-class="getConnectButtonClass()", 
          id="connect-to-device", 
          href,
          ng-click="connect()"
          ) {{connectText}}
          div.loading-meter(style="width:{{progressPercent}}%")

  script(type='text/ng-template', id='wifi.html')

    div(class="separator-top")
      ol(class="list-style")
        li(id="enter-wifi-data", value="4")
            h4.page-heading-small Wifi Settings
            p Hooray! You're connected to your Bitponics Base Station, and now you're ready to tell it how to connect to your WiFi network. 
            form#wifi-form(ng-submit="submitWifiForm()")
              ul.unstyled-list
                li
                  label(for='key') Key (from previous page):
                    input#key(ng-model="bothKeys", name='key')
                li
                  div
                    p.no-margin-bottom Select from the scanned Wifi networks:
                    //- label(for='wifi-ssid') 
                      //- select#wifi-ssid(name='wifi-ssid')
                    div.custom-dropdown-wrap(id="wifi-ssid")
                      select(class="custom-dropdown", ng-model="sharedDataService.selectedWifiNetwork", ng-options="wifi.ssid for wifi in scannedWifiNetworks")
                        option(value="")  Select
                      div(class="dblarrow")
                        i

                  div(ng-show="sharedDataService.selectedWifiNetwork.isOtherNetwork")
                    p Enter your Wifi network information manually:
                    label(for='wifi-manual-ssid') Network Name:
                      input#wifi-manual-ssid(ng-model="manualWifiNetworkSSID", name="wifi-manual-ssid")  
                    p.no-margin-bottom Security Mode:
                    //- label(for='wifi-manual-security-mode') Security Mode:
                      //- select#wifi-manual-security-mode(name='wifi-manual-security-mode')
                    div.custom-dropdown-wrap(id="wifi-manual-security-mode")
                      select(class="custom-dropdown", ng-model="manualWifiNetworkSecurityMode")
                        option(value="")  Select
                        option(value="WPA_MODE") WPA 
                        option(value="WEP_MODE") WEP
                        option(value="NONE") NONE
                      div(class="dblarrow")
                        i
                li
                  label(for='wifi-pass') Password:
                    input#wifi-pass(ng-model="wifiPass", name='wifi-pass')

                li
                  button#submit-wifi-form(type='submit', class="btn next-step-btn") Connect To Network
  
  script(type='text/ng-template', id='pair.html')

    div(class="separator-top")
      ol(class="list-style")
        li(id="wifi-data-submitted", value="5")
          h4.page-heading-small Disconnect and Reconnect
          p Great! The Bitponics device is now connecting to your Wifi network.
          p Now, disconnect your computer from the BitponicsSetup Wifi network and reconnect it to your home network.
          
          p After you're back on your old Wifi network, close this page and check back on the previous tab.
            | That page will notify you once your device is paired with your account. You can also check the status of all 
            | devices paired with your account at 
            a(target="_self", href="/account/devices") /account/devices
            |.

        //- li#pairing-complete(ng-show="pairingComplete")
        //-   h4.page-heading-small You're All Set!
        //-   p Great, your device is now connected to your account. Let's take a look at the data we're getting.
        //-   a(id="submit-device-info", href="../dashboard", class="btn") Let's Go!

  script(type="text/ng-template", id="error-dialog-template")
    h3(class="page-heading page-heading error") Error Connecting to Device
    p.error
      | The request to your Bitponics device was not successful. Please repeat steps 2-3 and try again.

block css 
  link(rel='stylesheet', href='/assets/css/pages/setup.css')
  //- link(rel='stylesheet', href='/assets/css/libs/steps.css')

block content
  section.header
    header
      include /includes/nav/main
  
  section(ng-cloak="")#main(role="main", class="main")
    div.content-module.middle(ng-controller="bpn.controllers.setup.device.Main")
      h1.page-heading Setting up your Bitponics Base Station
      section(ng-view)

      


        

               

block footer-scripts
  script
    bpn.user = !{JSON.stringify(user.toPublicJSON())};
