body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {color: #2BB540; margin-bottom:30px;}

#light-sensor-graph {
	width:800px;
	height:600px;
}