/**
 * TODO : this isn't actually fading...just causing a delay on hide/show
 */
.fade-in-setup,
.fade-out-setup {
  -webkit-transition: 0.7s linear opacity;
  -moz-transition: 0.7s linear opacity;
  -o-transition: 0.7s linear opacity;
  transition: 0.7s linear opacity;
}
.fade-in-setup {
  opacity: 0;
}
.fade-out-setup {
  opacity: 1;
}
.fade-in-setup.fade-in-start {
  opacity: 1;
}
.fade-out-setup.fade-out-start {
  opacity: 0;
}
/*
 * Animations
 */
.accordion {
  -webkit-transition: 0.25s linear all;
  transition: 0.25s linear all;
  opacity: 1;
}
.accordion.ng-hide {
  opacity: 0;
  height: 0;
}
.accordion.ng-hide-add,
.accordion.ng-hide-remove {
/* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display: block !important;
}
.grid-cell-animation.ng-enter,
.grid-cell-animation.ng-leave,
.grid-cell-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}
.grid-cell-animation.ng-enter {
  bottom: -50px;
  opacity: 0;
}
.grid-cell-animation.ng-enter.ng-enter-active {
  bottom: 0;
  opacity: 1;
}
.grid-cell-animation.ng-leave {
  bottom: -50px;
  opacity: 0;
}
