@font-face {
  font-family: 'Reader';
  src: url("../../../../assets/fonts/reader/reader-regular-webfont.eot");
  src: url("../../../../assets/fonts/reader/reader-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../../../../assets/fonts/reader/reader-regular-webfont.woff") format('woff'), url("../../../../assets/fonts/reader/reader-regular-webfont.ttf") format('truetype'), url("../../../../assets/fonts/reader/reader-regular-webfont.svg#readerregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
