extends ../layout

block css

block content
  section.header
    header
      include ../includes/nav/main

  section#main(role="main", class="main")
    div(id="buy", class="content-module middle")
        h3(class="page-heading nav-section text-align-c")
          | You can now preorder the Bitponics Base Station.

        div(class="page-content")

          img(src="/assets/img/buy/device_small.jpg", alt="Bitponics Device")

          div.preorder-price
            span.dollar-sign 
            span.price-number 
            div.additional-text
              span 
              span 


          div.center.retail-price
            span.dollar-sign $
            span.price-number 399
            div.additional-text
              span Special Preorder Offer
              span Limited run of 40 devices!

            div(class="center clearfix")
              a(class="btn next-step-btn", href="buy/checkout")
                | Preorder
                i(class="icon-glyph icon-glypharrow", aria-hidden="true")
