.stackContent1of10
  width 10%

/*
.stackContent2of10 = .stackContent1of5
.stackContent4of10 = .stackContent2of5
.stackContent5of10 = .stackContent1of2
.stackContent6of10 = .stackContent3of5
*/

.stackContent3of10
  width 30%

.stackContent4of10
  width 40%
