@import "../global/colors"

.steps
	
	.step

		&.dim
			opacity .3

		&.hide
			//visibility hidden
			display none


	.next-step-btn
		// clear both
		margin-left 0

	.step-footer
		border-top 1px solid color-text-gray
		clear both
		margin 1em 0