article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
::-moz-selection {
  background: rgba(70,241,33,0.45);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: rgba(70,241,33,0.45);
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
@font-face {
  font-family: 'Reader';
  src: url("../../../../assets/fonts/reader/reader-regular-webfont.eot");
  src: url("../../../../assets/fonts/reader/reader-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../../../../assets/fonts/reader/reader-regular-webfont.woff") format('woff'), url("../../../../assets/fonts/reader/reader-regular-webfont.ttf") format('truetype'), url("../../../../assets/fonts/reader/reader-regular-webfont.svg#readerregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitponics-Glyphs';
  src: url("../../../../assets/fonts/Bitponics-Glyphs.eot");
  src: url("../../../../assets/fonts/Bitponics-Glyphs.eot?#iefix") format('embedded-opentype'), url("../../../../assets/fonts/Bitponics-Glyphs.woff") format('woff'), url("../../../../assets/fonts/Bitponics-Glyphs.ttf") format('truetype'), url("../../../../assets/fonts/Bitponics-Glyphs.svg#Bitponics-Glyphs") format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-glyphbitponics_ui_icons_v2-12:before,
.icon-glyphbitponics_ui_icons_v2-11:before,
.icon-glyphbitponics_ui_icons_v2-10:before,
.icon-glyphbitponics_ui_icons_v2-09:before,
.icon-glyphbitponics_ui_icons_v2-06:before,
.icon-light:before,
.icon-glyphbitponics_ui_icons_v2-04:before,
.icon-glyphbitponics_ui_icons_v2-03:before,
.icon-water:before,
.icon-glyphbitponics_ui_icons_v2-02:before,
.icon-glyphbitponics_ui_icons_v2-01:before,
.icon-ph:before,
.icon-glyphbitponics_logo_test:before,
.icon-glyphbitponics_settings_icon:before,
.icon-waterpump:before,
.icon-glyphwaterpump-2:before,
.icon-glyphwaterpump-3:before,
.icon-glyphlogo-new:before,
.icon-glyphuntitled:before,
.icon-glypharrow:before,
.icon-glyphfc-webicon-twitter:before,
.icon-glyphfc-webicon-facebook:before,
.icon-glypharrow-2:before,
.icon-glyphuntitled-2:before,
.icon-glyphbitponics_ui_icons_v2-07:before,
.icon-glyphmail:before,
.icon-glyphbitponics_ui_icons_v2-08:before {
  font-family: 'Bitponics-Glyphs';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-glyphbitponics_ui_icons_v2-12:before {
  content: "\e000";
}
.icon-glyphbitponics_ui_icons_v2-11:before {
  content: "\e001";
}
.icon-glyphbitponics_ui_icons_v2-10:before {
  content: "\e002";
}
.icon-glyphbitponics_ui_icons_v2-09:before {
  content: "\e003";
}
.icon-glyphbitponics_ui_icons_v2-06:before {
  content: "\e004";
}
.icon-light:before {
  content: "\e005";
}
.icon-glyphbitponics_ui_icons_v2-04:before {
  content: "\e006";
}
.icon-glyphbitponics_ui_icons_v2-03:before,
.icon-water:before {
  content: "\e007";
}
.icon-glyphbitponics_ui_icons_v2-02:before {
  content: "\e008";
}
.icon-glyphbitponics_ui_icons_v2-01:before,
.icon-ph:before {
  content: "\e009";
}
.icon-glyphbitponics_logo_test:before {
  content: "\e00a";
}
.icon-glyphbitponics_settings_icon:before {
  content: "\e00b";
}
.icon-waterpump:before {
  content: "\e018";
}
.icon-glyphwaterpump-2:before {
  content: "\e00d";
}
.icon-glyphwaterpump-3:before {
  content: "\e00e";
}
.icon-glyphlogo-new:before {
  content: "\e00f";
}
.icon-glyphuntitled:before {
  content: "\e010";
}
.icon-glypharrow:before {
  content: "\e011";
}
.icon-glyphfc-webicon-twitter:before {
  content: "\e013";
}
.icon-glyphfc-webicon-facebook:before {
  content: "\e014";
}
.icon-glypharrow-2:before {
  content: "\e015";
}
.icon-glyphuntitled-2:before {
  content: "\e016";
}
.icon-glyphbitponics_ui_icons_v2-07:before {
  content: "\e017";
}
.icon-glyphmail:before {
  content: "\e012";
}
.icon-glyphbitponics_ui_icons_v2-08:before {
  content: "\e018";
}
@font-face {
  font-family: "fontcustom";
  src: url("../../../../assets/fonts/fontcustom-a43e064ddfe5b15aa09df16649a352f2.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/fontcustom-a43e064ddfe5b15aa09df16649a352f2.woff") format("woff"), url("../../../../assets/fonts/fontcustom-a43e064ddfe5b15aa09df16649a352f2.ttf") format("truetype"), url("../../../../assets/fonts/fontcustom-a43e064ddfe5b15aa09df16649a352f2.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-glyph-new"]:before,
[class*=" icon-glyph-new"]:before {
  font-family: "fontcustom";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
.icon-01_-:before {
  content: "\f100";
}
.icon-02_airtemperature:before {
  content: "\f101";
}
.icon-03_arrow-left:before {
  content: "\f102";
}
.icon-04_arrow-right:before {
  content: "\f103";
}
.icon-05_c:before {
  content: "\f104";
}
.icon-06_cloud:before {
  content: "\f105";
}
.icon-07_ec:before {
  content: "\f106";
}
.icon-08_email:before {
  content: "\f107";
}
.icon-09_facebook:before {
  content: "\f108";
}
.icon-10_fan:before {
  content: "\f109";
}
.icon-11_flowering:before {
  content: "\f10a";
}
.icon-12_light:before {
  content: "\f10b";
}
.icon-13_lock:before {
  content: "\f10c";
}
.icon-14_logo:before {
  content: "\f10d";
}
.icon-15_notifications:before {
  content: "\f10e";
}
.icon-16_phone:before {
  content: "\f10f";
}
.icon-17_photos:before {
  content: "\f110";
}
.icon-18_seedling:before {
  content: "\f111";
}
.icon-19_settings:before {
  content: "\f112";
}
.icon-20_system:before {
  content: "\f113";
}
.icon-21_time:before {
  content: "\f114";
}
.icon-22_twitter:before {
  content: "\f115";
}
.icon-23_vegetative:before {
  content: "\f116";
}
.icon-24_water-control:before {
  content: "\f117";
}
.icon-25_water-level:before {
  content: "\f118";
}
.icon-26_water:before {
  content: "\f119";
}
.icon-27_waterpump:before {
  content: "\f11a";
}
.icon-28_x:before {
  content: "\f11b";
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.fixed {
  position: fixed;
}
.position-r {
  position: relative;
}
.position-a {
  position: absolute;
}
.display-b {
  display: block;
}
.display-n {
  display: none;
}
.display-i {
  display: inline;
}
.display-ib,
.btn,
.btn *,
.control,
.page-content.center-img img,
.overlay .pagination li,
.featured-press a,
.additional-press a,
.dashboard .content-module,
.growplans .edit-btn,
.growplans .idealRanges .hi input[type=number],
.growplans .actions .hi input[type=number],
.growplans .idealRanges .lo input[type=number],
.growplans .actions .lo input[type=number] {
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
  display: inline-block;
}
.display-t {
  display: table;
}
.clear-b {
  clear: both;
}
.clear-l {
  clear: left;
}
.clear-r {
  clear: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.float-n {
  float: none;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.text-align-c {
  text-align: center;
}
.text-align-r {
  text-align: right;
}
.text-align-l {
  text-align: left;
}
.text-align-j {
  text-align: justify;
}
.padding-20 {
  padding: 20px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.default-border-b {
  border-bottom: 1px solid #333;
}
.default-border-t {
  border-top: 1px solid #333;
}
.default-border-r {
  border-right: 1px solid #333;
}
.default-border-l {
  border-left: 1px solid #333;
}
.content-box {
  display: block;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
}
.content-box:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.text-normalize {
  font-family: 'Courier New', monospace;
  letter-spacing: -0.63em;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
}
.hide-text,
.social-icons li div {
  text-indent: -300%;
  white-space: nowrap;
  overflow: hidden;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow {
  overflow: auto;
}
.circle,
.social-icons li {
  text-align: center;
  border-radius: 50em;
}
.circle:before,
.social-icons li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.separator-top {
  border-top: 1px solid #d8d8d8;
}
html {
  min-height: 100%;
}
body {
  margin: 0.5em;
  color: #333;
  font-family: Reader, Helvetica, Arial, sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  background: color-global-background;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
abbr[title] {
  border: none;
}
div,
p,
span,
a,
a:visited,
a:hover,
a:active {
  color: #00e36c;
}
a {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
img {
  max-width: 100%;
  height: auto;
}
dd,
dt {
  margin: 0;
  padding: 0;
}
input,
label {
  max-width: 100%;
}
[ngcloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none;
}
.script {
  display: none;
}
/*
 * Modules
 */
.content-module {
  min-width: 9em;
  margin: 0 0 2.25em;
  border-top: 3px solid #00e36c;
}
.content-module.small {
  width: 25%;
}
.content-module.medium {
  width: 50%;
}
.content-module.large {
  width: 100%;
}
.content-module.middle {
  width: 100%;
}
.data-module {
  color: #fff;
  text-align: center;
  position: relative;
  background-color: #00e36c;
  height: 11.5em;
  text-transform: uppercase;
  margin: 0.125em 0;
}
.data-module div,
.data-module p,
.data-module span,
.data-module a,
.data-module a:visited,
.data-module a:hover,
.data-module a:active {
  color: #fff;
}
.data-module.warning {
  background-color: color-warning;
}
.data-module .main-heading,
.data-module .message,
.data-module .settings,
.data-module .sensor-value-unit,
.data-module .sensor-type {
  position: absolute;
}
.data-module .main-heading {
  color: #fff;
  font-size: 0.75em;
  margin: 0;
  top: 0.5em;
  left: 0.75em;
  font-weight: bold;
}
.data-module .message {
  bottom: 0.5em;
  right: 0.75em;
}
.data-module .settings {
  top: 0.15em;
  right: 0.5em;
}
.data-module .message,
.data-module .sensor-value-unit {
  font-size: 0.55em;
  font-weight: bold;
}
.data-module .sensor-value-unit {
  top: 1em;
  right: 1.85em;
  line-height: 1em;
  text-align: left;
}
.data-module .sensor-value-unit span {
  display: block;
}
.data-module .sensor-data {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 1.85em;
  left: 0;
  width: 100%;
  border-top: 1px solid #fff;
}
.data-module .sensor-value {
  font-size: 10em;
  letter-spacing: -0.1em;
  line-height: 1.25em;
  margin: -0.15em 0 0 -0.15em;
  text-align: center;
}
.data-module .sensor-type {
  bottom: 0.25em;
  left: 0.5em;
}
.data-module.closed {
  min-height: 2em;
  height: auto;
}
.data-module.closed .main-heading {
  position: static;
  display: inline-block;
  vertical-align: middle;
  width: 63%;
  text-align: left;
  text-indent: 0.45em;
}
.data-module.closed .sensor-value-unit,
.data-module.closed .message,
.data-module.closed .settings,
.data-module.closed .sensor-type {
  display: none;
}
.data-module.closed .sensor-data {
  width: 30%;
  text-align: right;
  position: relative;
  right: 0.25em;
  top: 0;
  border: none 0;
}
.data-module.closed .sensor-value {
  font-size: 0.75em;
  position: static;
  letter-spacing: normal;
  margin: 0;
  position: relative;
  right: 0.15em;
  text-align: right;
  font-weight: bold;
}
.data-module:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
/*
 * headings
 */
/*
 * Icons
 */
.icon {
  display: inline-block;
}
.icon div,
.icon a {
  text-transform: lowercase;
}
/*
 * Default list style
 */
.list-style {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.list-style ul {
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 1em;
}
.list-style ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  padding-left: 1em;
}
ul.list-style {
  list-style-type: disc;
}
ol.list-style {
  list-style-type: decimal;
}
.list-continue-3 {
  counter-reset: 3;
}
.list-continue-4 {
  counter-reset: 4;
}
/*
 * Generic Button Style
 */
.btn {
  padding: 1em;
  margin: 1em;
  background: #00e36c;
  color: #fff;
  cursor: pointer;
}
.btn * {
  margin: 0;
}
.btn.sub {
  background: #00e36c;
}
.btn.clear {
  display: block;
  clear: both;
  margin: 0;
}
.btn.add {
  border: 0 none;
}
.page-content .center {
  width: 100%;
  clear: both;
  text-align: center;
  float: right;
  margin: 0;
}
a.btn,
button.btn {
  display: inline-block;
  background: #fff !important;
  color: #00e36c;
  border: 3px solid #00e36c;
}
a.btn i,
button.btn i {
  margin: 0 0 0 0.5em;
}
button.btn:hover {
  text-decoration: underline;
}
.step {
  padding: 3em 0 0;
}
/*
 * Visualizer
 */
/*
 * controls
 */
.control {
  width: 8em;
  position: relative;
  text-align: center;
  color: #00e36c;
  font-weight: bold;
  margin: 0 0 1em;
}
.control:before {
  position: absolute;
  padding-top: 3.35em;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1.5em;
}
.control svg {
  top: 2em;
  left: 0;
}
/*
 * sensors
 */
#ph,
#ec,
#tds,
#sal,
#water {
  background-color: color-sensor-water;
}
#air,
#hum,
#co2 {
  background-color: color-sensor-air;
}
#lux,
#ir,
#full,
#vis {
  background-color: color-sensor-light;
}
.empty {
  background-color: color-sensor-empty;
}
/*
 * Phase Visualizer
 */
#phases-graph svg {
  display: inline-block;
  vertical-align: top;
}
section.footer {
  clear: both;
}
section.footer div {
  width: 100%;
  text-align: center;
}
section.footer a {
  margin: 0 1em;
  display: inline-block;
}
section.footer .content-module {
  background-color: color-global-background;
}
/*
 * Notifications
 */
.loader {
  height: 24px;
  width: 24px;
  background: url("/assets/img/loader.gif") no-repeat 0 0;
}
.page-content em {
  display: block;
}
body {
  color: #fff;
  margin: 0;
}
div,
p,
span,
a,
a:visited,
a:hover,
a:active {
  color: #999;
}
section {
  clear: both;
}
input[type=submit] {
  font-size: 1.1em;
}
.footer {
  background-color: #c1c2c4;
  color: #fff;
  padding: 0 2.5%;
  font-size: 0.85em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-heading {
  color: #fff;
}
.content-module {
  border: none;
  background-color: #fff;
  color: #00e36c;
}
.content-module h3 div,
.content-module a,
.content-module a:visited,
.content-module a:hover,
.content-module a:active {
  color: #00e36c;
}
.content-module .nav-section {
  border-top: 1px solid #00e36c;
}
.content-module.inverted-color {
  background-color: #00e36c;
}
.content-module.inverted-color div,
.content-module.inverted-color p,
.content-module.inverted-color span,
.content-module.inverted-color a,
.content-module.inverted-color a:visited,
.content-module.inverted-color a:hover,
.content-module.inverted-color a:active {
  color: #fff;
}
.content-module.inverted-color .nav-section {
  border-top: 1px solid #fff;
}
.content-module#home {
  background-color: #d1d7d7;
}
.page {
  background-position: 35% -13em;
  background-repeat: no-repeat;
}
.main > div,
header {
  margin: 0;
  z-index: 2;
}
.header-fixed {
  display: none;
}
nav li {
  display: block;
  margin: 0;
  padding: 0.25em 0.5em;
  background: none;
  color: #999;
  display: none;
}
nav li.first {
  display: block;
}
nav.open {
  display: block;
}
.logo {
  font-size: 1.45em;
  margin: 0;
  width: auto;
  height: 1em;
  white-space: nowrap;
}
.logo span {
  font-size: 0.65em;
  vertical-align: top;
}
.icon-glyphlogo-new {
  display: none;
}
.page-heading,
.page-content {
  width: 95%;
  margin: 0 auto;
}
.page-heading .icon-glyphlogo-new {
  display: none;
}
.page-content {
  clear: both;
  overflow: hidden;
}
.page-content.center-img {
  text-align: center;
}
.page-content p {
  font-size: 0.85em;
  text-align: left;
  max-width: 35em;
}
.page-content p.blurb {
  position: relative;
  border-top: 1px solid #fff;
  padding: 2em 0 0 12em;
  line-height: 1.5em;
}
/*
 * Overlay
 */
.overlay {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  background: #fff;
  border: 3px solid #d8d8d8;
  width: 90%;
  height: 90%;
  z-index: 1050;
  overflow: scroll;
  padding: 1em 2em 1em;
}
.overlay.fade {
  transition: opacity 0.1s ease-out;
}
.overlay .close {
  position: fixed;
  top: 5%;
  right: 5%;
  cursor: pointer;
  background: #fff;
  color: #999;
}
.overlay .page-heading {
  text-align: center;
  border: 0 none !important;
}
.overlay .search {
  margin: 1em 0 0;
}
.overlay .btn {
  margin: 1em;
}
.overlay .pagination {
  text-align: center;
  clear: both;
  margin: 2em 0 0;
}
.overlay .pagination li {
  margin: 0 0.5em;
}
.overlay .pagination li.active {
  float: none;
  font-weight: bold;
  font-size: 1.25em;
}
.overlay input[type='radio']:checked + label,
.overlay input[type='checkbox']:checked + label {
  color: #fff !important;
  background: #00e36c !important;
}
/*
 * Home Page
 */
.headline {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0,0,0,0.25);
  margin: 0;
  width: 100%;
  min-height: 100%;
  padding: 0.5em 4em;
  font-size: 1em;
  z-index: 1;
}
.headline-about {
  position: static;
  font-size: 4em;
  margin: 0.5em 0 0.45em 0;
  line-height: 1em;
}
.featured-press,
.additional-press {
  margin: 1.5em 0;
}
.additional-press a {
  width: 100%;
}
.additional-press .last a {
  width: auto;
}
.elevated-item li {
  margin: 0;
  padding: 0;
}
.elevated-item .btn {
  padding: 0.5em;
  margin: 0 0 0 -0.5em;
  background: #fff;
  border: 2px solid #999;
}
.social-icons {
  position: relative;
  top: -0.4em;
  right: 0;
}
.social-icons li {
  cursor: pointer;
  width: 2em;
  height: 2em;
  padding: 0.5em 0;
  margin: 0 0 0 0.25em;
  background: #999;
  color: #fff;
  position: relative;
  float: left;
  text-align: right;
}
.social-icons li div {
  text-indent: 100%;
}
.social-icons li a,
.social-icons li i {
  font-size: 1.4em;
}
.social-icons li i {
  position: absolute;
  top: 0;
  left: 0;
}
.social-icons i.icon-glyphmail {
  left: -0.09em;
  top: -0.025em;
}
.flexslider ul {
  margin: 0;
  padding: 0;
}
.flexslider img {
  width: 100%;
  height: auto;
  display: inline;
}
.slides li {
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.45, #a4a4a4), color-stop(0.7, #cacecf));
  background: -webkit-linear-gradient(top, #a4a4a4 45%, #cacecf 70%);
  background: -moz-linear-gradient(top, #a4a4a4 45%, #cacecf 70%);
  background: -o-linear-gradient(top, #a4a4a4 45%, #cacecf 70%);
  background: -ms-linear-gradient(top, #a4a4a4 45%, #cacecf 70%);
  background: linear-gradient(top, #a4a4a4 45%, #cacecf 70%);
}
.flex-direction-nav {
  position: relative;
  top: -8em;
  color: #fff;
  z-index: 3;
  width: 100%;
}
.flex-direction-nav li {
  position: absolute;
  width: 100%;
}
.flex-direction-nav a {
  color: #fff;
  display: block;
  position: absolute;
}
.flex-direction-nav .flex-prev {
  left: 1em;
}
.flex-direction-nav .flex-next {
  right: 1em;
}
.flex-direction-nav i {
  color: #fff;
  font-size: 3em;
}
#how-it-works p {
  text-align: left;
  color: #999;
  margin: 1em;
}
#how-it-works #details .detail-block {
  margin: 1em;
}
#how-it-works #details .detail-block p {
  float: none;
  margin: 0;
  width: auto;
  border: none;
}
#how-it-works #details .detail-block ul {
  font-size: 0.85em;
  text-align: left;
  list-style: disc inside;
}
#team,
#contact {
  background: #c1c2c4;
}
#team div,
#contact div,
#team p,
#contact p,
#team a,
#contact a,
#team h3,
#contact h3 {
  color: #fff;
  border-color: #fff;
}
.page-content-inner-wrapper {
  padding: 0 0.5em;
}
#pricing.content-module {
  min-height: auto;
  height: auto;
}
#pricing .development-status // TEMP while we're only showing dev-status messaging {
  color: #00e36c;
  font-size: 1.5em;
  margin-bottom: 0;
}
#pricing .btn {
  color: #00e36c;
  border-color: #00e36c;
}
#pricing .base-station-preorder .btn {
  margin-left: 0;
}
#pricing h2.price-category {
  color: #00e36c;
  border-top: 1px solid #00e36c;
  line-height: 2em;
  margin-top: 3em;
  margin-bottom: 1em;
}
#pricing h2.price-category.first {
  margin: 0;
  border-top: none;
}
#pricing .price {
  padding-left: 1em;
}
#pricing .price.base-station-price {
  display: block;
  margin: 0 auto;
}
#pricing .price.base-station-price span {
  color: #00e36c;
}
#pricing .price span.price-number {
  font-size: 3.5em;
  position: relative;
}
#pricing .price span.price-number .price-currency {
  font-size: 0.5em;
  position: absolute;
  top: 0.1em;
  left: -0.7em;
}
.list-grid-wrapper {
  font-size: 0.75em;
}
.list-grid-wrapper .grid-list li {
  font-size: 1em;
}
.list-grid-wrapper .grid-list li h2 {
  margin: 1em 0 0;
  line-height: 1em;
  font-size: 1.5em;
}
.list-grid-wrapper .grid-list.feature-icons {
  display: none;
}
.list-grid-wrapper .grid-list.feature-icons li div {
  display: none;
}
.list-grid-wrapper .grid-list.tier1 h2 span,
.list-grid-wrapper .grid-list.tier1 .price span {
  color: #92ed00;
}
.list-grid-wrapper .grid-list.tier2 h2 span,
.list-grid-wrapper .grid-list.tier2 .price span {
  color: #00e36c;
}
.list-grid-wrapper .grid-list.tier3 h2 span,
.list-grid-wrapper .grid-list.tier3 .price span {
  color: #00f5a3;
}
.member {
  clear: both;
  margin: 0 0 1em 0;
}
.member h3 {
  border-bottom: 1px solid #fff;
}
.member img {
  border: 4px solid #fff;
}
/*
 * Dashboard Page
 */
.dashboard .content-module.middle {
  width: 50%;
}
.dashboard .content-module.side {
  width: 25%;
}
.circle svg {
  max-width: 100%;
}
/*
 * Profile Page
 */
/*
 * Single landing page overrides
 */
.single-page .icon-glyphlogo-new {
  display: none !important;
}
.single-page .main,
.single-page .footer {
  max-width: 60em;
  margin: 0 auto;
  width: 95%;
}
.single-page .main {
  margin: 3em auto !important;
}
.single-page .content-module {
  padding-top: 1.5em;
}
.single-page .footer {
  background: none;
  height: auto;
  min-height: auto;
  padding: 0;
  font-size: 1em;
}
.single-page .footer div {
  position: static;
}
.single-page .page-content,
.single-page .page-heading {
  width: 100%;
}
/*
 * Register page
 */
.landing-page.getstarted #main {
  margin: 1em 1em 0;
}
.landing-page.getstarted #main .page-heading {
  font-size: 2em;
  color: #00e36c;
  font-size: 2.5em;
  line-height: 1;
}
.landing-page.getstarted #main .page-content {
  border-top: 1px solid #00e36c;
}
.landing-page.getstarted #main ul {
  padding: 1em;
  margin-left: 1em;
  list-style: initial;
li
}
.landing-page.getstarted #main p {
  color: #00e36c;
}
.landing-page.register #main .page-content {
  padding-top: 1em;
}
.landing-page.register .retail-price,
.landing-page.register .preorder-price {
  float: left;
  font-size: 2em;
}
.landing-page.register .retail-price .additional-text,
.landing-page.register .preorder-price .additional-text {
  font-size: 10px;
  text-align: center;
}
.landing-page.register .preorder-price {
  position: relative;
  font-size: 3em;
}
.landing-page.register .preorder-price span.dollar-sign,
.landing-page.register .preorder-price span.price-number {
  color: #00e36c;
}
.landing-page.register .preorder-price .additional-text span {
  display: inline-block;
  text-align: left;
}
.landing-page.register .checkout-imgs {
  border-top: 1px solid #00e36c;
  padding-top: 1em;
}
.landing-page.register .checkout-imgs img {
  display: block;
  width: auto;
  margin: 0 auto;
}
/*
 * App Page
 */
.app-page {
  color: #999;
}
.app-page .header {
  position: static;
  padding: 0.45em 0;
}
.app-page .header .nav-section {
  padding: 0;
}
.app-page .header .nav-section.first,
.app-page .header .nav-section.app-user {
  display: block;
}
.app-page .header h1.logo a,
.app-page .header h1.logo span {
  color: #00e36c;
}
.app-page .header .icon-glyphlogo-new {
  display: none;
}
.app-page .main {
  max-width: 60em;
  margin: 0 auto;
}
.app-page .footer {
  min-height: 0;
  background: #fff;
}
.app-page .label {
  font-size: 0.75em;
}
.app-page .value {
  font-size: 1.5em;
  color: #999;
}
.app-page .page-heading {
  color: #999;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 0 0 0.25em 0;
}
.app-page .page-heading-large {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0;
  color: #999;
  border-width: 0;
}
.app-page .page-heading-large span,
.app-page .page-heading-large input,
.app-page .page-heading-large div {
  color: #999;
}
.app-page .page-heading-small {
  line-height: 1.25em;
  font-size: 1.5em;
}
.app-page .separator-top {
  border-width: 1px 0 0;
  padding-top: 0.25em;
  margin-top: 0.25em;
}
.app-page .dropdown {
  margin: 1em auto;
}
.app-page .app-user {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
.app-page .app-user a {
  color: #00e36c !important;
}
/*
 * Grow Plans Page
 */
/*
 * Bootstrap v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 *
 * Heavily redacted by Amit Kumar to remove generic styles and only leave
 * UI component styles (overlay, carousel, etc)
 */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #fff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #08c, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #08c, #0077b3);
  background-image: -o-linear-gradient(top, #08c, #0077b3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #08c), color-stop(1, #0077b3));
  background-image: -webkit-linear-gradient(top, #08c 0%, #0077b3 100%);
  background-image: -moz-linear-gradient(top, #08c 0%, #0077b3 100%);
  background-image: -o-linear-gradient(top, #08c 0%, #0077b3 100%);
  background-image: -ms-linear-gradient(top, #08c 0%, #0077b3 100%);
  background-image: linear-gradient(top, #08c 0%, #0077b3 100%);
  background-repeat: repeat-x;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #08c, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #08c, #0077b3);
  background-image: -o-linear-gradient(top, #08c, #0077b3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #08c), color-stop(1, #0077b3));
  background-image: -webkit-linear-gradient(top, #08c 0%, #0077b3 100%);
  background-image: -moz-linear-gradient(top, #08c 0%, #0077b3 100%);
  background-image: -o-linear-gradient(top, #08c 0%, #0077b3 100%);
  background-image: -ms-linear-gradient(top, #08c 0%, #0077b3 100%);
  background-image: linear-gradient(top, #08c 0%, #0077b3 100%);
  background-repeat: repeat-x;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
}
.open {
  *z-index: 1000;
}
.open > .dropdown-menu {
  display: block;
}
.pull-right {
  float: right;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  -webkit-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #ccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  -webkit-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  -webkit-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
}
.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0,0,0,0.15);
}
.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.fade {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.collapse.in {
  height: auto;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert,
.alert h4 {
  color: #c09853;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success h4 {
  color: #468847;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info h4 {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block p + p {
  margin-top: 5px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
  border-color: #999;
}
.tabbable {
  *zoom: 1;
}
.tabbable:after {
  clear: both;
}
.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  content: "";
}
.tab-content {
  overflow: auto;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eee #ddd #eee #eee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #fff;
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eee #eee #eee #ddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #fff;
}
.pagination {
  margin: 20px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999;
  cursor: default;
  background-color: transparent;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}
.pager {
  margin: 20px 0;
  text-align: center;
  list-style: none;
  *zoom: 1;
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager:before,
.pager:after {
  display: table;
  line-height: 0;
  content: "";
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999;
  cursor: default;
  background-color: #fff;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: visible;
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000;
  border-width: 5px 5px 0;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000;
  border-width: 5px 5px 5px 0;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000;
  border-width: 5px 0 5px 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.popover.top {
  margin-top: -10px;
}
.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0,0,0,0.25);
  border-bottom-width: 0;
}
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right {
  margin-left: 10px;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0,0,0,0.25);
  border-left-width: 0;
}
.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0,0,0,0.25);
  border-top-width: 0;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #fff;
  border-top-width: 0;
}
.popover.left {
  margin-left: -10px;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0,0,0,0.25);
  border-right-width: 0;
}
.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #fff;
  border-right-width: 0;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.popover-title:empty {
  display: none;
}
.popover-content {
  padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.accordion {
  margin-bottom: 20px;
}
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.accordion-heading {
  border-bottom: 0;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}
.accordion-toggle {
  cursor: pointer;
}
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.growplans .plantlist {
  padding: 1em 0 0;
  float: left;
}
.growplans .btn {
  padding: 0.5em;
}
.growplans .edit-btn {
  height: 1em;
  padding-left: 1em;
  position: relative;
  margin: 0 0 1em;
}
.growplans .edit-btn i {
  position: absolute;
  top: 0;
  left: 0;
}
.growplans .grid li {
  margin: 1em 1em 0 0;
}
.growplans .grid li .btn {
  margin: 0;
  width: 100%;
  text-align: center;
}
.growplans .grid img {
  width: 100%;
}
.growplans .grid .label {
  margin: 0;
  padding: 0.45em 0 0;
  border-top: 1px solid #999;
}
.growplans .grid .first .label {
  border: 0 none;
}
.growplans .grid .value {
  margin: 0 0 1em;
}
.growplans .next-step-btn,
.growplans .phase-tabs .btn {
  background: #fff !important;
  color: #00e36c !important;
  border: 3px solid #00e36c;
  padding: 0.5em 2em;
  display: block;
  text-align: center;
  width: 15em;
}
.growplans .next-step-btn .icon-glyph-new,
.growplans .phase-tabs .btn .icon-glyph-new {
  color: #00e36c;
}
.growplans .question .grid li {
  margin: 0;
  width: auto;
}
.growplans .question .grid li .btn {
  margin: 1em 1em 0 0;
  width: auto;
}
.growplans .question .add {
  float: left;
  clear: left;
  margin-left: 0;
}
.growplans .icon-glyph-new {
  height: 1em;
  font-size: 0.75em;
  position: relative;
  top: -0.25em;
}
.growplans #growplans_activate {
  clear: both;
}
.growplans .phaseDescription {
  margin: 0 0 2em 0;
}
.growplans .phase-tabs {
  list-style: none;
  clear: both;
  overflow: hidden;
}
.growplans .phase-tabs .btn {
  width: auto;
}
.growplans .phase-tabs .selected {
  background: #00e36c !important;
  color: #fff !important;
}
.growplans .phase-tabs .selected .icon-glyph-new {
  color: #fff !important;
}
.growplans .phase-tabs li {
  position: relative;
  width: auto;
  float: left;
  padding: 0.25em 0.5em;
  margin: 1em 0.25em 1em 0;
}
.growplans .phase-tabs li.focused {
  text-decoration: underline;
}
.growplans .phase-tabs li.inactive {
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background-color: rgba(36,211,33,0.6);
}
.growplans .phase-tabs li .toggle {
  text-decoration: none;
}
.growplans .idealRanges,
.growplans .actions {
  position: relative;
  zoom: 1;
}
.growplans .idealRanges:before,
.growplans .actions:before,
.growplans .idealRanges:after,
.growplans .actions:after {
  content: "";
  display: table;
}
.growplans .idealRanges:after,
.growplans .actions:after {
  clear: both;
}
.growplans .idealRanges ul,
.growplans .actions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.growplans .idealRanges .question,
.growplans .actions .question {
  margin: 0 1em 1em 0;
  border: 1px solid #d8d8d8;
  padding: 2em 1em 1em;
  position: relative;
}
.growplans .idealRanges .btn,
.growplans .actions .btn {
  margin-left: 0;
  margin-top: 0;
}
.growplans .idealRanges .btn.close,
.growplans .actions .btn.close {
  position: absolute;
  top: 0;
  right: -0.25em;
  cursor: pointer;
  background: #fff;
  color: #999;
}
.growplans .idealRanges input[type=checkbox],
.growplans .actions input[type=checkbox] {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: auto;
  width: auto;
  margin: auto;
  display: inline;
}
.growplans .idealRanges .separator-top,
.growplans .actions .separator-top {
  margin-top: 1em;
}
.growplans .idealRanges .hi label,
.growplans .actions .hi label,
.growplans .idealRanges .lo label,
.growplans .actions .lo label,
.growplans .idealRanges .hi textarea,
.growplans .actions .hi textarea,
.growplans .idealRanges .lo textarea,
.growplans .actions .lo textarea {
  display: block;
  width: 100%;
}
.growplans .idealRanges .hi input[type=number],
.growplans .actions .hi input[type=number],
.growplans .idealRanges .lo input[type=number],
.growplans .actions .lo input[type=number] {
  width: 6em;
  margin-right: 1em;
}
.growplans .phaseEndDescription {
  margin: 2em 0 2em;
  clear: both;
}
