article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
::-moz-selection {
  background: rgba(70,241,33,0.45);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: rgba(70,241,33,0.45);
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
@font-face {
  font-family: 'Reader';
  src: url("../../../../assets/fonts/reader/reader-regular-webfont.eot");
  src: url("../../../../assets/fonts/reader/reader-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../../../../assets/fonts/reader/reader-regular-webfont.woff") format('woff'), url("../../../../assets/fonts/reader/reader-regular-webfont.ttf") format('truetype'), url("../../../../assets/fonts/reader/reader-regular-webfont.svg#readerregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitponics-Glyphs';
  src: url("../../../../assets/fonts/Bitponics-Glyphs.eot");
  src: url("../../../../assets/fonts/Bitponics-Glyphs.eot?#iefix") format('embedded-opentype'), url("../../../../assets/fonts/Bitponics-Glyphs.woff") format('woff'), url("../../../../assets/fonts/Bitponics-Glyphs.ttf") format('truetype'), url("../../../../assets/fonts/Bitponics-Glyphs.svg#Bitponics-Glyphs") format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-glyphbitponics_ui_icons_v2-12:before,
.icon-glyphbitponics_ui_icons_v2-11:before,
.icon-glyphbitponics_ui_icons_v2-10:before,
.icon-glyphbitponics_ui_icons_v2-09:before,
.icon-glyphbitponics_ui_icons_v2-06:before,
.icon-light:before,
.icon-glyphbitponics_ui_icons_v2-04:before,
.icon-glyphbitponics_ui_icons_v2-03:before,
.icon-water:before,
.icon-glyphbitponics_ui_icons_v2-02:before,
.icon-glyphbitponics_ui_icons_v2-01:before,
.icon-ph:before,
.icon-glyphbitponics_logo_test:before,
.icon-glyphbitponics_settings_icon:before,
.icon-waterpump:before,
.icon-glyphwaterpump-2:before,
.icon-glyphwaterpump-3:before,
.icon-glyphlogo-new:before,
.icon-glyphuntitled:before,
.icon-glypharrow:before,
.icon-glyphfc-webicon-twitter:before,
.icon-glyphfc-webicon-facebook:before,
.icon-glypharrow-2:before,
.icon-glyphuntitled-2:before,
.icon-glyphbitponics_ui_icons_v2-07:before,
.icon-glyphmail:before,
.icon-glyphbitponics_ui_icons_v2-08:before {
  font-family: 'Bitponics-Glyphs';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-glyphbitponics_ui_icons_v2-12:before {
  content: "\e000";
}
.icon-glyphbitponics_ui_icons_v2-11:before {
  content: "\e001";
}
.icon-glyphbitponics_ui_icons_v2-10:before {
  content: "\e002";
}
.icon-glyphbitponics_ui_icons_v2-09:before {
  content: "\e003";
}
.icon-glyphbitponics_ui_icons_v2-06:before {
  content: "\e004";
}
.icon-light:before {
  content: "\e005";
}
.icon-glyphbitponics_ui_icons_v2-04:before {
  content: "\e006";
}
.icon-glyphbitponics_ui_icons_v2-03:before,
.icon-water:before {
  content: "\e007";
}
.icon-glyphbitponics_ui_icons_v2-02:before {
  content: "\e008";
}
.icon-glyphbitponics_ui_icons_v2-01:before,
.icon-ph:before {
  content: "\e009";
}
.icon-glyphbitponics_logo_test:before {
  content: "\e00a";
}
.icon-glyphbitponics_settings_icon:before {
  content: "\e00b";
}
.icon-waterpump:before {
  content: "\e018";
}
.icon-glyphwaterpump-2:before {
  content: "\e00d";
}
.icon-glyphwaterpump-3:before {
  content: "\e00e";
}
.icon-glyphlogo-new:before {
  content: "\e00f";
}
.icon-glyphuntitled:before {
  content: "\e010";
}
.icon-glypharrow:before {
  content: "\e011";
}
.icon-glyphfc-webicon-twitter:before {
  content: "\e013";
}
.icon-glyphfc-webicon-facebook:before {
  content: "\e014";
}
.icon-glypharrow-2:before {
  content: "\e015";
}
.icon-glyphuntitled-2:before {
  content: "\e016";
}
.icon-glyphbitponics_ui_icons_v2-07:before {
  content: "\e017";
}
.icon-glyphmail:before {
  content: "\e012";
}
.icon-glyphbitponics_ui_icons_v2-08:before {
  content: "\e018";
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.fixed {
  position: fixed;
}
.position-r {
  position: relative;
}
.position-a {
  position: absolute;
}
.display-b {
  display: block;
}
.display-n {
  display: none;
}
.display-i {
  display: inline;
}
.display-ib,
.btn,
.btn *,
.control,
.home .page-content.center-img img,
.home .featured-press a,
.home .additional-press a,
.phaseRangeSlider input[type=number],
.phaseRangeSlider .idealRanges label {
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
  display: inline-block;
}
.display-t {
  display: table;
}
.clear-b {
  clear: both;
}
.clear-l {
  clear: left;
}
.clear-r {
  clear: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.float-n {
  float: none;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.text-align-c {
  text-align: center;
}
.text-align-r {
  text-align: right;
}
.text-align-l {
  text-align: left;
}
.text-align-j {
  text-align: justify;
}
.padding-20 {
  padding: 20px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.default-border-b {
  border-bottom: 1px solid #333;
}
.default-border-t {
  border-top: 1px solid #333;
}
.default-border-r {
  border-right: 1px solid #333;
}
.default-border-l {
  border-left: 1px solid #333;
}
.content-box {
  display: block;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
}
.content-box:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.text-normalize {
  font-family: 'Courier New', monospace;
  letter-spacing: -0.63em;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
}
.hide-text,
.social-icons li div {
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.ellipsis,
.select-block .main-heading,
.select-block .sub-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow {
  overflow: auto;
}
.circle,
.social-icons li {
  text-align: center;
  border-radius: 50em;
}
.circle:before,
.social-icons li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.select-block {
  overflow: hidden;
}
.select-block select {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  border: 0 none;
  width: 120%;
  font-weight: bold;
}
.select-block select:focus {
  outline: none;
  border: none;
}
html {
  min-height: 100%;
}
body {
  margin: 0.5em;
  color: #333;
  font-family: Reader, Helvetica, Arial, sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  background: #fff;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
abbr[title] {
  border: none;
}
div,
p,
span,
a,
a:visited,
a:hover,
a:active {
  color: #24d321;
}
a {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
img {
  max-width: 100%;
  height: auto;
}
/*
 * Modules
 */
.content-module {
  min-width: 9em;
  margin: 0 0 2.25em;
  border-top: 4px solid #46f121;
}
.content-module.small {
  width: 25%;
}
.content-module.medium {
  width: 50%;
}
.content-module.large {
  width: 100%;
}
.content-module.middle {
  width: 100%;
}
.data-module {
  color: #fff;
  text-align: center;
  position: relative;
  background-color: #24d321;
  height: 11.5em;
  text-transform: uppercase;
  margin: 0.125em 0;
}
.data-module div,
.data-module p,
.data-module span,
.data-module a,
.data-module a:visited,
.data-module a:hover,
.data-module a:active {
  color: #fff;
}
.data-module.warning {
  background-color: #d2e000;
}
.data-module .main-heading,
.data-module .message,
.data-module .settings,
.data-module .sensor-value-unit,
.data-module .sensor-type {
  position: absolute;
}
.data-module .main-heading {
  color: #fff;
  font-size: 0.75em;
  margin: 0;
  top: 0.5em;
  left: 0.75em;
  font-weight: bold;
}
.data-module .message {
  bottom: 0.5em;
  right: 0.75em;
}
.data-module .settings {
  top: 0.15em;
  right: 0.5em;
}
.data-module .message,
.data-module .sensor-value-unit {
  font-size: 0.55em;
  font-weight: bold;
}
.data-module .sensor-value-unit {
  top: 1em;
  right: 1.85em;
  line-height: 1em;
  text-align: left;
}
.data-module .sensor-value-unit span {
  display: block;
}
.data-module .sensor-data {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 1.85em;
  left: 0;
  width: 100%;
  border-top: 1px solid #fff;
}
.data-module .sensor-value {
  font-size: 10em;
  letter-spacing: -0.1em;
  line-height: 1.25em;
  margin: -0.15em 0 0 -0.15em;
  text-align: center;
}
.data-module .sensor-type {
  bottom: 0.25em;
  left: 0.5em;
}
.data-module.closed {
  min-height: 2em;
  height: auto;
}
.data-module.closed .main-heading {
  position: static;
  display: inline-block;
  vertical-align: middle;
  width: 63%;
  text-align: left;
  text-indent: 0.45em;
}
.data-module.closed .sensor-value-unit,
.data-module.closed .message,
.data-module.closed .settings,
.data-module.closed .sensor-type {
  display: none;
}
.data-module.closed .sensor-data {
  width: 30%;
  text-align: right;
  position: relative;
  right: 0.25em;
  top: 0;
  border: none 0;
}
.data-module.closed .sensor-value {
  font-size: 0.75em;
  position: static;
  letter-spacing: normal;
  margin: 0;
  position: relative;
  right: 0.15em;
  text-align: right;
  font-weight: bold;
}
.data-module:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
/*
 * headings
 */
#logo {
  position: absolute;
  top: 0;
  left: 0;
}
#logo img {
  width: 5em;
  padding: 0.5em;
  z-index: 1;
  position: relative;
}
.main-heading {
  color: #46f121;
  margin: 0.5em 0;
  font-weight: bold;
}
.sub-heading {
  color: #24d321;
  margin: 0.65em 0;
  font-weight: bold;
}
.select-block {
  line-height: 1.66em;
  padding: 0;
  margin: 1em 0;
  text-align: right;
}
.select-block .main-heading,
.select-block .sub-heading {
  margin: 0;
  font-size: 1.5em;
  width: 100%;
}
.select-block .sub-heading {
  position: relative;
/*
		&:after
			position absolute
			content ''
			right 0
			top .35em
			width 1px
			height 1px
			create-triangle('down', 10px, color-carrot-green)
		*/
}
/*
 * Icons
 */
.icon {
  display: inline-block;
}
.icon div {
  text-transform: lowercase;
}
.btn {
  padding: 1em;
  margin: 1em;
  background: #24d321;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background: #24d321;
  color: #fff;
}
.btn:active {
  background: #33df30;
  color: #fff;
}
.btn * {
  margin: 0;
}
.btn.sub {
  background: #46f121;
}
.btn.clear {
  display: block;
  clear: both;
  margin: 0;
}
/*
 * Visualizer
 */
#visualizer div.circle {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  bottom: 0.75em;
  right: 0.75em;
}
/*
 * controls
 */
.control {
  width: 8em;
  height: 10em;
  position: relative;
  text-align: center;
  color: #24d321;
  font-weight: bold;
  margin: 0 0 1em;
}
.control:before {
  position: absolute;
  padding-top: 3.35em;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1.5em;
}
.control svg {
  position: absolute;
  top: 2em;
  left: 0;
}
/*
 * sensors
 */
#ph,
#ec,
#tds,
#sal,
#water {
  background-color: #00cbcb;
}
#air,
#hum,
#co2 {
  background-color: #24d321;
}
#lux,
#ir,
#full,
#vis {
  background-color: #d2e000;
}
.empty {
  background-color: #999;
}
/*
 * Phase Visualizer
 */
#phases-graph svg {
  display: inline-block;
  vertical-align: top;
}
section#footer {
  clear: both;
}
section#footer .content-module {
  background-color: #fff;
}
/*
 * Notifications
 */
.loader {
  height: 24px;
  width: 24px;
  background: url("/img/loader.gif") no-repeat 0 0;
}
.page-content em {
  display: block;
}
/*
 * Home Page
 */
.home body {
  color: #fff;
  margin: 0;
}
.home div,
.home p,
.home span,
.home a,
.home a:visited,
.home a:hover,
.home a:active {
  color: #999b9a;
}
.home section {
  clear: both;
}
.home ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home .main-heading {
  color: #fff;
}
.home .content-module {
  border: none;
  min-height: 300px;
  background-color: #fff;
  color: #00fa8b;
}
.home .content-module h3 div,
.home .content-module a,
.home .content-module a:visited,
.home .content-module a:hover,
.home .content-module a:active {
  color: #00fa8b;
}
.home .content-module .nav-section {
  border-top: 1px solid #00fa8b;
}
.home .content-module.inverted-color {
  background-color: #00e36c;
}
.home .content-module.inverted-color div,
.home .content-module.inverted-color p,
.home .content-module.inverted-color span,
.home .content-module.inverted-color a,
.home .content-module.inverted-color a:visited,
.home .content-module.inverted-color a:hover,
.home .content-module.inverted-color a:active {
  color: #fff;
}
.home .content-module.inverted-color .nav-section {
  border-top: 1px solid #fff;
}
.home .content-module#home {
  background-color: transparent;
}
.home .page {
  background-position: 35% -13em;
  background-repeat: no-repeat;
}
.home #main > div,
.home header {
  margin: 0;
  z-index: 2;
}
.home .header-fixed {
  display: none;
}
.home nav li {
  display: block;
  margin: 0;
  padding: 0.25em 0.5em;
  background: none;
  color: #999b9a;
}
.home nav li .first {
  margin: 0;
}
.home .logo {
  font-size: 1.45em;
  margin: 0;
  width: auto;
  height: 1em;
}
.home .logo span {
  font-size: 0.65em;
  vertical-align: top;
}
.home .icon-glyphlogo-new {
  display: none;
}
.home .page-heading,
.home .page-content {
  width: 95%;
  margin: 0 auto;
}
.home .page-heading .icon-glyphlogo-new {
  display: none;
}
.home .page-content.center-img {
  text-align: center;
}
.home .page-content p {
  font-size: 0.85em;
}
.home .page-content p.blurb {
  position: relative;
  border-top: 1px solid #fff;
  padding: 2em 0 0 12em;
  line-height: 1.5em;
}
.home .headline {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0,0,0,0.25);
  margin: 0;
  width: 100%;
  min-height: 100%;
  padding: 0.5em;
}
.home .headline-about {
  position: static;
  font-size: 4em;
  margin: 0.5em 0 0.45em 0;
  line-height: 1em;
}
.home .featured-press,
.home .additional-press {
  padding: 0 1em;
  margin: 1.5em 0;
}
.home .additional-press a {
  width: 100%;
}
.home .additional-press .last a {
  width: auto;
}
.elevated-item li {
  margin: 0;
  padding: 0;
}
.elevated-item .btn {
  padding: 0.5em;
  margin: 0 0 0 -0.5em;
  background: #fff;
  border: 2px solid #999b9a;
}
.social-icons {
  position: absolute;
  top: 0;
  right: 0;
}
.social-icons li {
  cursor: pointer;
  width: 2em;
  height: 2em;
  padding: 0.5em 0;
  margin: 0 0 0 0.25em;
  background: #999b9a;
  color: #fff;
  position: relative;
  float: left;
  text-align: right;
}
.social-icons li div {
  text-indent: 100%;
}
.social-icons li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  width: 1em;
  height: 1em;
}
.social-icons i.icon-glyphfc-webicon-facebook {
  left: -0.125em;
  top: -0.05em;
}
.social-icons i.icon-glyphfc-webicon-twitter {
  left: -0.1em;
  top: -0.1em;
}
.social-icons i.icon-glyphmail {
  left: -0.15em;
  top: -0.15em;
}
.flexslider ul {
  margin: 0;
  padding: 0;
}
.flexslider img {
  width: 100%;
  height: auto;
  display: inline;
}
.slides li {
  position: relative;
  overflow: hidden;
}
.flex-direction-nav {
  position: relative;
  top: -8em;
  color: #fff;
  z-index: 3;
  width: 100%;
}
.flex-direction-nav li {
  position: absolute;
  width: 100%;
}
.flex-direction-nav a {
  color: #fff;
  display: block;
  position: absolute;
}
.flex-direction-nav .flex-prev {
  left: 1em;
}
.flex-direction-nav .flex-next {
  right: 1em;
}
.flex-direction-nav i {
  color: #fff;
  font-size: 3em;
}
#howitworks p {
  text-align: left;
  color: #999b9a;
  margin: 1em;
}
/*
 * Dashboard Page
 */
.dashboard .content-module.middle {
  position: relative;
  padding: 100% 0 0 0;
  height: 0;
}
.dashboard select {
  margin: 0;
}
/*
 * Profile Page
 */
/*
 * Grow Plans Page
 */
.growplans .grid .info {
  display: none;
  text-align: left;
}
.growplans .grid .large-label .info * {
  color: #fff;
}
.phaseRangeSlider {
  position: relative;
  padding-top: 3em;
/* move both sliders - adressing 1st slider with CSS is hard */
}
.phaseRangeSlider div.ui-slider {
  position: absolute;
  left: 0;
  margin: 1em 0;
  background: transparent;
  height: 1em;
  top: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #23b500;
  width: 100%;
}
.phaseRangeSlider div.ui-slider:last-child {
  position: absolute;
  left: 0px;
}
.phaseRangeSlider .slide-back {
  position: absolute;
  height: 1em;
  top: 1em;
  text-align: center;
}
.phaseRangeSlider .phase-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.phaseRangeSlider .phase-tabs li {
  position: relative;
  width: 25%;
  float: left;
  padding: 1em;
  color: #fff;
  cursor: pointer;
  height: auto;
  font-weight: bold;
}
.phaseRangeSlider .phase-tabs li.focused {
  text-decoration: underline;
}
.phaseRangeSlider .phase-tabs li.inactive {
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background-color: rgba(36,211,33,0.6);
}
.phaseRangeSlider .phase-tabs li .toggle {
  text-decoration: none;
}
.phaseRangeSlider .phase-slider {
  color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding: 0;
}
.phaseRangeSlider .phase-slider label,
.phaseRangeSlider .phase-slider span,
.phaseRangeSlider .phase-slider div {
  color: #fff;
  font-weight: bold;
}
.phaseRangeSlider .phase-slider.focused {
  height: auto;
  padding: 0.5em;
  float: left;
}
.phaseRangeSlider .phase-slider.inactive .slide-back {
  display: none;
}
.phaseRangeSlider .phase-slider .phase-slider-info {
  position: relative;
}
.phaseRangeSlider .date-range {
  display: block;
}
.phaseRangeSlider input[type=number] {
  width: 2.75em;
  padding: 0.4em;
  background: none;
  border: 1px dotted #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff;
  border-color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}
.phaseRangeSlider .phase-current-indicator .ui-slider-handle {
  z-index: 2;
}
.phaseRangeSlider .phase-current-indicator .ui-slider-handle .ui-btn-inner {
  background-color: #333;
  border-color: #333;
}
.phaseRangeSlider .phase-current-indicator input[type=number] {
  color: #24d321;
  border: 1px dotted #24d321;
  margin-right: 0.25em;
}
.phaseRangeSlider .phase-slider-input {
  display: none !important;
}
.phaseRangeSlider .idealRanges {
  position: relative;
  zoom: 1;
}
.phaseRangeSlider .idealRanges:before,
.phaseRangeSlider .idealRanges:after {
  content: "";
  display: table;
}
.phaseRangeSlider .idealRanges:after {
  clear: both;
}
.phaseRangeSlider .idealRanges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.phaseRangeSlider .idealRanges li {
  background: rgba(0,0,0,0.25);
  padding: 0.5em;
  margin: 0 0 1em;
}
.phaseRangeSlider .idealRanges input[type=checkbox] {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: auto;
  width: auto;
  margin: auto;
}
.phaseRangeSlider .idealRanges input[type=number] {
  width: 3.75em;
}
.phaseRangeSlider .idealRanges input[type=checkbox] {
  display: inline;
}
.phaseRangeSlider .idealRanges textarea {
  max-width: 300px;
}
.phaseRangeSlider .idealRanges .hi label,
.phaseRangeSlider .idealRanges .lo label,
.phaseRangeSlider .idealRanges .hi textarea,
.phaseRangeSlider .idealRanges .lo textarea {
  display: block;
  width: 100%;
}
.phaseRangeSlider .idealRanges .hi label,
.phaseRangeSlider .idealRanges .lo label {
  font-size: 2em;
}
.toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.25em;
}
.toggle .add,
.toggle .remove {
  padding: 0 0.25em;
  margin: 0;
  background: none;
}
.toggle .add {
  display: none;
}
.toggle .remove {
  display: block;
}
.active {
  float: left;
  height: 3em;
}
.focused {
  height: auto;
}
.inactive {
  opacity: 0.45;
  filter: alpha(opacity=45);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
  height: 3em;
}
.inactive .toggle .add {
  display: block;
}
.inactive .toggle .remove {
  display: none;
}
.seedling,
.seedling .ui-slider-handle {
  background-color: #30f700;
  background-image: none;
}
.vegetative,
.vegetative .ui-slider-handle {
  background-color: #29d600;
  background-image: none;
}
.blooming,
.blooming .ui-slider-handle {
  background-color: #1c9100;
  background-image: none;
}
.fruiting,
.fruiting .ui-slider-handle {
  background-color: #0e4800;
  background-image: none;
}
