.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.fixed {
  position: fixed;
}
.position-r {
  position: relative;
}
.position-a {
  position: absolute;
}
.display-b {
  display: block;
}
.display-n {
  display: none;
}
.display-i {
  display: inline;
}
.display-ib {
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
  display: inline-block;
}
.display-t {
  display: table;
}
.clear-b {
  clear: both;
}
.clear-l {
  clear: left;
}
.clear-r {
  clear: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.float-n {
  float: none;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.text-align-c {
  text-align: center;
}
.text-align-r {
  text-align: right;
}
.text-align-l {
  text-align: left;
}
.text-align-j {
  text-align: justify;
}
.padding-20 {
  padding: 20px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.default-border-b {
  border-bottom: 1px solid #333;
}
.default-border-t {
  border-top: 1px solid #333;
}
.default-border-r {
  border-right: 1px solid #333;
}
.default-border-l {
  border-left: 1px solid #333;
}
.content-box {
  display: block;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
}
.content-box:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.text-normalize {
  font-family: 'Courier New', monospace;
  letter-spacing: -0.63em;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
}
.hide-text {
  text-indent: -300%;
  white-space: nowrap;
  overflow: hidden;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow {
  overflow: auto;
}
.circle {
  text-align: center;
  -webkit-border-radius: 50em;
  border-radius: 50em;
}
.circle:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.select-block {
  overflow: hidden;
}
.select-block select {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  border: 0 none;
  width: 120%;
  font-weight: bold;
}
.select-block select:focus {
  outline: none;
  border: none;
}
.separator-top {
  border-top: 1px solid #cccdcc;
}
/*
 * Forms
 */
label,
input {
  display: block;
  margin: 1em 0;
}
label {
  margin-bottom: 0;
}
label.inline,
input.inline {
  display: inline;
  vertical-align: text-top;
}
input.inline {
  vertical-align: baseline;
}
input,
textarea {
  margin-top: 0;
  background-color: #f5f5f5;
  border: none;
  padding: 0.75em;
  color: #999b9a;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background-color: #f5f5f5;
}
input:focus,
textarea:focus {
  background-color: #fff;
  color: #000;
}
input[type=submit] {
  background: #fff;
  color: #00e36c;
  border: 4px solid #00e36c;
  font-size: 1.5em;
}
button {
  background: #fff;
  color: #00e36c;
}
select {
  display: block;
  margin: 0.5em 0 0;
  max-width: 100%;
}
textarea {
  width: 100%;
  min-height: 5em;
}
input[type=radio],
input[type=checkbox] {
  display: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  height: 0;
  width: 0;
  margin: 0;
}
.question {
  margin: 0 0 3em;
}
.question input {
  width: 100%;
}
.question-title {
  margin: 1.25em 0 0;
}
.dropdown-wrap {
  position: relative;
  min-height: 1em;
}
.seamless-input-wrap {
  color: #000;
  font-size: 2em;
}
.seamless-input,
.seamless-input-with-bg {
  border: 0 none;
  color: #000;
  background: none;
  width: 2.35em;
  display: inline;
  padding: 0.25em 0;
  margin: 0 0.25em 0 0;
}
.seamless-input::-webkit-outer-spin-button,
.seamless-input::-webkit-inner-spin-button {
/* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
/* <-- Apparently some margin are still there even though it's hidden */
}
.inverse-color,
.seamless-input-with-bg {
  background-color: #00e36c !important;
  color: #fff !important;
}
.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 0.5em;
  margin: 1em auto;
  background: #00e36c;
  color: #fff;
  outline: none;
  cursor: pointer;
  min-height: 1em;
}
.dropdown input[type='radio']:checked + label,
.dropdown input[type='checkbox']:checked + label {
  display: block;
}
.dropdown.initial .select label {
  display: block;
  padding: 0.25em 0.5em;
}
.dropdown.open {
  z-index: 1;
}
.dropdown.open label {
  display: block;
}
.dropdown.open input[type='radio'] + label,
.dropdown.open input[type='checkbox'] + label {
  display: block;
}
.dropdown.open input[type='radio'] + label:after,
.dropdown.open input[type='checkbox'] + label:after {
  display: none;
}
.dropdown label {
  display: none;
  position: relative;
  padding: 0.25em 0.5em;
  margin: 0;
}
.dropdown label:after {
  right: 0.5em;
  top: 44.55%;
  height: 0;
  position: absolute;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}
.dropdown .select label:after {
  content: '';
}
.dropdown .select label:after {
  content: '';
}
.custom-dropdown-wrap {
  position: relative;
  white-space: nowrap;
}
.custom-dropdown-wrap .dblarrow {
  margin-left: -2em;
  display: inline-block;
}
.custom-dropdown-wrap .dblarrow i {
  width: 0;
  height: 0.5em;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  display: block;
}
.custom-dropdown-wrap select.custom-dropdown,
.custom-dropdown-wrap select.custom-dropdown option {
  background: #00e36c;
  color: #fff;
}
.custom-dropdown-wrap select.custom-dropdown {
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  outline: none;
  margin-right: 15px;
  font-size: 1.25em;
  display: inline-block;
/*Important*/
  padding: 0.45em 1.25em 0.45em 0.45em;
  font-weight: lighter;
}
.wufoo {
  background-color: #c1c2c4 !important;
  color: #fff !important;
}
.wufoo li {
  padding: 0;
}
.wufoo label {
  margin-bottom: 0 !important;
  color: #fff !important;
}
.wufoo label.inline,
.wufoo input.inline {
  display: inline !important;
  vertical-align: text-top !important;
}
.wufoo input.inline {
  vertical-align: baseline !important;
}
.wufoo input,
.wufoo textarea {
  margin-top: 0 !important;
  background: #fff !important;
  border: 1px solid #00e36c !important;
  padding: 0.5em !important;
}
.wufoo input:valid,
.wufoo textarea:valid,
.wufoo input:invalid,
.wufoo textarea:invalid {
  background: #fff !important;
}
.wufoo input[type=submit] {
  background: #fff !important;
  color: #00e36c !important;
  border: 4px solid #00e36c !important;
  font-size: 1.2em !important;
}
#mc-embedded-subscribe-form input[type=email] {
  width: 70%;
  background: #fff;
  border: 1px solid #00e36c;
}
#wufoo-form .buttons {
  margin-top: 1em;
}
#wufoo-form input[type=text],
#wufoo-form input[type=email],
#wufoo-form textarea {
  width: 90%;
}
#wufoo-form input[type=submit] {
  font-size: 1.1em;
}
.wufoo {
  background-color: #c1c2c4 !important;
  color: #fff !important;
}
.wufoo header {
  display: none !important;
}
.wufoo li {
  padding: 0;
}
.wufoo li .buttons {
  padding-left: 0;
}
.wufoo label {
  margin-bottom: 0 !important;
  color: #fff !important;
}
.wufoo label.inline,
.wufoo input.inline {
  display: inline !important;
  vertical-align: text-top !important;
}
.wufoo input.inline {
  vertical-align: baseline !important;
}
.wufoo input,
.wufoo textarea {
  margin-top: 0 !important;
  background: #fff !important;
  border: 1px solid #00e36c !important;
  padding: 0.5em !important;
}
.wufoo input:valid,
.wufoo textarea:valid,
.wufoo input:invalid,
.wufoo textarea:invalid {
  background: #fff !important;
}
.wufoo input[type=submit] {
  background: #fff !important;
  color: #00e36c !important;
  border: 4px solid #00e36c !important;
  font-size: 1.5em;
  cursor: pointer;
}
.amazon {
  width: 167px;
  margin: 0 auto 2em;
  text-align: center;
}
.amazon input {
  border: 0 none !important;
}
