.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.auto-width {
  width: auto;
}
.quarter-width {
  width: 25%;
}
.quarter-widthX3 {
  width: 75%;
}
.fifth-width {
  width: 20%;
}
.fifth-widthX4 {
  width: 80%;
}
.full-height {
  height: 100%;
}
.fixed {
  position: fixed;
}
.position-r {
  position: relative;
}
.position-a {
  position: absolute;
}
.display-b {
  display: block;
}
.display-n {
  display: none;
}
.display-i {
  display: inline;
}
.display-ib,
.custom-checkbox-wrap label,
.custom-checkbox-wrap label:after {
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
  display: inline-block;
}
.display-t {
  display: table;
  table-layout: fixed;
}
.display-tr {
  display: table-row;
}
.display-tc {
  display: table-cell;
}
.clear-b {
  clear: both;
}
.clear-l {
  clear: left;
}
.clear-r {
  clear: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.float-n {
  float: none;
}
.top-0 {
  top: 0;
}
.bottom-0,
.bottom-anchor {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.no-margin {
  margin: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-left {
  margin-left: 0;
}
.bottom-anchor {
  position: absolute;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.text-align-c {
  text-align: center;
}
.text-align-r {
  text-align: right;
}
.text-align-l {
  text-align: left;
}
.text-align-j {
  text-align: justify;
}
.padding-20 {
  padding: 20px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.default-border-b {
  border-bottom: 1px solid #333;
}
.default-border-t {
  border-top: 1px solid #333;
}
.default-border-r {
  border-right: 1px solid #333;
}
.default-border-l {
  border-left: 1px solid #333;
}
.content-box {
  display: block;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
}
.content-box:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.text-normalize {
  font-family: 'Courier New', monospace;
  letter-spacing: -0.63em;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
}
.font-style-normal {
  font-style: normal;
}
.hide-text {
  text-indent: -300%;
  white-space: nowrap;
  overflow: hidden;
}
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow {
  overflow: auto;
}
.circle {
  text-align: center;
  -webkit-border-radius: 50em;
  border-radius: 50em;
}
.circle:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.separator-top {
  border-top: 1px solid #d8d8d8;
}
.separator-bottom {
  border-bottom: 1px solid #d8d8d8;
}
.ww-break-word {
  word-wrap: break-word;
}
/*
 * Forms
 */
label,
input {
  display: block;
  margin: 1em 0;
}
label {
  margin-bottom: 0;
}
label.inline,
input.inline {
  display: inline;
  vertical-align: text-top;
}
input.inline {
  vertical-align: baseline;
}
input,
textarea {
  margin-top: 0;
  padding: 0.75em;
  color: #999;
}
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background: #fff;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: inset 0 0.15em 0.35em -1px #eaeaea;
  box-shadow: inset 0 0.15em 0.35em -1px #eaeaea;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #00e36c;
}
input[type=submit] {
  background: #fff;
  color: #00e36c;
  border: 4px solid #00e36c;
  font-size: 1.5em;
  -webkit-box-shadow: 0 2px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0 2px 2px 0px rgba(0,0,0,0.1);
}
button {
  background: #fff;
  color: #00e36c;
}
select {
  display: block;
  margin: 0.5em 0 0;
  max-width: 100%;
}
textarea {
  width: 100%;
  min-height: 5em;
}
input[type=radio],
input[type=checkbox] {
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  height: 0;
  width: 0;
  margin: 0;
}
input[type=radio].unstyled,
input[type=checkbox].unstyled {
  display: inline;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  height: auto;
  width: auto;
  margin: 0;
}
input[type='radio'] + label.btn,
input[type='checkbox'] + label.btn {
  background: #fff;
  color: #00e36c;
  border: 1px solid #00e36c;
}
input[type='radio']:checked + label.btn,
input[type='checkbox']:checked + label.btn {
  background: #00e36c;
  color: #fff;
}
/* http://css-tricks.com/hang-on-placeholders/ */
[placeholder]:focus:-webkit-input-placeholder,
[placeholder]:focus:-moz-placeholder,
[placeholder]:focus:-ms-input-placeholder {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-placeholder);
}
.hide-unchecked-items input[type='radio'] + label.btn,
.hide-unchecked-items input[type='checkbox'] + label.btn {
  display: none;
}
.hide-unchecked-items input[type='radio']:checked + label.btn,
.hide-unchecked-items input[type='checkbox']:checked + label.btn {
  display: inline-block;
}
.question {
  margin: 0 0 3em;
}
.question input {
  width: 100%;
}
.question-title {
  margin: 1.25em 0 0.75em;
  font-size: 2em;
  line-height: 1.25;
}
.dropdown-wrap {
  position: relative;
  min-height: 1em;
}
.seamless-input-wrap {
  color: #000;
  font-size: 2em;
}
.seamless-input,
.seamless-input-with-bg {
  border: 1px solid #fff;
  color: #000;
  background: none;
  width: 2.35em;
  display: inline;
  padding: 0.25em 0;
  margin: 0 0.25em 0 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.seamless-input::-webkit-outer-spin-button,
.seamless-input::-webkit-inner-spin-button {
/* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
/* <-- Apparently some margin are still there even though it's hidden */
}
.inverse-color,
.seamless-input-with-bg {
  background-color: #00e36c !important;
  color: #fff !important;
}
.seamless-input:focus,
.seamless-input-with-bg:focus {
  border: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 0.5em;
  margin: 1em auto;
  background: #00e36c;
  color: #fff;
  outline: none;
  cursor: pointer;
  min-height: 1em;
}
.dropdown input[type='radio']:checked + label,
.dropdown input[type='checkbox']:checked + label {
  display: block;
}
.dropdown.initial .select label {
  display: block;
  padding: 0.25em 0.5em;
}
.dropdown.open {
  z-index: 1;
}
.dropdown.open label {
  display: block;
}
.dropdown.open input[type='radio'] + label,
.dropdown.open input[type='checkbox'] + label {
  display: block;
}
.dropdown.open input[type='radio'] + label:after,
.dropdown.open input[type='checkbox'] + label:after {
  display: none;
}
.dropdown label {
  display: none;
  position: relative;
  padding: 0.25em 0.5em;
  margin: 0;
}
.dropdown label:after {
  right: 0.5em;
  top: 44.55%;
  height: 0;
  position: absolute;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}
.dropdown .select label:after {
  content: '';
}
.dropdown .select label:after {
  content: '';
}
.custom-dropdown-wrap {
  position: relative;
  white-space: nowrap;
  font-size: 24px;
}
.custom-dropdown-wrap .dblarrow {
  margin-left: -2em;
  display: inline-block;
  font-size: 24px;
  height: 1em;
  pointer-events: none;
}
.custom-dropdown-wrap .dblarrow i {
  width: 0;
  height: 0.5em;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  display: block;
}
.custom-dropdown-wrap select.custom-dropdown,
.custom-dropdown-wrap select.custom-dropdown option {
  background: #00e36c;
  color: #fff;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.custom-dropdown-wrap select.custom-dropdown {
  font-size: 24px;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  outline: none;
  margin-right: 15px;
  display: inline-block;
/*Important*/
  padding: 0.45em 1.25em 0.45em 0.45em;
  font-weight: lighter;
  -webkit-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0 2px 3px 0px rgba(0,0,0,0.2);
}
.custom-checkbox-wrap {
  position: relative;
}
.custom-checkbox-wrap input[type="checkbox"],
.custom-checkbox-wrap input[type="radio"] {
  visibility: hidden;
  position: absolute;
}
.custom-checkbox-wrap label {
  position: relative;
}
.custom-checkbox-wrap label:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  content: '';
  position: absolute;
  width: 1em;
  height: 0.35em;
  background: transparent;
  top: 50%;
  right: 0.85em;
  margin-top: -0.5em;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.custom-checkbox-wrap label:after {
  cursor: pointer;
  content: '';
  width: 2em;
  height: 2em;
  margin: 0 0 0 1em;
  vertical-align: middle;
  -webkit-box-shadow: inset 1px 1px 1px #00e36c, 1px 1px 1px #00e36c;
  box-shadow: inset 1px 1px 1px #00e36c, 1px 1px 1px #00e36c;
  background: #fff;
}
.custom-checkbox-wrap input[type="checkbox"] + label:after,
.custom-checkbox-wrap input[type="radio"] + label:after {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25), 1px 1px 1px #eee;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25), 1px 1px 1px #eee;
}
.custom-checkbox-wrap input[type="checkbox"]:checked + label:before,
.custom-checkbox-wrap input[type="radio"]:checked + label:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.custom-checkbox-wrap input[type="checkbox"]:checked + label:after,
.custom-checkbox-wrap input[type="radio"]:checked + label:after {
  background: #00e36c;
}
.custom-checkbox-wrap.left-orient label {
  padding-left: 2.35em;
  line-height: 2em;
  white-space: nowrap;
}
.custom-checkbox-wrap.left-orient label:before {
  left: 0.35em;
  padding-left: 0.35em;
  z-index: 1;
  width: 1em;
}
.custom-checkbox-wrap.left-orient label:after {
  width: 2em;
  height: 2em;
  margin: 0 0 0 0;
  position: absolute;
  left: 0;
}
.wufoo {
  background-color: #c1c2c4 !important;
  color: #fff !important;
}
.wufoo li {
  padding: 0;
}
.wufoo label {
  margin-bottom: 0 !important;
  color: #fff !important;
}
.wufoo label.inline,
.wufoo input.inline {
  display: inline !important;
  vertical-align: text-top !important;
}
.wufoo input.inline {
  vertical-align: baseline !important;
}
.wufoo input,
.wufoo textarea {
  margin-top: 0 !important;
  background: #fff !important;
  border: 1px solid #00e36c !important;
  padding: 0.5em !important;
}
.wufoo input:valid,
.wufoo textarea:valid,
.wufoo input:invalid,
.wufoo textarea:invalid {
  background: #fff !important;
}
.wufoo input[type=submit] {
  background: #fff !important;
  color: #00e36c !important;
  border: 4px solid #00e36c !important;
  font-size: 1.5em !important;
}
#mc-embedded-subscribe-form input[type=email] {
  width: 70%;
  background: #fff;
  border: 1px solid #00e36c;
}
#wufoo-form .buttons {
  margin-top: 1em;
}
#wufoo-form input[type=text],
#wufoo-form input[type=email],
#wufoo-form textarea {
  width: 90%;
}
#wufoo-form input[type=submit] {
  font-size: 1.5em;
}
.wufoo {
  background-color: #c1c2c4 !important;
  color: #fff !important;
}
.wufoo header {
  display: none !important;
}
.wufoo li {
  padding: 0;
}
.wufoo li .buttons {
  padding-left: 0;
}
.wufoo label {
  margin-bottom: 0 !important;
  color: #fff !important;
}
.wufoo label.inline,
.wufoo input.inline {
  display: inline !important;
  vertical-align: text-top !important;
}
.wufoo input.inline {
  vertical-align: baseline !important;
}
.wufoo input,
.wufoo textarea {
  margin-top: 0 !important;
  background: #fff !important;
  border: 1px solid #00e36c !important;
  padding: 0.5em !important;
}
.wufoo input:valid,
.wufoo textarea:valid,
.wufoo input:invalid,
.wufoo textarea:invalid {
  background: #fff !important;
}
.wufoo input[type=submit] {
  background: #fff !important;
  color: #00e36c !important;
  border: 4px solid #00e36c !important;
  font-size: 1.5em;
  cursor: pointer;
}
.amazon {
  width: 167px;
  margin: 0 auto 2em;
  text-align: center;
}
.amazon input {
  border: 0 none !important;
}
.register-form input[type=submit] {
  margin-top: 0.5em;
}
.photo-upload {
  overflow: hidden;
  position: relative;
}
.photo-upload input[type="file"] {
  font-size: 200px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 2;
  cursor: pointer;
}
label.newsletter.inline {
  margin-left: 0.5em;
}
