.full-width{width:100%}
.full-height{height:100%}
.position-f{position:fixed}
.position-r{position:relative}
.position-a{position:absolute}
.display-b{display:block}
.display-n{display:none}
.display-i{display:inline}
.display-ib,.user-page nav ul li,.user-page section header h1,.user-page section header h2,.user-page section ul li{display:-moz-inline-stack;zoom:1;*display:inline;display:inline-block}
.display-t{display:table}
.clear-b{clear:both}
.clear-l{clear:left}
.clear-r{clear:right}
.clearfix{zoom:1}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.float-l{float:left}
.float-r{float:right}
.float-n{float:none}
.top-0{top:0}
.bottom-0{bottom:0}
.left-0{left:0}
.right-0{right:0}
.uppercase{text-transform:uppercase}
.lowercase{text-transform:lowercase}
.text-align-c{text-align:center}
.text-align-r{text-align:right}
.text-align-l{text-align:left}
.text-align-j{text-align:justify}
.padding-20,.user-page nav ul li a,.user-page section header .date,.user-page section header .time{padding:20px}
.centered{margin-left:auto;margin-right:auto}
.default-border-b{border-bottom:1px solid #333}
.default-border-t{border-top:1px solid #333}
.default-border-r{border-right:1px solid #333}
.default-border-l{border-left:1px solid #333}
.content-box,.user-page nav ul li a{display:block;letter-spacing:normal;word-spacing:normal;text-align:left;}
.content-box:after,.user-page nav ul li a:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.text-normalize,.user-page nav ul li,.user-page section header h1,.user-page section header h2,.user-page section ul li{font-family:'Courier New',monospace;letter-spacing:-.63em;text-align:center;vertical-align:top;font-size:16px}
.hide-text,.user-page nav ul li.logo{text-indent:-100%;white-space:nowrap;overflow:hidden}
.ellipsis,.user-page nav ul li,.user-page section ul li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
@font-face{font-family:"DIN";src:url("./fonts/din_medium.eot");src:local("~!#$"),url('./fonts/din_medium.eot?iefix') format(embedded-opentype),url('./fonts/din_medium.woff') format(woff),url('./fonts/din_medium.ttf') format(truetype),url('./fonts/din_medium.svg#webfont') format(svg);font-weight:"normal";font-style:"normal"}
@font-face{font-family:"DIN";src:url("./fonts/din_bold.eot");src:local("@#$%"),url('./fonts/din_bold.eot?iefix') format(embedded-opentype),url('./fonts/din_bold.woff') format(woff),url('./fonts/din_bold.ttf') format(truetype),url('./fonts/din_bold.svg#webfont') format(svg);font-weight:'bold';font-style:'bold'}
body,.din-text,.user-page nav ul li a,.user-page section header .date,.user-page section header .time,.user-page section ul li h2,.user-page section ul li span{font-family:"DIN",Helvetica,Arial,sans-serif;letter-spacing:normal}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline}
.full-width{width:100%}
.full-height{height:100%}
.position-f{position:fixed}
.position-r{position:relative}
.position-a{position:absolute}
.display-b{display:block}
.display-n{display:none}
.display-i{display:inline}
.display-ib,.user-page nav ul li,.user-page section header h1,.user-page section header h2,.user-page section ul li{display:-moz-inline-stack;zoom:1;*display:inline;display:inline-block}
.display-t{display:table}
.clear-b{clear:both}
.clear-l{clear:left}
.clear-r{clear:right}
.clearfix{zoom:1}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.float-l{float:left}
.float-r{float:right}
.float-n{float:none}
.top-0{top:0}
.bottom-0{bottom:0}
.left-0{left:0}
.right-0{right:0}
.uppercase{text-transform:uppercase}
.lowercase{text-transform:lowercase}
.text-align-c{text-align:center}
.text-align-r{text-align:right}
.text-align-l{text-align:left}
.text-align-j{text-align:justify}
.padding-20,.user-page nav ul li a,.user-page section header .date,.user-page section header .time{padding:20px}
.centered{margin-left:auto;margin-right:auto}
.default-border-b{border-bottom:1px solid #333}
.default-border-t{border-top:1px solid #333}
.default-border-r{border-right:1px solid #333}
.default-border-l{border-left:1px solid #333}
.content-box,.user-page nav ul li a{display:block;letter-spacing:normal;word-spacing:normal;text-align:left;}
.content-box:after,.user-page nav ul li a:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.text-normalize,.user-page nav ul li,.user-page section header h1,.user-page section header h2,.user-page section ul li{font-family:'Courier New',monospace;letter-spacing:-.63em;text-align:center;vertical-align:top;font-size:16px}
.hide-text,.user-page nav ul li.logo{text-indent:-100%;white-space:nowrap;overflow:hidden}
.ellipsis,.user-page nav ul li,.user-page section ul li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
@font-face{font-family:"DIN";src:url("./fonts/din_medium.eot");src:local("~!#$"),url('./fonts/din_medium.eot?iefix') format(embedded-opentype),url('./fonts/din_medium.woff') format(woff),url('./fonts/din_medium.ttf') format(truetype),url('./fonts/din_medium.svg#webfont') format(svg);font-weight:"normal";font-style:"normal"}
@font-face{font-family:"DIN";src:url("./fonts/din_bold.eot");src:local("@#$%"),url('./fonts/din_bold.eot?iefix') format(embedded-opentype),url('./fonts/din_bold.woff') format(woff),url('./fonts/din_bold.ttf') format(truetype),url('./fonts/din_bold.svg#webfont') format(svg);font-weight:'bold';font-style:'bold'}
body,.din-text,.user-page nav ul li a,.user-page section header .date,.user-page section header .time,.user-page section ul li h2,.user-page section ul li span{font-family:"DIN",Helvetica,Arial,sans-serif;letter-spacing:normal}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline}
.user-page nav ul{font-size:0;border-bottom:1px solid #999;width:100%;overflow:hidden;}
.user-page nav ul li{width:16%;height:100%;}
.user-page nav ul li a{width:100%;border-right:1px solid #999;height:100%;}
.user-page nav ul li.last a{border:0 none}
.user-page nav ul li.logo{background:url("/img/logo.png") no-repeat 20px 45%;background-size:auto 50%}
.user-page nav ul li.growing-plan{width:50%;}
.user-page nav ul li.growing-plan a{position:relative}
.user-page nav ul li.growing-plan .triangle-down{margin:5px 0 0 5px;right:20px}
.user-page nav ul li.language{width:13%}
.user-page nav ul li.settings{width:4.9999%}
.user-page section header{font-size:0;}
.user-page section header .date{width:80%;text-align:left}
.user-page section header .time{width:20%;text-align:right}
.user-page section ul{font-size:0;}
.user-page section ul li{width:25%;}
.user-page section ul li h2,.user-page section ul li span{text-align:center}
.user-page section #graph-timeline{position:absolute;top:148px;bottom:100px;width:100%;background-image:-webkit-repeating-linear-gradient(45deg,transparent,transparent 2px,rgba(255,255,255,0.5) 4px,rgba(255,255,255,0.5) 8px);}
.user-page section #graph-timeline .progress{background:#99d264;height:100%;width:25%}
.user-page section #graph-nav{position:absolute;bottom:0;height:100px;width:100%;border-top:1px solid #999}
.triangle-up{height:0;position:absolute;width:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #333}
.triangle-down{height:0;position:absolute;width:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #333}
.triangle-left{height:0;position:absolute;width:0;border-right:5px solid #333;border-top:5px solid transparent;border-bottom:5px solid transparent}
.triangle-right{height:0;position:absolute;width:0;border-left:5px solid #333;border-top:5px solid transparent;border-bottom:5px solid transparent}
body{background-color:#f5f5f5;font-family:"DIN",Helvetica,Arial,sans-serif;letter-spacing:normal}
ul{list-style:none;}
ul li{list-style-type:none}
