.icon-__01_plus {
	background-image: url('png/__01_plus.png');
	background-repeat: no-repeat;
}
.icon-__02_airtemperature {
	background-image: url('png/__02_airtemperature.png');
	background-repeat: no-repeat;
}
.icon-__03_arrow-left {
	background-image: url('png/__03_arrow-left.png');
	background-repeat: no-repeat;
}
.icon-__04_arrow-right {
	background-image: url('png/__04_arrow-right.png');
	background-repeat: no-repeat;
}
.icon-__05_c {
	background-image: url('png/__05_c.png');
	background-repeat: no-repeat;
}
.icon-__06_cloud {
	background-image: url('png/__06_cloud.png');
	background-repeat: no-repeat;
}
.icon-__07_ec {
	background-image: url('png/__07_ec.png');
	background-repeat: no-repeat;
}
.icon-__08_email {
	background-image: url('png/__08_email.png');
	background-repeat: no-repeat;
}
.icon-__09_facebook {
	background-image: url('png/__09_facebook.png');
	background-repeat: no-repeat;
}
.icon-__10_fan {
	background-image: url('png/__10_fan.png');
	background-repeat: no-repeat;
}
.icon-__11_flowering {
	background-image: url('png/__11_flowering.png');
	background-repeat: no-repeat;
}
.icon-__12_light {
	background-image: url('png/__12_light.png');
	background-repeat: no-repeat;
}
.icon-__13_lock {
	background-image: url('png/__13_lock.png');
	background-repeat: no-repeat;
}
.icon-__14_logo {
	background-image: url('png/__14_logo.png');
	background-repeat: no-repeat;
}
.icon-__15_notifications {
	background-image: url('png/__15_notifications.png');
	background-repeat: no-repeat;
}
.icon-__16_phone {
	background-image: url('png/__16_phone.png');
	background-repeat: no-repeat;
}
.icon-__17_photos {
	background-image: url('png/__17_photos.png');
	background-repeat: no-repeat;
}
.icon-__18_seedling {
	background-image: url('png/__18_seedling.png');
	background-repeat: no-repeat;
}
.icon-__19_settings {
	background-image: url('png/__19_settings.png');
	background-repeat: no-repeat;
}
.icon-__20_system {
	background-image: url('png/__20_system.png');
	background-repeat: no-repeat;
}
.icon-__21_time {
	background-image: url('png/__21_time.png');
	background-repeat: no-repeat;
}
.icon-__22_twitter {
	background-image: url('png/__22_twitter.png');
	background-repeat: no-repeat;
}
.icon-__23_vegetative {
	background-image: url('png/__23_vegetative.png');
	background-repeat: no-repeat;
}
.icon-__24_water-control {
	background-image: url('png/__24_water-control.png');
	background-repeat: no-repeat;
}
.icon-__25_water-level {
	background-image: url('png/__25_water-level.png');
	background-repeat: no-repeat;
}
.icon-__26_water {
	background-image: url('png/__26_water.png');
	background-repeat: no-repeat;
}
.icon-__27_waterpump {
	background-image: url('png/__27_waterpump.png');
	background-repeat: no-repeat;
}
.icon-__28_x {
	background-image: url('png/__28_x.png');
	background-repeat: no-repeat;
}
.icon-__29_pencil {
	background-image: url('png/__29_pencil.png');
	background-repeat: no-repeat;
}
.icon-__30_cloud {
	background-image: url('png/__30_cloud.png');
	background-repeat: no-repeat;
}
.icon-__31_ac {
	background-image: url('png/__31_ac.png');
	background-repeat: no-repeat;
}
.icon-__32_bottle_ec200 {
	background-image: url('png/__32_bottle_ec200.png');
	background-repeat: no-repeat;
}
.icon-__33_bottle_ec3000 {
	background-image: url('png/__33_bottle_ec3000.png');
	background-repeat: no-repeat;
}
.icon-__34_bottle_ph4 {
	background-image: url('png/__34_bottle_ph4.png');
	background-repeat: no-repeat;
}
.icon-__35_bottle_ph7 {
	background-image: url('png/__35_bottle_ph7.png');
	background-repeat: no-repeat;
}
.icon-__36_bottle_ph10 {
	background-image: url('png/__36_bottle_ph10.png');
	background-repeat: no-repeat;
}
.icon-__37_heater {
	background-image: url('png/__37_heater.png');
	background-repeat: no-repeat;
}
.icon-__38_heatmat {
	background-image: url('png/__38_heatmat.png');
	background-repeat: no-repeat;
}
.icon-__39_humidifier {
	background-image: url('png/__39_humidifier.png');
	background-repeat: no-repeat;
}
.icon-__40_light_accessory {
	background-image: url('png/__40_light_accessory.png');
	background-repeat: no-repeat;
}
.icon-__41_nutrient {
	background-image: url('png/__41_nutrient.png');
	background-repeat: no-repeat;
}
.icon-__42_ph {
	background-image: url('png/__42_ph.png');
	background-repeat: no-repeat;
}
.icon-__43_plant {
	background-image: url('png/__43_plant.png');
	background-repeat: no-repeat;
}
.icon-__44_probe {
	background-image: url('png/__44_probe.png');
	background-repeat: no-repeat;
}
.icon-__45_water_temp {
	background-image: url('png/__45_water_temp.png');
	background-repeat: no-repeat;
}
.icon-__46_wifi {
	background-image: url('png/__46_wifi.png');
	background-repeat: no-repeat;
}
.icon-__47_device_led_red {
	background-image: url('png/__47_device_led_red.png');
	background-repeat: no-repeat;
}
.icon-__48_device_led_blue {
	background-image: url('png/__48_device_led_blue.png');
	background-repeat: no-repeat;
}
.icon-__49_devoce_led_green {
	background-image: url('png/__49_devoce_led_green.png');
	background-repeat: no-repeat;
}
.icon-__50_camera {
	background-image: url('png/__50_camera.png');
	background-repeat: no-repeat;
}
.icon-__51_facebook_white {
	background-image: url('png/__51_facebook_white.png');
	background-repeat: no-repeat;
}
.icon-__52_twitter_white {
	background-image: url('png/__52_twitter_white.png');
	background-repeat: no-repeat;
}
.icon-__53_email_white {
	background-image: url('png/__53_email_white.png');
	background-repeat: no-repeat;
}
.icon-__54_cloud_00e36c {
	background-image: url('png/__54_cloud_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__55_notifications_00e36c {
	background-image: url('png/__55_notifications_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__56_photos_00e36c {
	background-image: url('png/__56_photos_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__57_time_00e36c {
	background-image: url('png/__57_time_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__58_lock_00e36c {
	background-image: url('png/__58_lock_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__59_phone_00e36c {
	background-image: url('png/__59_phone_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__60_plus_white {
	background-image: url('png/__60_plus_white.png');
	background-repeat: no-repeat;
}
.icon-__61_settings_white {
	background-image: url('png/__61_settings_white.png');
	background-repeat: no-repeat;
}
.icon-__62_logo_00e36c {
	background-image: url('png/__62_logo_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__63_logo_white {
	background-image: url('png/__63_logo_white.png');
	background-repeat: no-repeat;
}
.icon-__64_plus_00e36c {
	background-image: url('png/__64_plus_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__65_camera_00e36c {
	background-image: url('png/__65_camera_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__66_camera_white {
	background-image: url('png/__66_camera_white.png');
	background-repeat: no-repeat;
}
.icon-__67_arrow-left_white {
	background-image: url('png/__67_arrow-left_white.png');
	background-repeat: no-repeat;
}
.icon-__68_arrow-right_white {
	background-image: url('png/__68_arrow-right_white.png');
	background-repeat: no-repeat;
}
.icon-__69_arrow-left_00e36c {
	background-image: url('png/__69_arrow-left_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__70_arrow-right_00e36c {
	background-image: url('png/__70_arrow-right_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__71_settings_999999 {
	background-image: url('png/__71_settings_999999.png');
	background-repeat: no-repeat;
}
.icon-__72_x_999999 {
	background-image: url('png/__72_x_999999.png');
	background-repeat: no-repeat;
}
.icon-__73_x_white {
	background-image: url('png/__73_x_white.png');
	background-repeat: no-repeat;
}
.icon-__74_light_white {
	background-image: url('png/__74_light_white.png');
	background-repeat: no-repeat;
}
.icon-__75_cloud_white {
	background-image: url('png/__75_cloud_white.png');
	background-repeat: no-repeat;
}
.icon-__76_airtemperature_white {
	background-image: url('png/__76_airtemperature_white.png');
	background-repeat: no-repeat;
}
.icon-__77_ph_white {
	background-image: url('png/__77_ph_white.png');
	background-repeat: no-repeat;
}
.icon-__78_water_temp_white {
	background-image: url('png/__78_water_temp_white.png');
	background-repeat: no-repeat;
}
.icon-__79_water-level_white {
	background-image: url('png/__79_water-level_white.png');
	background-repeat: no-repeat;
}
.icon-__80_plant_white {
	background-image: url('png/__80_plant_white.png');
	background-repeat: no-repeat;
}
.icon-__81_ec_white {
	background-image: url('png/__81_ec_white.png');
	background-repeat: no-repeat;
}
.icon-__82_fan_white {
	background-image: url('png/__82_fan_white.png');
	background-repeat: no-repeat;
}
.icon-__83_fan_00e36c {
	background-image: url('png/__83_fan_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__84_light_00e35c {
	background-image: url('png/__84_light_00e35c.png');
	background-repeat: no-repeat;
}
.icon-__85_water-control_white {
	background-image: url('png/__85_water-control_white.png');
	background-repeat: no-repeat;
}
.icon-__86_water-control_00e36c {
	background-image: url('png/__86_water-control_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__87_waterpump_white {
	background-image: url('png/__87_waterpump_white.png');
	background-repeat: no-repeat;
}
.icon-__88_waterpump_00e36c {
	background-image: url('png/__88_waterpump_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__89_pencil_white {
	background-image: url('png/__89_pencil_white.png');
	background-repeat: no-repeat;
}
.icon-__90_pencil_00e36c {
	background-image: url('png/__90_pencil_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__91_ac_white {
	background-image: url('png/__91_ac_white.png');
	background-repeat: no-repeat;
}
.icon-__92_ac_00e36c {
	background-image: url('png/__92_ac_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__93_heater_white {
	background-image: url('png/__93_heater_white.png');
	background-repeat: no-repeat;
}
.icon-__94_heater_00e36c {
	background-image: url('png/__94_heater_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__95_heatmat_white {
	background-image: url('png/__95_heatmat_white.png');
	background-repeat: no-repeat;
}
.icon-__96_heatmat_00e36c {
	background-image: url('png/__96_heatmat_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__97_humidifier_white {
	background-image: url('png/__97_humidifier_white.png');
	background-repeat: no-repeat;
}
.icon-__98_humidifier_00e36c {
	background-image: url('png/__98_humidifier_00e36c.png');
	background-repeat: no-repeat;
}
.icon-__99_light_accessory_white {
	background-image: url('png/__99_light_accessory_white.png');
	background-repeat: no-repeat;
}
.icon-__100_light_accessory_00e36c {
	background-image: url('png/__100_light_accessory_00e36c.png');
	background-repeat: no-repeat;
}
