extends ../layout

block head
  mixin requirejs("/assets/js/pages/default")

block content

  section.header
    header
      include ../includes/nav/main
  
  section#main(role="main", class="main split-layout")
    p.waiting Our help page is a work in progress...you should see a message overlay pop up within 5 seconds. If it doesn't, you can try the "?" icon in the upper right of the page or email us at 
      a(href="mailto:help@bitponics.com") help@bitponics.com
      | .

block footer-scripts
  script
    var launchIntercomInterval = setInterval(function(){
      if (typeof Intercom === 'function' && typeof $ === 'function'){
        clearInterval(launchIntercomInterval);

        console.log('showing Intercom');
        //$('.intercom-trigger').click();
        Intercom('show');
        //$('.waiting').fadeOut();
        //- setTimeout(function(){
        //-   $('.page-spinner.spinner').fadeOut(); 
        //- }, 5000);
      }
    }, 100);
