@import "./global/utils"

body
  background-color med-white

.padding-20
  padding 20px

.uppercase
  text-transform uppercase

.lowercase
  text-transform lowercase

.border-b-default
  border-bottom set-border(dark-gray)
