
/*section#header
	&:after
		content 'desktop-layout'
		position absolute
		top 0
		right 0
		background-color green
		color white*/

section#header,
section#main,
section#footer
	//

section#main
	//

