@import "helpers"

.landing-page

  .main, .header
    padding 0

  .header
    & > header
      margin: 0 auto;
      max-width: 60em;

    li
      &.first
        width: 19.3%;
        margin: 0 .5% 0 0;

    .elevated-item, .social-icons
      position absolute
      top 0
      right 0

    .elevated-item
      text-align left
      width 15%
      margin 0
      right 15%

    .social-icons
      width 16%
      overflow hidden
      margin 0

    .headline
      margin-right 26%

    //Pricing Page
  .list-grid-wrapper
  //
    .grid-list
      li
        //min-height 4em

  @media screen and (min-width: 65em)
    .page-content-inner-wrapper
      width: 84%;
      float: right;

    #how-it-works #details .detail-block
      width 40%
      float left

      img 
        float left 
        margin-right 1em

      p
        float none

    #pricing
      .center
        width 85%

.landing-page.getstarted
  .main
    // width: 60%;
    // padding-left: 4%;


  .preorder-price
    margin .5em

  .retail-price, .preorder-price
    // margin-top: -1.5em;

    .additional-text
      display inline-block
      span
        width 100%
      // display inline-block

//Team Page
.member
  clear both
  margin 0 0 1em 0

  h3
    border-bottom 1px solid white
    float right
    width 50%
  img
    float left
    width 40%
    margin: 1.5em 10% 15em 0
    border: 4px solid white;

  p
    float right
    width 50%

//App page
.question
  width 30%

.question-wrap-right
  float right
  width 65%





.landing-page.buy

  form
    
    p
      margin 0
      width auto
      max-width 100%
      input
        width auto
        max-width 100%

    // 
    label[for="locality"],
    label[for="region"]
      display block
      visibility hidden


  // General order-info styles
  // order-info element can layout vert or horiz
  // specific styles below
  .order-info
    @extends .display-ib
    clear both
    overflow auto


    & > div
      // @extends .display-ib
      // float left
      // vertical-align top
      // position relative

      // img
      //  // margin 1em 0
      //  width 90%

    .link
      text-decoration underline

    .bitponics-device
      // float left
      // width 33%

    .quantity-layout
      // float left
      // width 33%
    
    .web-service-layout
      // float right
      // width 33%
      // text-align right

      label
        // text-align right
        // max-width 10em
        // margin 0
        // float right
        clear both

    .total-price
      // label, input
      //   font-size 1em
      //   padding 0
      //   margin 0
      //   line-height 2em
      //   height 2em
      // label
      //   float left
      //   clear left
      //   // margin .25em 0 0
      //   padding 0
      // input
      //   float right
      //   clear right
      //   max-width 2.5em

  .order-info-horizontal
    .order-info
      padding 0 1em

      .bitponics-device,
      .quantity-layout
        float left
        width 33%

      .web-service-layout
        float right
        width 30%

      .bitponics-device
        img
          width 90%

      .total-price
        position static


  .order-info-vertical
    position relative

    h3.sub-heading, 
    .personal-info,
    .creditcard-info,
    .shipping-info
      width 100%
      padding-left 20em

    h3.sub-heading
      padding-left 17.125em

    .order-info
      position absolute
      top 1em
      // right 0
      left 0
      width 30%
      min-width 13em

      .bitponics-device
        img
          margin-bottom 0
          width 100%

    .creditcard-info, .account-info
      @extends .float-l




  .personal-info
    @extends .float-l
    
    p, .name-group, .address-group
      @extends .float-l

    .name-group
      // min-width 13em

    .address-group
      min-width 23em


    p.city-group
      // @extends .float-r
      label[for="locality"],
      label[for="region"]
        visibility hidden

    p.postal-code-group
      @extends .half-width
      @extends .clear-r

      input
        @extends .half-width

    p.country-group
      // @extends .fifth-width
      margin 0 0 1em

  .creditcard-info
    @extends .float-l

    p
      @extends .float-l

    p.cardnumber-group
      @extends .float-l
      // @extends .fifth-widthX4

    p.cvv-group
      @extends .fifth-width
      @extends .float-l

    p.expiration-group
      @extends .float-l

      input
        @extends .float-l
  
  .shipping-info
    @extends .float-l
    


  .account-info
    @extends .float-r
    @extends .clear-r
    width 100%
    padding-left: 20em;