@import "nib"
@import "./helpers"
@import "./global/colors"



/*
 * Forms
 */


label, input
	display block
	margin 1em 0

label
	font-weight bold
	margin-bottom 0

input, textarea
	margin-top 0
	//background color-medium-green
	background white
	border 1px solid color-medium-green
	padding .5em
	//color color-light-green

input:valid, textarea:valid, input:invalid, textarea:invalid
	//background color-medium-green
	background white

input[type=submit]
	background color-medium-green
	color white
	border none
	font-size 1.5em

button
	background white
	color color-medium-green
	//border none

select
	display block
	margin .5em 0 0
	max-width 14em

textarea
	width 100%
	min-height 4em
	padding .25em .5em

.steps
	
	.step
		position relative
		padding-bottom 5em
	h4
		font-weight bold
		margin 0
		font-size 4em
		line-height 1em

	.grid
		margin-left 0
		padding-left 0
		li
			@extends .display-ib
			text-align center
			vertical-align middle
			margin .15em 0
			padding 0
		&.sortlist li
			margin .15em
		label
			@extends .display-ib
			padding 1.5em 1em 0
			height 4em
			line-height	1em
			color white
			background color-medium-green
			font-size 1em
			margin 0
			vertical-align bottom
			opacity .6
			transition opacity 300ms linear
			border 1px solid white
		label.large-label
			// height auto
		input[type=radio], input[type=checkbox]
			@extends .display-ib

	input[type=radio], input[type=checkbox]
		//display none
		opacity 0
		height 0
		width 0
		margin 0

	input[type='radio']:checked + label,
	input[type='checkbox']:checked + label
		opacity 1

	input[type='radio']:checked ~ .info,
	input[type='checkbox']:checked ~ .info
		display block



