@import "./global/colors"


/*
 * Forms
 */


label, input
	display block
	margin 1em 0

label
	font-weight bold
	margin-bottom 0

input
	margin-top 0
	//background color-medium-green
	background white
	border 1px solid color-medium-green
	padding .5em
	//color color-light-green

input:valid, textarea:valid, input:invalid, textarea:invalid
	//background color-medium-green
	background white

input[type=submit]
	background color-medium-green
	color white