@import "./global/utils"

.full-width
  width 100%

.full-height
  height 100%

// positioning
.position-f
  position fixed

.position-r
  position relative

.position-a
  position absolute

.display-b
  display block

.display-n
  display none

.display-i
  display inline

.display-ib
  display -moz-inline-stack
  zoom 1
  *display inline
  display inline-block

.display-t
  display table

.clear-b
  clear both

.clear-l
  clear left

.clear-r
  clear right

.clearfix {
  &:before, &:after {
    content ""
    display table
  }
  &:after {
    clear both
  }
  zoom 1
}

.float-l
  float left

.float-r
  float right

.float-n
  float none

.top-0
  top 0

.bottom-0
  bottom 0

.left-0
  left 0

.right-0
  right 0

// fonts
.uppercase
  text-transform uppercase

.lowercase
  text-transform lowercase

.text-align-c
  text-align center

.text-align-r
  text-align right

.text-align-l
  text-align left

.text-align-j
  text-align justify

// spacing
.padding-20
  padding 20px

.centered
  margin-left auto
  margin-right auto

// borders
.default-border-b
  border-bottom def-border-dark-gray()

.default-border-t
  border-top def-border-dark-gray()

.default-border-r
  border-right def-border-dark-gray()

.default-border-l
  border-left def-border-dark-gray()



.content-box
  display: block;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  &:after
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;

.text-normalize
  font-family: 'Courier New',monospace;
  letter-spacing: -.63em;
  text-align: center;
  vertical-align: top;
  font-size: base-font-size;

.hide-text
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden;

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.ellipsis
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

/*
 * shapes
 */
.circle
  text-align center
  border-radius 50em
  &:before
    content ''
    display inline-block
    height 100%
    vertical-align middle
    margin-right -0.25em

.select-block
  overflow hidden
  select
    cursor pointer
    -moz-appearance: none;
    -webkit-appearance: none;
    color: inherit;
    border: 0 none;
    width: 120%;
    font-weight bold
    &:focus
      outline none
      border none