@import "nib"
@import "./libs/resets"
@import "./global/utils"
@import "./global/icons"
@import "./helpers"
@import "./global/colors"
@import "./typography"
@import "./base"
@import "./forms"
@media screen and (min-width: 40em)
	@import "./tablet"
@media screen and (min-width: 65em)
	@import "./desktop"

/*
 * styleguide specific
 */
.styleguide
	
	background rgba(70, 241, 33, 0.45)
	
	ul {
	  margin: 1em 0;
	  padding: 0;
	  list-style none
	  & li {
	    list-style-type none
	  }
	}
	.colors
		.main-heading
			background-color color-main-heading
		.sub-heading
			background-color color-sub-heading
	.heading
		//
	section.colors
		//
	//section.layout
	section.wrapper
		background-color color-global-background
		padding 1em
	.content-module
		float none
	li
		padding 1em
	.default-background
		background-color color-global-background
	.logo
		background-color color-logo-green
	.bitponics-light-green
		background-color color-logo-green
	.bitponics-medium-green
		background-color color-logo-green
	.color
		padding 1em
		width 1em
		height 1em
		@extends .circle

// /.styleguide
