@import "./global/utils"
@import "helpers"
@import "typography"
@import "./pages/dashboard/nav"

color-primary-component=#99d264 //(ie. timeline entries)
color-secondary-dark=#000000 //(ie. timeline ruler)
color-logo-green=#7da451
color-secondary-dark=#333333
color-global-background=#f5f5f5

body
  background-color color-global-background
  font-family "DIN", Helvetica, Arial, sans-serif
  letter-spacing:normal;

ul {
  list-style none
  & li {
    list-style-type none
  }
}
