@import "helpers"
@import "nib"
@import "./global/colors"

.content-module
	float left
	&.side
		width 100%
		margin 2em 0 0 0
	&.middle
		//
body
 margin 0
 
.data-module
	@extends .display-ib
	width 50%
	margin 0.125em -2px //TODO: might need to be more flexible

.select-block
	padding 0 .83em
	text-align left

section.header,
section#main,
section#footer
	padding 1em
			

#logo,
#setup,
#user
	float left
	width 25%
#setup
	width 35%
	margin-right 10%
#user
	padding 0

#logo
	position static
	

/*
 * Dashboard Page
 */
.dashboard
	.content-module
		&.middle
			width 100%
			padding 100% 0 0 0 //must match container width
			border 0 none
			clear: both
	section#header
		height 1em
		.sub-heading a
			color color-medium-green
	section#main
		padding 6em 1em 1em

		#visualizer
			div.circle
				top 1.5em
				left 1.5em
				bottom 1.5em
				right 1.5em
				

		#controls, #reminders
			float right

/*
 * Grow Plans Page
 */
.growplans
	//



@media screen and (min-width: 60em)
	/*body
		&:after
			content 'large-tablet-layout'*/

	.content-module
		float left
		&.side
			width 20%
		&.middle
			//

	.data-module
		width 100%
		margin 0.125em 0


	/*
	 * Footer
	 */
	section#footer
		//position fixed
		//bottom 0
		width 100%
		

		.content-module
			margin 0

		#date
			float left

		#notifications
			float right
			text-align right


	#logo,
	#setup,
	#user
		width 20%
	#setup
		width 30%
		margin-right 30%

	.dashboard
		.content-module
			&.middle
				width 60%
				padding 60% 0 0 0 //must match container width
				clear none


/*
 * Grow Plans Page
 */
.phaseRangeSlider {

}
.idealRanges {
	li {
		clearfix()
	}
	.hi, .lo {
		width: 50%;
		float: left;

		label {
			@extends .display-ib
		}

	}

	.lo {
		float: right;
	}
}



/*
 * Home Page
 */
.home
	
	#main, .header
		padding 0

	.content-module
		min-height 800px

	.header
		position absolute
		width 100%
		top 0
		left 0
		z-index 4
		padding 2em 0
		height 3em
		background white
		color color-text-gray
		padding 0

		.icon-glyphlogo-new
			display block
			font-size: 2.8em;
			position: relative;
			top: 0.35em;
		&.header-fixed
			display block
			.icon-glyphlogo-new, .social-icons
				display none	

		& > header
			margin: 0 auto;
			width: 95%;

		

		&.fixed
			@extends .fixed
			top 0
			z-index 1

		header
			//padding 0 2.6%

		li
			padding 0
			margin .25em .75em 0 0

			&.first
				//visibility hidden
				min-height auto
				width: 19.3%;
				margin: 0 3% 0 0;
				padding: 0.45em 0 0 0.15em;

		h1 div, h1 span
			//color #00fa8b
		a 
			color color-text-gray
			line-height: 3em;
			font-size .85em

			&.active
				color #00fa8b

		h1 i
			color white

		.nav-section
			float left
			margin 0 0 0 0
			padding 0 0 0 0

			li
				display inline-block
				// margin 0 1em 0 0


				&.active
					float none
					height auto
					
					a
						color #00fa8b
			&.elevated-item
				li
					line-height 3em
				.btn 
					margin 0
					padding .5em
					text-align center
					line-height 1em
					color color-text-gray
					// color color-hot-green
					border-color color-text-gray
					// border-color color-hot-green
					background none

		.social-icons
			// width: 16%;
			// height: 3em;
			// overflow: hidden;
			// margin: 0 0 0 3%;
			//margin 0 0 0 70%
			margin 0
			width auto
			clear right
			
			div
				text-indent 100%

			li
				margin .5em 0 0 .2em
				color white
				background color-text-gray


		.elevated-item
			//margin 0 0 0 20%
			li
				background transparent
				line-height 1em
				margin: 0;
				a
					//background white!important

		.social-icons, .elevated-item
			position static
			float right
			background transparent

			// text-align right


	h1.headline
		display none

	.headline
		background: rgba(0,0,0,0);
		padding: .5em;
		color #fff
		width 14em
		font-size 2em
		margin: 3em auto -6.5em auto
		position relative
		height 4em
		line-height: 1.25;

	.last
		margin 0

	.page-heading, .page-content
		max-width 60em
		font-size 1em

	.page-content
		//width: 50%;
		// float: left;
		// margin-left: 3%;


	#main
		#about, #gallery, #contact, #howitworks, #press, #buy, #pricing, #team
			padding-top 4em

	.flexslider
		img
			min-height 100%
			min-width 1440px
	.flex-direction-nav
		position absolute
		z-index: 4;
		top: 18em;

		a
			color white

			&:hover, &:active
				color white
				text-decoration none

			// &.flex-prev
			// 	left 1em

			// &.flex-next
			// 	right 1em


	#howitworks
		p
			float left
			margin 0 2%
			width: 29%;
			border-top: 1px solid color-hot-green;
			padding: 1em 0 0 0;




