@import "helpers"
@import "nib"
@import "./global/colors"

.content-module
	float left
	&.side
		width 100%
		margin 2em 0 0 0
	&.middle
		//
body
 margin 0
 
.data-module
	@extends .display-ib
	width 50%
	margin 0.125em -2px //TODO: might need to be more flexible

.select-block
	padding 0 .83em
	text-align left

section.header,
section#main,
section.footer
	padding 1em
			

#logo,
#setup,
#user
	float left
	width 25%
#setup
	width 35%
	margin-right 10%
#user
	padding 0

#logo
	position static
	

/*
 * Dashboard Page
 */
.dashboard
	.content-module
		&.middle
			width 100%
			padding 100% 0 0 0 //must match container width
			border 0 none
			clear: both
	section#header
		height 1em
		.sub-heading a
			color color-medium-green
	section#main
		padding 6em 1em 1em

		#visualizer
			div.circle
				top 1.5em
				left 1.5em
				bottom 1.5em
				right 1.5em
				

		#controls, #reminders
			float right


@media screen and (min-width: 60em)
	/*body
		&:after
			content 'large-tablet-layout'*/

	.content-module
		float left
		&.side
			width 20%
		&.middle
			//

	.data-module
		width 100%
		margin 0.125em 0


	/*
	 * Footer
	 */
	section.footer
		//position fixed
		//bottom 0
		width 100%
		

		.content-module
			margin 0

		#date
			float left

		#notifications
			float right
			text-align right


	#logo,
	#setup,
	#user
		width 20%
	#setup
		width 30%
		margin-right 30%

	.dashboard
		.content-module
			&.middle
				width 60%
				padding 60% 0 0 0 //must match container width
				clear none


/*
 * Grow Plans Page
 */
.grid
	li
		float: left;
		width: 15em;
		// min-height: 600px;
	
// .question
// 	.plantlist
// 	 	li
// 			float none
// 			width auto
// 			margin 0
// 			label
// 				margin 0
// 				@extends .display-ib

.idealRanges {
	li {
		clearfix()
		max-width 15em
	}
	.hi, .lo {
		// width: 50%;
		// float: left;

		label {
			@extends .display-ib
		}

	}

	.lo {
		// float: right;
	}
}



/*
 * Home Page
 */
.landing-page
	
	#main, .header
		padding 0

	.content-module
		min-height 800px

	.footer
		background-position 45% 100%
		background-image url('/assets/img/home/footer.jpg')
		min-height 1323px
		background-size cover
		background-repeat no-repeat
		position relative

		div
			position absolute
			bottom 1em
			left 2.5%
	
	.header
		position absolute
		width 100%
		top 0
		left 0
		z-index 4
		padding 2em 0
		height 3em
		background white
		color color-text-gray
		padding 0

		.icon-glyphlogo-new
			display block
			font-size: 2.8em;
			position: relative;
			top: 0.35em;
		&.header-fixed
			display block
			.icon-glyphlogo-new
				display none
			.social-icons
				//

		& > header
			margin: 0 auto;
			width: 95%;

		

		&.fixed
			@extends .fixed
			top 0
			z-index 1

		header
			//padding 0 2.6%

		li
			padding 0
			margin .25em .75em 0 0

			&.first
				//visibility hidden
				min-height auto
				width: 19.3%;
				margin: 0 3% 0 0;
				padding: 0.45em 0 0 0;

		h1 div, h1 span
			//color #00fa8b
		a 
			color color-text-gray
			line-height: 3em;
			font-size .85em

			&.active
				color #00fa8b

		h1 
			&.logo a
				font-size inherit
				line-height inherit
				color inherit

				&:hover
					text-decoration none

			i
				color white

		.nav-section
			float left
			margin 0 0 0 0
			padding 0 0 0 0
			display block
			li
				display inline-block
				// margin 0 1em 0 0


				&.active
					float none
					height auto
					
					a
						color #00fa8b
			&.elevated-item
				li
					line-height 3em
				.btn 
					margin 0
					padding .5em
					text-align center
					line-height 1em
					color color-text-gray
					// color color-hot-green
					border-color color-text-gray
					// border-color color-hot-green
					background none

		.social-icons
			// width: 16%;
			// height: 3em;
			// overflow: hidden;
			// margin: 0 0 0 3%;
			//margin 0 0 0 70%
			position absolute
			margin 0
			width auto
			clear right
			
			div
				text-indent 100%

			li
				margin .5em 0 0 .2em
				color white
				background color-text-gray
				position relative

			a
				position: absolute;
				top: -.5em;
				left: 0;
				font-size: 1.25em;
				color white
				i
					width: 1em;
					height: 1em;

					.icon-glyphmail
						left -0.105em
						top -0.025em

		.elevated-item
			//margin 0 0 0 20%
			li
				background transparent
				line-height 1em
				margin: 0;
				a
					//background white!important

		.social-icons, .elevated-item
			position static
			float right
			background transparent

			// text-align right

	.featured-press, .additional-press
		margin 1.5em 0 1.5em 16%
		li
			float left
			width 20%
			margin 0 2.8%
			border-top 1px solid color-text-gray

			&.last
				margin 0

	.featured-press
		clear both
		min-height 25em
		li
			position relative
			padding-top 6em
			img
				position absolute
				top .5em


	h1.headline
		display none

	.headline
		background: rgba(0,0,0,0);
		padding: .5em;
		color #fff
		width 14em
		font-size 2em
		margin: 3em auto -6.5em auto
		position relative
		height 4em
		line-height: 1.25;

	.last
		margin 0

	.page-heading, .page-content
		max-width 60em
		font-size 1em

	.page-heading
		line-height 2em

	#main
		#about, #gallery, #contact, #how-it-works, #press, #buy, #pricing, #team, #details
			padding-top 3.5em

	.flexslider
		img
			min-height 100%
			min-width 1440px
			position: relative;
			left: 50%;
			margin-left: -720px;
			
	.flex-direction-nav
		position absolute
		z-index: 4;
		top: 49%;

		a
			color white

			&:hover, &:active
				color white
				text-decoration none

			// &.flex-prev
			// 	left 1em

			// &.flex-next
			// 	right 1em

	p
		max-width 35em

	#how-it-works
		p
			float left
			margin 0 2%
			width: 29%;
			border-top: 1px solid color-hot-green;
			padding: 1em 0 0 0;

		#details
			.detail-block 
				width 100%

	#contact
		#wufoo-wrapper, #email-sub
			float left
			width: 40%;
			margin: 1em 10% 0 0;


//Pricing Page
#pricing
	.price
		// display block
		.price-number,.price-type,.price-per
			display inline
			padding 0
		.price-number
			//
		.price-type
			//
		.price-per
			display block
			margin-top: -.85em;
			width 100%

.list-grid-wrapper
	font-size 1em
	.grid-list
		float left
		margin 0
		li
			text-align center
			border-top 1px solid color-light-gray
			min-height 8em
			//display: table;
			width: 100%;
			h2
				margin 0
				span
					display block
					
			& > span
				width 80%
				// display: table-cell;
				display inline-block
				padding 1em 1em 0
				font-size .85em
	
			&.first
				border 0 none
				margin-top 1em
			&.last
				padding-top: 1em;

		&.feature-icons
			display block
			width 10%
			li
				// height auto
				// min-height auto
				//display block
				
				position relative
				// font-size 2em
				// min-height 3em
				i
					position absolute
					top: 0;
					margin-top: 0;
					font-size: 3em;
					color color-medium-green


			.first
				min-height 4em
		&.tier1
			width 30%
			.first
				min-height 4em
		&.tier2
			width 30%
			.first
				min-height 4em
		&.tier3
			width 30%
			.first
				min-height 4em
#pricing
	.center
		margin 1em

		a.btn
			//
		i
			//

//TODO: this is repeating these styles, need better solution
/*
 * Single landing page overrides
 */
@import "./pages/single-page"

/*
 * App page overrides
 */
@import "./pages/app-page"


/*
 * get-started/thankyou
 */
.landing-page.get-started
	#main
		margin: 10em auto 0 auto;
		width: 95%

	.page-heading
		width 100%
		font-size: 3.5em;
	.page-content
		//sdfd


.landing-page.register
	#main
		//margin-top 0

		.preorder-price
			margin-top: -1.5em;
			//   position relative
			//   font-size 3em
		  
			//   span.dollar-sign, span.price-number
			//     color color-medium-green
			//   .additional-text
			//     // font-size .333em
			//     display inline-block
			//     // width 2em

			//     span
			//       display block
			//       text-align left

//Team Page
.member
	clear both
	margin 0 0 1em 0

	// h3
	// 	border-bottom 1px solid white
	// 	float right
	// 	width 50%
	img
		margin: 1.5em 0

	// p
	// 	float right
	// 	width 50%

//App pages
.question
	float left
	width 40%
	margin-right 5%

.question-wrap-right
	float right
	width: 55%;
	
	.question
		width 80%

.overlay
	padding 1em 2em 1em
