// Colors
medium-white=#f4f4f4
dark-gray=#333
gray=#dfdfdf
font-url='./fonts/'
font-types=('eot') ('woff') ('ttf' 'truetype') ('svg')

fontface-url(font-url font-file)
  _url = 'local("~!@\")'
  len = length(font-types)
  for type, i in font-types
    ext =  type[0]
    _type = type[0]
    if type[1]
      _type = type[1]
    if ext == 'eot'
      ext = ext + '?iefix'
    file = font-url+font-file+'.'+ext 
    if ext == 'svg'
      file = file + '#webfont'
    append(_url, unquote(s('url(%s) format(%s)', file, unquote(_type))))
  _url

fontface(name, font-file, weight="normal", style="normal")
  file-path = font-url font-file
  @font-face
    font-family name
    src url(font-url font-file '.eot') // ie stuff
    src unquote(join(',', fontface-url(font-url, font-file)))
    font-weight weight
    font-style style


fontface("DIN", 'din_medium')
fontface("DIN", 'din_bold', 'bold', 'bold')

.stackContent
  font-family Helvetica, Arial, sans-serif

