@import "./global/utils"

font-url='./fonts/'
font-types=('eot' 'embedded-opentype') ('woff') ('ttf' 'truetype') ('svg')

fontface-url(local-id font-url font-file)
  url = 'local("' + local-id + '")'
  for typeobj, i in font-types
    ext =  typeobj[0]
    type = typeobj[0]
    if typeobj[1]
      type = typeobj[1]
    if ext == 'eot' 
      ext = ext + '?iefix'
    file = font-url + font-file + '.' + ext
    if ext == 'svg'
      file = file + '#webfont'
    append(url, unquote(s('url(%s) format(%s)', file, unquote(type))))
  unquote(join(',', url))

fontface(name, font-file, weight="normal", style="normal", local="~!#$")
  file-path = font-url font-file
  @font-face
    font-family name
    src url(font-url font-file '.eot')
    src fontface-url(local, font-url, font-file)
    font-weight weight
    font-style style


fontface("DIN", 'din_medium')
fontface("DIN", 'din_bold', 'bold', 'bold', '@#$%')

.stackContent
  font-family "DIN", Helvetica, Arial, sans-serif
  letter-spacing:normal;

a {
  color med-white
  text-decoration none
  &:hover {
    text-decoration underline
  }
}
