<h1><%= notificationDetails.growPlanPhase.name %> phase is scheduled to end on <%=: notificationDetails.growPlanInstancePhase.expectedEndDate | friendlyDate %></h1>
<p>To advance your garden to the <%= notificationDetails.nextGrowPlanPhase.name %> phase:</p>
<a class="btn" href="<%= secureAppUrl + '/gardens/' + notification.gpi._id.toString() %>">Visit your garden dashboard</a>