.app-page
	color color-text-gray

	.header
		.nav-section
			// display none

			&.first, &.social-icons
				display block


		h1.logo a, h1.logo span
			color color-logo-green

	.footer
		min-height 0
	
	.label
		font-size .75em
	.value
		font-size 1.5em
		color color-text-gray

	.page-heading
		color color-text-gray
		font-size 3.25em
		font-weight bold
		line-height 1.25em
		margin 0 0 .25em 0

	.page-heading-large
		// @extends .page-heading
		font-size 2em
		line-height 1.25em
		margin 0
		color color-text-gray
		border-width 0
		font-weight bold
		span, input, div
			color color-text-gray
	
	.page-heading-small
		// @extends .page-heading
		line-height 1.25em
		font-size: 1.5em;
		font-weight: bold;
		
	.separator-top
		border-width 1px 0 0
		padding-top .25em
		margin-top .25em

	.dropdown
		margin 1em auto

	.app-user
		position absolute
		top 0
		right 0
		width 50%
		
		a
			color color-logo-green!important