.undefined, .app-page
	color color-text-gray

	.header
		position static
		padding .45em 0
		margin 0 auto
		width 95%
		
		header 
			max-width 120em

		.nav-section
			// display none
			padding 0

			&.first, &.app-user
				float: left;
				width: 48.499999%;


		h1.logo a, h1.logo span
			color color-logo-green

		.icon-glyphlogo-new
			display none
	.main
		max-width 120em
		margin 0 auto
		overflow hidden
		width 95%

	.footer
		min-height 0
		background white
		color color-text-gray

		a
			color color-text-gray
	
	// .label
	// 	font-size .75em
	// .value
	// 	font-size 1.5em
	// 	color color-text-gray

	.page-heading
		color color-text-gray
		font-size 1.25em
		// font-weight bold
		line-height 1.25em
		margin 0 0 .25em 0

	.page-heading-large
		// @extends .page-heading
		font-size 2em
		line-height 1.25em
		margin 0
		color color-text-gray
		border-width 0
		// font-weight bold
		span, input, div
			color color-text-gray
	
	.page-heading-small
		// @extends .page-heading
		color color-text-gray
		line-height 1.25em
		font-size: 1.5em;
		// font-weight: bold;
		line-height: 1em;
		font-size: 1.75em;

		&.starting-day 
			margin-top .5em
		
	.separator-top
		border-width 1px 0 0
		padding-top .25em
		margin-top .25em
		width 100%

	.dropdown
		margin 1em auto

	.app-user
		text-align right
		// position absolute
		// top 0
		// right 0
		// width 50%
		
		a
			color color-logo-green

		span
			font-size .85em

		
	.flexslider
		border-radius 0
		box-shadow none

	.icon-glyph-new
		// height: 1em;
		// font-size: 0.75em;
		// font-size 1.25em
		// position: relative;
		// top: -0.25em;

	[contenteditable], btn[contenteditable]
		outline none
		border-bottom 1px dotted color-logo-green
		white-space nowrap

@media screen and (min-width: 40em)
	.undefined, .app-page
		.main
			.page-heading
				line-height 1.25em


@media screen and (min-width: 60em)
	.undefined, .app-page
		.header
			margin 0
			width auto

		.overlay.auto-size
			left 25%
			right 25%
			width 50%
			
	.separator-top
		width auto
