.app-page
	.header
		.nav-section
			display none

			&.first, &.social-icons
				display block


		h1.logo a, h1.logo span
			color color-hot-green

	.footer
		min-height 0
	
	.label
		font-size .75em
	.value
		font-size 1.5em
		color color-text-graydark

