.landing-page.buy
	.main .page-content
		border-top none
		
	.main .page-heading
		margin-bottom 0

	p.page-sub-heading
		font-size .75em
		max-width none
		color color-text-gray

	.next-step-btn
		width 15em
		font-size .35em
		padding .5em 0
		position relative
		top -1.5em
		left -1em


	form
		
		p
			margin 0
			width 100%
			max-width 20em
			input
				width: 100%;
				max-width: 20em;

		// 
		label[for="locality"],
		label[for="region"]
			display none

		input[type="submit"]
			margin 1em 0 0

	p.sub-heading
		color color-text-gray

	.order-info
		border 1px dotted color-bg-gray
		// padding 0 1em
		padding 0 1em 9em 1em
		// font-size 1.5em
		position relative
		
		.bitponics-device
			img
				margin 1em 0
				width 100%

		.web-service-layout,.add-on-layout
			.custom-checkbox-wrap
				font-size .75em
				label
					// margin .25em 0

		.total-price
			position absolute
			bottom 0

			label, input
				font-size 1em
				padding 0
				margin 0
				line-height 2em
				height 2em
			label
				float left
				clear left
				// margin .25em 0 0
				padding 0
			input
				float right
				clear right
				max-width: 4.5em;
				text-align: right;
				margin-right: 1em;

	.personal-info
		// 
	.creditcard-info
		p.expiration-group
			input
				width 6em
	.shipping-info
		margin-bottom 1em

	.account-info
		// 



