.landing-page.buy

	.main .page-heading
		margin-bottom 0

	.next-step-btn
		width 15em
		font-size .35em
		padding .5em 0
		position relative
		top -1.5em
		left -1em


	form
		
		p
			margin 0
			width 100%
			max-width 20em
			input
				width: 100%;
				max-width: 20em;

		// 
		label[for="locality"],
		label[for="region"]
			display none

		input[type="submit"]
			margin 1em 0 0


	.order-info
		border 1px dotted color-bg-gray
		// padding 0 1em
		padding 0 1em 12em 1em
		font-size 1.5em
		position relative
		
		.bitponics-device
			img
				margin 1em 0
				width 100%

		.web-service-layout
			.custom-checkbox-wrap
				font-size .75em
				label
					// margin .25em 0

		.total-price
			position absolute
			bottom 0

	.personal-info
		// 
	.creditcard-info
		// 
	.account-info
		// 



