.dashboard
	.content-module
		@extends .display-ib
		&.middle
			// position relative
			// padding 100% 0 0 0 //must match container width
			// height 0
			width 50%
		&.side
			width 25%
	select
		// margin 0


.circle
	svg
		max-width 100%