.dashboard
	.content-module
		@extends .display-ib
		&.middle
			// position relative
			// padding 100% 0 0 0 //must match container width
			// height 0
			width 60%
		&.side
			width 20%

	select
		// margin 0

	.page-heading-small
		color color-text-gray
		border-bottom 1px solid color-border-gray
		padding-bottom .5em

	.control
		h3
			text-align left
			color color-text-gray
			font-size .85em

	.date
		margin-bottom 0
		border 0 none
		position relative

	.overlay
		height auto
		left 24%
		top 8em
		width 40%
		overflow hidden

		.cycle-text
			.left, .right
				float left
				width 45%
				margin 0 5% 0 0

				div
					font-size 2em
					color color-logo-green
				p
					margin-top 1.25em

			h4
				margin 1em 0 0


		.page-heading
			font-size: 2em;
			text-align: left;
			// margin: 0 .5em 0;
		
		.turn-off, .turn-on
			margin-left 0

		.close
			margin 0

.circle
	margin 1.5em 0
	svg
		max-width 100%

