.main.error
	min-height 35em

	p
		max-width 35em


.error-message
	// border-left 1px solid red
	color red

form
	
	.ng-invalid.ng-dirty
		// background-color red
		color red
		box-shadow inset 0px 0px 5px red