@import "nib"
@import "./global/colors"

.landing-page.getstarted
  .main
    // margin 1em 1em 0
    .page-heading
      font-size 2em
      color color-logo-green
      font-size: 2.5em;
      line-height: 1; 
      padding .5em 0
    .page-content
      border-top: 1px solid color-logo-green

    ul
      padding 0 1em 1em
      margin-left 1em
      list-style initial
      li

    p
      color color-logo-green
        
  label
    //color-logo-green

.landing-page.register
  #main
    //margin-top 0

    .page-content
      padding-top 1em

  .retail-price, .preorder-price
    float left
    //margin 1em
    font-size 2em

    .additional-text
      font-size 10px
      text-align center
  
  .preorder-price
    // margin .5em

    .additional-text
      span
        display inline-block
        text-align left
  
  .retail-price, .preorder-price
    position relative
    font-size 3em
    span.dollar-sign, span.price-number
      color color-logo-green
    .additional-text
      span
        display inline-block
        text-align left

  .preorder-price
    font-size 2em
    span.dollar-sign, span.price-number
      color color-text-gray

  .checkout-imgs
    border-top: 1px solid color-logo-green
    padding-top 1em
    img
      display block
      width auto
      margin 0 auto

.signup
  .main
    margin 1em 1em 0
    .page-heading
      font-size 2em
      color color-logo-green
      font-size: 2.5em;
      line-height: 1; 
      padding .5em 0
    .page-content
      border-top: 1px solid color-logo-green

    ul
      padding 0 1em 1em
      margin-left 1em
      list-style initial
      li

    p
      color color-logo-green