@import "../libs/twitter-bootstrap"

.landing-page.growplans
	
	.plantlist
		padding 1em 0 0

	.btn
		padding .5em

	.edit-btn
		@extends .display-ib
		height 1em
		padding-left 1em
		position relative
		margin 0 0 1em

		i
			position absolute
			top 0
			left 0

	.grid
		li
			margin: 1em 1em 0 1em;

		.label
			margin 0
			padding .45em 0 0
			border-top 1px solid color-text-gray

		.first .label
			border 0 none

		.value
			margin 0 0 1em

	.next-step-btn, .phase-tabs .btn
		background white!important
		color color-hot-green!important
		border 3px solid color-hot-green
		padding .5em 2em
		display block
		text-align center
		width 15em

		.icon-glyph-new
			color color-hot-green

	.question
		.grid 
			ul
				// clear both
			li
				margin 0
				width auto
				.btn
					margin-left 0
					margin-top 0

		.add
			float left
			clear left
			margin-left 0
			margin-top 0	



	.icon-glyph-new
		height 1em
		font-size 0.75em
		position relative
		top -.25em


	#growplans_activate
		clear both

	.phaseDescription
		margin 0 0 2em 0
		
	.phase-tabs 
		list-style: none;
		// margin: 0;
		// padding: 0;
		clear: both;
		overflow: hidden;

		.btn
			width auto

		.selected
			background color-hot-green!important
			color white!important

			.icon-glyph-new
				color white!important

		li {
			position: relative;
			// width: 25%;
			width auto
			float: left;
			padding: .25em .5em;
			// color: white;
			//background: green;
			// cursor: pointer;
			// height: auto;
			//text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
			// font-weight: bold;
			margin: 1em .25em 1em 0;

			&.focused {
				text-decoration: underline;
			}

			&.inactive {
				display: block;
				opacity: 1;
				background-color: rgba(36, 211, 33, .6);
			}

			.toggle {
				text-decoration: none;
			}
		}


	.idealRanges, .actions {
		position: relative;
		clearfix()

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.question {
			margin: 0 1em 1em 0;
			border: 1px solid color-text-gray-sep;
			padding: 2em 1em 1em; 
			position: relative;
		}

		.btn {
			margin-left 0
			margin-top 0

			&.close {
				position: absolute;
				top: 0;
				right: -.25em;
				cursor: pointer;
				background: #fff;
				color: color-text-graydark;
			}

		}

		input[type=checkbox] {
			opacity: 1;
			height: auto;
			width: auto;
			margin: auto;
			display: inline;
		}

		// input[type=number] {
		// 	width: 3.75em;
		// }

		// textarea {
		// 	max-width: 300px
		// }

		// label {
		// 	@extends .display-ib
		// }

		.separator-top {
			margin-top: 1em;
		}

		.hi, .lo {

			label, textarea {
				display: block;
				width: 100%;
			}

			input[type=number] {
				@extends .display-ib;
				width: 6em;
				margin-right: 1em;
			}

			label {
				// font-size: 2em;
			}
		}

	}
	.phaseEndDescription
		margin 2em 0 2em
		clear both

		
