@import "../libs/twitter-bootstrap"
@import "../components/select2"

// .landing-page.growplans
.growplans
	
	.plantlist
		padding 0
		float left

	.btn
		padding .5em

	.overlay .btn
		margin 0

	.edit-btn
		@extends .display-ib
		height 1em
		padding-left 1em
		position relative
		margin 0 0 1em

		i
			position absolute
			top 0
			left 0

	.next-step-btn, .phase-tabs .btn
		background white!important
		color color-logo-green!important
		border 3px solid color-logo-green
		padding .5em 2em
		display block
		text-align center
		width 15em

		.icon-glyph-new
			color color-logo-green

	.question
		.grid 
			ul
				// clear both
			li
				margin 0
				width auto
				.btn
					margin .7em 1em 1em 0
					width auto


		.add
			float left
			clear left
			margin .7em 1em 1em 0
			// margin-top 0	


	.img-wrapper
		.icon-glyph.icon-glyphlogo-new
			display block!important
			color color-logo-green
			font-size 4em

	.icon-glyph-new
		height 1em
		font-size 0.75em
		position relative
		top -.25em

	.grid .icon-glyphlogo-new
		display block!important

	// dl
	// 	font-size .85em
	// dt
	// 	font-size: 1.15em;
	// dd
	// 	margin 0 0 .25em
	// 	min-height 3em

	#growplans_activate
		@extends .display-ib
		clear both

	.spinner
		@extends .display-ib
		width: 2em;
		margin: 1em;

	.phaseDescription
		margin 0 0 2em 0
		
	.phase-tabs 
		list-style: none;
		// margin: 0;
		// padding: 0;
		clear: both;
		overflow: hidden;

		.btn
			width auto

		div
			padding-left: 1em;

		.selected
			background color-logo-green!important
			color white!important

			.icon-glyph-new
				color white!important

		li {
			position: relative;
			// width: 25%;
			width auto
			float: left;
			padding: .25em .5em;
			// color: white;
			//background: green;
			// cursor: pointer;
			// height: auto;
			//text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
			// font-weight: bold;
			margin: 1em .25em 1em 0;

			&.focused {
				text-decoration: underline;
			}

			&.inactive {
				display: block;
				opacity: 1;
				background-color: rgba(36, 211, 33, .6);
			}

			.toggle {
				text-decoration: none;
			}
		}


	.idealRanges, .actions {
		position: relative;
		clearfix()

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.question {
			margin: 0 1em 1em 0;
			border: 1px solid color-border-gray;
			padding: 2em 1em 1em; 
			position: relative;
		}

		.btn {
			margin-left 0
			margin-top 0

			&.close {
				position: absolute;
				top: 0;
				right: -.25em;
				cursor: pointer;
				background: #fff;
				color: color-text-gray;
			}

		}

		input[type=checkbox] {
			opacity: 1;
			height: auto;
			width: auto;
			margin: auto;
			display: inline;
		}

		// input[type=number] {
		// 	width: 3.75em;
		// }

		// textarea {
		// 	max-width: 300px
		// }

		// label {
		// 	@extends .display-ib
		// }

		.separator-top {
			margin-top: 1em;
		}

		.hi, .lo {

			label, textarea {
				display: block;
				width: 100%;
			}

			input[type=number] {
				@extends .display-ib;
				width: 6em;
				margin-right: 1em;
			}

			label {
				// font-size: 2em;
			}
		}

	}
	.phaseEndDescription
		margin 2em 0 2em
		clear both

