// guides

.guides .main
	max-width 35em
	ul, ol, p, div
		color color-text-gray
		font-size 1em

	h1, h2, h3, h4
		color color-logo-green
		margin 1em 0 0 0

	ul
		list-style-type disc
		margin 1em 2em
		padding auto

	.page-heading
		font-size 2em
		line-height 1.25em

	.page-heading-small
		font-size 1.35em