@import "nib"

.home
	body
		// background linear-gradient(top, #9e9e9e, #cdd1d2);
		background-color #cfd5d5
		color white
		margin 0

	div, p, span, a, a:visited, a:hover, a:active
		color white

	.main-heading
		color white

	.content-module
		border none
		min-height 600px

	.page
		background-image url('/img/Bitponics_Hssld_H4D_0085.jpg')
		background-position 35% -355px
		// background-size cover
		background-repeat no-repeat

	#main > div, header
		padding 2em 2.6%
		margin 0

	nav
		ul
			list-style none
			li
				display block

	.logo
		font-size 1.17em
		margin 0
		width auto

		span
			font-size: .65em;
			vertical-align: top;

	.icon-logo
		font-size: 2.8em;
		position: relative;
		top: 0.35em;

	#about, #gallery, #contact
		background-color #00fa8b //hot green

		.nav-section
			border-top 1px solid white

	#howitworks, #press, #buy
		background-color white
		color #00fa8b