@import "nib"
@import "./global/colors"

.landing-page
	body
		// background linear-gradient(top, #9e9e9e, #cdd1d2);
		//background-color #cfd5d5
		color white
		margin 0

	div, p, span, a, a:visited, a:hover, a:active
		color color-text-gray

	section	
		clear both
	
	#footer
		background-color color-light-gray-bg
		color white
		padding 0 2.5%
		font-size .85em

	input[type=submit]
		font-size 1.1em
	
	#footer
		background-color color-light-gray-bg
		color white
		padding 0 2.5%
		font-size .85em

	ul
		list-style none
		margin 0
		padding 0

	.main-heading
		color white

	.content-module
		border none
		//min-height 300px
		//height 800px
		background-color white
		color #00fa8b
		
		h3 div, a, a:visited, a:hover, a:active
			color #00fa8b
		
		.nav-section
			border-top 1px solid color-medium-green2


		&.inverted-color
			background-color color-hot-green //hot green
			
			div, p, span, a, a:visited, a:hover, a:active
				color white

			.nav-section
				border-top 1px solid white

		&#home
			background-color: transparent;


	.page
		//background-image url('/assets/img/home/Bitponics_Hssld_H4D_0085.jpg')
		background-position 35% -13em
		// background-size cover
		background-repeat no-repeat

	#main > div, header
		//padding 2em 2.6%
		margin 0
		z-index 2

	.header-fixed
		display none
	
	nav
		li
			display block
			margin 0
			padding .25em .5em
			background none
			color color-text-gray
			display none
			&.first
				display block
		&.open
			display block

	.logo
		font-size 1.45em
		margin 0
		width auto
		height 1em

		span
			font-size: .65em;
			vertical-align: top;

	.icon-glyphlogo-new
		display none

	.page-heading, .page-content
		width 95%
		margin 0 auto
	.page-heading
		.icon-glyphlogo-new
			display none

	.page-content
		clear: both;
		overflow: hidden; 
		
		&.center-img
			text-align center

			img
				@extends .display-ib

		p
			font-size .85em
			text-align: left;
			max-width: 35em;

		p.blurb 
			position relative
			border-top 1px solid white
			padding 2em 0 0 12em
			line-height 1.5em
		// .icon-logo
		// 	display none
		// 	position absolute
		// 	top .35em
		// 	left .5em
		// 	font-size 6.5em
		// 	line-height 1em

	.headline
		position absolute
		top: 0;
		left: 0;
		color: white;
		background: rgba(0,0,0,.25);
		margin: 0;
		width: 100%;
		min-height: 100%;
		//padding: .5em;
		padding: 0.5em 4em;
		font-size: 1em;
		z-index 1

	.headline-about
		//@extends .headline
		position static
		font-size 4em
		margin .5em 0 .45em 0
		line-height 1em

	// .btn

	// 	&:visited, &:hover, &:active
	// 		color white

	.featured-press,
	.additional-press
		// padding 0 1em
		margin 1.5em 0
		a
			@extends .display-ib

	.featured-press
		li, p
			color-text-gray2
	
	.additional-press
		a
			width 100%
		.last
			a
				width auto



.elevated-item
	// position absolute
	// top 0
	// right 0

	li
		margin 0
		padding 0

	.btn
		padding .5em
		margin 0 0 0 -.5em
		background white
		border 2px solid color-text-gray

.social-icons
	position relative
	top -.4em
	right 0
	
	li
		@extends .circle;
		cursor pointer
		width 2em
		height 2em
		padding .5em 0
		margin 0 0  0 .25em
		background color-text-gray
		color white
		position relative
		float left
		text-align right

		div
			@extends .hide-text;
			text-indent 100%
		
		a, i
			font-size 1.4em

		i
			position absolute
			top 0
			left 0

	// i.icon-glyphfc-webicon-facebook
	// 	left -.125em
	// 	top -.05em
	// i.icon-glyphfc-webicon-twitter
	// 	left -0.1em
	// 	top -0.1em
	i.icon-glyphmail
		left: -0.15em;
		top: -0.025em;

.flexslider
	ul
		margin 0
		padding 0
	img
		width 100%
		height auto
		display inline
		

.slides
	li
		position relative
		overflow hidden
.flex-direction-nav
	// position absolute
	// top 0
	position relative
	top -8em
	color white
	z-index 3
	width 100%

	li
		position absolute
		width 100%

	a
		color white
		display block
		position absolute

	.flex-prev
		left 1em

	.flex-next
		right 1em

	i
		color white
		font-size 3em


#how-it-works
	p
		text-align left
		color color-text-gray
		margin 1em
	
	#details
		.detail-block
			margin 1em

			p
				float none
				margin 0
				width auto
				border none
			ul 
				font-size 0.85em
				text-align left
				list-style disc inside


#team, #contact
	background color-light-gray-bg
	div, p, a, h3
		color white
		border-color white

#get-started
	//display none


.page-content-inner-wrapper 
	padding 0 .5em

//Pricing Page
#pricing 
	&.content-module
		min-height auto // temp while we are only showing dev-status messaging
		height auto

	.development-status
		color #00fa8b
		font-size: 1.5em
		margin-bottom 0

	.base-station-preorder
		.btn
			margin-top 0
			margin-left 0

	.price
		padding-left 1em

		&.base-station-price 
			display block
			margin 0 auto
			span
				color #00fa8b

		span
			&.price-number
				font-size 3.5em
				position relative
		
				.price-currency
					font-size .5em
					position absolute
					top .1em
					left -.7em
			&.price-type
				//
			&.price-per
				//

.list-grid-wrapper
	font-size: 0.75em;
	.grid-list
		// width 20%
		// margin 0 2.6
		li
			font-size 1em
			h2
				margin 1em 0 0
				line-height 1em
				font-size 1.5em
			
			&.first
				//
			&.last
				//
		&.feature-icons
			display none
			li
				div
					display none
		&.tier1
			h2 span, .price span
				color color-light-green2
		&.tier2
			h2 span, .price span
				color color-medium-green2
		&.tier3
			h2 span, .price span
				color color-blue-green

//Team Page
.member
	clear both
	margin 0 0 1em 0

	h3
		border-bottom 1px solid white
		// float right
		// width 50%
	img
		// float left
		// width 40%
		// margin: 1.5em 10% 5em 0;
		border: 4px solid white;

	p
		// float right
		// width 50%

	


