@import "../global/colors"
@import "../helpers"
@import "../typography"


@keyframes led-indicator {
  0%, 100% {
    opacity:0;
  }
 
  50% {
    opacity:1
  }
}

.setup {
  * {
    color: color-text-gray
  }

  .content-module.middle {
    padding 3.5em 0 0!important
  }
  .page-heading-small {
    font-size 1em
    margin .35em 0
  }
  
  .unstyled-list {
    list-style none
    padding-left 0
  }

  .list-style {
    & > li {
      font-size 2.25em
    }
    p, label, button {
      font-size .5em
    }
    p, label {
      color color-text-gray
    }
  }
  
  .btn {
    margin-left 0
  }

  .custom-dropdown-wrap {
    select.custom-dropdown {
      // font-size .65em //23px
      margin-top 0
      width 100%
      max-width 20em
      &:focus {
        border 1px solid white
      }
    }
  }

	.led-indicator {
		  -webkit-animation-duration: 1s;
  		-webkit-animation-name: led-indicator;
  		-webkit-animation-iteration-count: infinite;

  		width:20px;
  		height:20px;
  		border-radius: 5px;
      border: 1px solid #ccc;
      display: block;

      &.scan {
        background: yellow;
        -webkit-animation-duration: .5s;
      }

      &.adhoc {
        background:green;
      }
  }	

  .selectedNetworkSsid {
    font-style:italic;
  }

  input[readonly] {
    border 2px inset

    &:focus {
      background color-bg-gray
    }
  }

 .serial {
   width: 20em;
 } 
}