@import "../helpers"
@import "../typography"


@keyframes led-indicator {
  0%, 100% {
    opacity:0;
  }
 
  50% {
    opacity:1
  }
}

.setup {
	.led-indicator {
		  -webkit-animation-duration: 1s;
  		-webkit-animation-name: led-indicator;
  		-webkit-animation-iteration-count: infinite;

  		width:20px;
  		height:20px;
  		border-radius: 5px;
      border: 1px solid #ccc;

      &.scan {
        background: yellow;
        -webkit-animation-duration: .5s;
      }

      &.adhoc {
        background:green;
      }
  }	

  .selectedNetworkSsid {
    font-style:italic;
  }

  // Setup steps initially hidden, revealed later
  #enter-wifi-data, #wifi-data-submitted, #pairing-complete {
    display:none;
  }
}