.single-page
  #main, #footer
    max-width 60em
    margin 0 auto
    width 95%

  #main
    margin 10em auto

  #footer
    background none
    height auto
    // width 100%
    min-height auto
    padding 0
    font-size 1em

    div
      position static

  .page-content,
  .page-heading
    width 100%