.single-page
  
  .icon-glyphlogo-new
    display none!important //hide big logo

  #main, .footer
    max-width 60em
    margin 0 auto
    width 95%

  #main
    margin 3em auto!important

		.content-module
			padding-top 1.5em

  .footer
    background none
    height auto
    // width 100%
    min-height auto
    padding 0
    font-size 1em

    div
      position static

  .page-content,
  .page-heading
    width 100%

  //specific page overrides
  #register
    margin-top 10em!important

    h3.nav-section
      border-top 0 none
  #team, #contact
    background white
    color color-text-gray
    div, p, a, h3
      color: color-text-gray
      border-color: color-text-gray

  #contact
     .wufoo *
       background-color white
       color color-text-gray

@media screen and (min-width: 40em)
	#main
		.content-module
			padding-top 1em!important