block vars
  - pageClassName = 'garden-history app-page single-page'

extends ../layout

block head
  mixin requirejs("/assets/js/pages/gardens/history")

block css

block content
  section.header
    header
      include ../includes/nav/main

  section#main(role="main", class="main", ng-controller="bpn.controllers.gardens.history.Main")
    h2.page-heading Garden
    div.separator-top
      img.page-spinner.spinner(src="/assets/img/spinner.svg", ng-hide="true")
      div(ng-cloak)

block footer-scripts

  script
    bpn.pageData = {
      garden : !{JSON.stringify(growPlanInstance)},
      sensors : !{JSON.stringify(sensors)},
      controls : !{JSON.stringify(controls)}
    };