ul
  li
    ul
      li 
        h3 Grow Plan
      li.endpoint List: HTTP GET bitponics.com/api/grow_plan/
      li.endpoint Create: HTTP POST bitponics.com/api/grow_plan/
      li.endpoint Read: HTTP GET bitponics.com/api/grow_plan/:id
      li.endpoint Update: HTTP PUT bitponics.com/api/grow_plan/:id
      li.endpoint Delete: HTTP DELETE bitponics.com/api/grow_plan/:id
