div#dashboard.user-page
  nav
    ul
      li.first.logo.stack1of5
        a(href="#").stackContent bitponics
      li.growing-plan.stack3of5
        a(href="#").stackContent Tomatoes
          span.triangle-down
      li.last.user.stack1of5
        a(href="#").stackContent Amit Kumar
          span.icon
  section
    header
      h1.stackContent Friday, November 18, 2011
