div#dashboard.user-page
  nav
    ul
      li.first.logo.stack1of5
        a(href="#").stackContent.padding-20 bitponics
      li.growing-plan.stack3of5
        a(href="#").stackContent.padding-20 Tomatoes
          span.triangle-down
      li.last.user.stack1of5
        a(href="#").stackContent.padding-20 Amit Kumar
          span.icon
  section
    header.default-border-b
      h1.stack4of5.date
        span.stackContent.padding-20 Friday, November 18, 2011
      h2.stack1of5.time
        span.stackContent.padding-20 8:32 AM
    ul.default-border-b.clearfix
      li.stack1of4.first
        section.light.stackContent.default-border-r
          header 
            h2.uppercase.text-align-c Light
            span.warning
          span.display-t.centered
            span.icon
            span.number 18
            span.metric.uppercase hrs/day
      li.stack1of4
        section.ectds.stackContent.default-border-r
          header 
            h2.uppercase.text-align-c ec/tds
            span.warning
          span.display-t.centered
            span.icon
            span.number 550
            span.metric.uppercase ppm
      li.stack1of4
        section.air.stackContent.default-border-r
          header
            h2.uppercase.text-align-c air
            span.warning
          span.display-t.centered
            span.icon
            span.number 75
            span.metric.uppercase &deg;F
      li.stack1of4.last
        section.water.stackContent
          header
            h2.uppercase.text-align-c water
            span.warning
          span.display-t.centered
            span.icon
            span.number 75 
            span.metric.uppercase &deg;F
