div#dashboard.page
  ul
    li.first.logo.stack1of5
      a(href="#").stackContent bitponics
    li.growing-plan.stack3of5
      a(href="#").stackContent Tomatoes
    li.last.user.stack1of5
      a(href="#").stackContent Amit Kumar
  section
    header
      h1 Friday, November 18, 2011
