div#dashboard.user-page
  nav
    ul
      li.first.logo
        a(href="#") bitponics
      li.growing-plan
        a(href="#") Tomatoes
          span.triangle-down
      li.user
        a(href="#") Amit Kumar
          span.icon
      li.language
        a(href="#") English
          span.icon
      li.last.settings
        a(href="#") Settings
          span.icon
  section
    header.default-border-b
      h1.date
        span Friday, November 18, 2011
      h2.time
        span.text-align-r 8:32 AM
    ul#data-panels.default-border-b.clearfix
      li.first
        section.light.default-border-r
          header 
            h2.uppercase.text-align-c Light
            span.warning
          span.display-t.centered
            span.icon
            span.number 18
            span.metric.uppercase hrs/day
          div.data-graph
      li
        section.ectds.default-border-r
          header 
            h2.uppercase.text-align-c ec/tds
            span.warning
          span.display-t.centered
            span.icon
            span.number 550
            span.metric.uppercase ppm
          div.data-graph
      li
        section.air.default-border-r
          header
            h2.uppercase.text-align-c air
            span.warning
          span.display-t.centered
            span.icon
            span.number 75
            span.metric.uppercase &deg;F
          div.data-graph
      li.last
        section.water
          header
            h2.uppercase.text-align-c water
            span.warning
          span.display-t.centered
            span.icon
            span.number 75 
            span.metric.uppercase &deg;F
          div.data-graph
  section
    div#graph-timeline
      div.progress
    nav#graph-nav
      div.arrow-left.xlarge
      div.arrow-right.xlarge

