<!doctype html>
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css?v=1">
 
</head>

<body>

  <div id="container">
    <header>
		<h1>bitponics</h1>
    </header>
    <div id="main" role="main">
		
    </div>
    
    <footer>

    </footer>
  </div> <!--! end of #container -->


  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
