!!! 5
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    != partial('./partials/head/head-content')
    script(src='//code.jquery.com/jquery-1.7.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/assets/js/plugins/jquery.flot.js')
  body
    div.stack.wrapper
      != body
    
    != partial('./partials/footer/main')
    
  
