.stackContent
  h1(class="h1") Register your account by verifying your email address.

- if ('undefined' !== typeof errors && errors.length)
  .stackContent
    ul#errors
      - each error in errors
        li.error= error

- else
  - if ('undefined' !== typeof newUser)
    h2 #{newUser.id} - #{title}
  - else
    h2 Error - #{title}