div(class="stackContent")
  h1(class="h1") Sign Up

div(class="stackContent")
  form()
    div(class="stack1of4")
      div(class="stackContent")
        label(for="login-email") Email
    div(class="stack3of4")
      div(class="stackContent")
        input(id="login-email", name="login-email", type="email") 
    div(class="stack1of4")
      div(class="stackContent")
        label(for="login-password") Password
    div(class="stack3of4")
      div(class="stackContent")
        input(id="login-password", name="login-password", type="password") 
    div(class="stack1of4")
      div(class="stackContent")
        label(for="login-confirm-password") Confirm Password
    div(class="stack3of4")
      div(class="stackContent")
        input(id="login-confirm-password", name="login-confirm-password", type="password") 
    div(class="stackContent")
      input(id="login-submit", name="login-submit", type="submit")
