div(id="content", class="wrapper position-r")
	div(id="oshw", class="position-a")
		a(href="http://freedomdefined.org/OSHW")
			img(title="oshwv1", src="//www.openhardwaresummit.org/wp-content/uploads/2011/08/oshw-logo-100-px.png", alt="Open Hardware Summit", width="50")
	div(id="top")
		p(id="description") Bitponics is an open source networked home hydroponics monitoring system. It tracks light, humidity, temperature, pH, and PPM and transmits these readings via WIFI to a web database. Once online, you are able to analyze and visualize this data from a web dashboard. The interface also controls the intervals of pumps and lighting in your system. It is geared to educate and give a better understanding of how plants grow and function.<b> The system is currently in development, so follow us on <a href="http://twitter.com/bitponics">twitter</a> or subscribe to our mailing list to be notified of updates.</b>

	div(id="mailing-list", class="block")
		div(id="mc_embed_signup")
			form(action="http://bitponics.us2.list-manage1.com/subscribe/post?u=68c690cb49ec37200919b6e55&amp;id=9b5ad31a92", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank")
				label(for="mce-EMAIL") Want to stay updated on our progress? Subscribe to our mailing list. We promise not to abuse your email; we hate spam as much as you do.
					input(type="email", value="", name="EMAIL", class="email", id="mce-EMAIL",placeholder="email address", required="required")
					div(class="clear")
						input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe", class="button")
			
	div(id="contact", class="block")
		h2 Send us your feedback; we'd love to hear your thoughts on the project	
		script(type="text/javascript")
			var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
		// keep these two script blocks separate, otherwise form will not fire
		script(type="text/javascript")
			var m7x4a3 = new WufooForm();
			m7x4a3.initialize({
				'userName':'greatsoles', 
				'formHash':'m7x4a3', 
				'autoResize':true,
				'height':'514',
				'header':'hide'
			});
			m7x4a3.display();

	script(type="text/javascript")
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-25720930-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();


