nav(role="nav", ng-controller="bpn.controllers.Nav", ng-class="{'open':navMenuDisplayVisible}")
  ul
    li(class="nav-section first")
      h1(class="logo icon", role="banner")
        a(href="/", data-page-include="false") 
          | bitponics
          span &trade;
        | <i class="icon-glyph icon-glyphlogo-new" aria-hidden="true"></i>
      - var pageType = pageType || null;
      if !!pageType && pageType == 'landing-page'  

          li.nav-section(ng-click="toggleNavMenu()")
            ul
              li(class="howitworks", data-name="how-it-works")
                a(href="/how-it-works") How It Works

          li.nav-section(ng-click="toggleNavMenu()")
            ul
              li(class="pricing", data-name="pricing") 
                a(href="/pricing") Pricing

          //- li.nav-section(ng-click="toggleNavMenu()")
          //-   ul
          //-     li(class="buy", data-name="buy") 
          //-       a(href="/buy", data-page-include="false") Buy

          li.nav-section(ng-click="toggleNavMenu()")
            ul
              li(class="press", data-name="press")
                a(href="/press") Press
          
          li.nav-section(ng-click="toggleNavMenu()")
            ul
              li(class="installs", data-name="installs")
                a(href="/installs") Installs

          li.nav-section(ng-click="toggleNavMenu()")
            ul
              li(class="contact", data-name="contact")
                a(href="/contact") Contact

          li.nav-section(ng-click="toggleNavMenu()")
            ul
              li(class="team", data-name="team") 
                a(href="/team") Our Team


          //-li(class="nav-section elevated-item")
            //- ul
            //-   li(class="getstarted", data-name="get-started")
            //-     a(href="/get-started", class="btn", data-page-include="false") Get Started

          li(class="nav-section social-icons")
            ul
              li 
                div
                  | Facebook
                a(href="https://www.facebook.com/Bitponics", data-page-include="false", target="_blank")
                  | <i class="icon-glyph icon-glyphfc-webicon-facebook" aria-hidden="true"></i>
              li
                div 
                  | Twitter
                a(href="https://www.twitter.com/bitponics", data-page-include="false", target="_blank")
                  | <i class="icon-glyph icon-glyphfc-webicon-twitter" aria-hidden="true"></i>
              li 
                div 
                  | Email
                a(href="contact", data-page-include="false")
                  | <i class="icon-glyph icon-glyphmail" aria-hidden="true"></i>

      if !pageType || pageType == 'app-page'
        if user && user.name
          li(class="nav-section app-user")
            span welcome back, 
            a(href, ng-click="toggleSettings()")
              if user.name.full != ''
               | #{user.name.full}
              else
               | #{user.email}
            div(class="settings", ng-click="toggleSettings()")
              div(class="settings-display", ng-class="{'visible':settingsDisplayVisible}")
                h2 Account Settings
                ul
                  if typeof growPlanInstance !== 'undefined'
                    li
                      a(href="/grow-plans/#{growPlanInstance.growPlan._id}") Grow Plan Details
                  li
                    a(href="/account/profile") Profile
                  li
                    a(href="/gardens") Gardens
                  li
                    a(href="/account/devices") Devices
  
  if !!pageType && pageType == 'landing-page'  
    button.toggle-menu(ng-cloak, ng-click="toggleNavMenu()")
      span Menu
      //- i(class="icon-glyph-new icon-01_-", aria-hidden="true", ng-hide="navMenuDisplayVisible")
      i(class="font-style-normal", aria-hidden="true", ng-hide="navMenuDisplayVisible") &#9776;
      i(class="icon-glyph-new icon-28_x", aria-hidden="true", ng-show="navMenuDisplayVisible")
      