nav(role="nav")
  ul
    li(class="nav-section first")
      h1(class="logo icon", role="banner")
        div 
          | Bitponics
          span &trade;
        | <i class="icon-glyph icon-glyphlogo-new" aria-hidden="true"></i>
    
    li.nav-section
      ul
        li(class="howitworks", data-name="howitworks")
          a(href="/howitworks") How It Works

    li.nav-section
      ul
        //- li(class="gallery", data-name="gallery")
        //-   a(href="/gallery") Gallery
        li(class="press", data-name="press")
          a(href="/press") Press
    
    li.nav-section
      ul
        li(class="pricing", data-name="pricing") 
          a(href="/pricing") Pricing

    li.nav-section
      ul
        li(class="contact", data-name="contact")
          a(href="/contact") Contact

    li.nav-section
      ul
        li(class="team", data-name="team") 
          a(href="/team") Our Team

    li(class="nav-section elevated-item")
      ul
        li(class="getstarted", data-name="getstarted")
          a(href="/getstarted", class="btn") Get Started

    li(class="nav-section social-icons")
      ul
        li 
          div Facebook
          | <i class="icon-glyph icon-glyphfc-webicon-facebook" aria-hidden="true"></i>
        li
          div Twitter
          | <i class="icon-glyph icon-glyphfc-webicon-twitter" aria-hidden="true"></i>
        li 
          div Email
          | <i class="icon-glyph icon-glyphmail" aria-hidden="true"></i>