extends layout

block content

  section.header
      header
        include /includes/nav/main

  section#main(role="main")
    h3(class="page-heading nav-section") 
      div Register for your bitponics account.
      ul
        li Get access to preorder offers
        li Receive news and announcements
        li Third incentive

    div(class="page-content")
      
        
  section#footer

block footer-scripts
