section#main(role="main", class="main")
	div(class="page-content")
		h3(class="page-heading nav-section")
			| Sign up for your bitponics account
		div Enter an email and password, and you'll be on your way.
		form.register-form(id="register-form", method="POST", action="/signup")
			label(for="email") Email
			input(id="email", name="email", type="email", autofocus="autofocus", required) 
			label(for="password") Password
			input(id="password", name="password", type="password", required) 
			
			input.unstyled.newsletter(id="newsletter", type="checkbox", name="newsletter")
			label.inline.newsletter(for="newsletter") Sign up for the Bitponics newsletter
			
			input(type="submit", value="Submit")